[2021-05-31 17:13] prathimacode-hub opened #2 "Star the repo 🌟"
Consider starring this repository if you found this project helpful.

[2021-05-31 17:13] prathimacode-hub opened #3 "Fork the repo 🍴"
Never work on master branch. Kindly fork it to your local repository before you start contributing.

[2021-05-31 17:14] prathimacode-hub opened #4 "Contribute to this repo 🔔"
Contribute to this respository to shower your love towards this project and getting started with Open Source/Github.

[2021-06-01 16:43] theanshulcode commented on #4
I am ready to contribute in this project.

[2021-06-01 16:44] theanshulcode commented on #3
Done!

[2021-06-01 16:48] prathimacode-hub commented on #4
Great to see your initiation. Go through the contributing guidelines and kindly raise an issue of the project you are going to contribute. All the best. @theanshulcode 👍

[2021-06-01 16:49] theanshulcode commented on #4
Thank You @prathimacode-hub .

[2021-06-02 16:37] Rutikab12 commented on #4
Hey, @prathimacode-hub I will also love to contribute to this repo.

[2021-06-02 16:59] prathimacode-hub commented on #4
Sure, go ahead. Raise a new issue of the project that you are going to contribute. @Rutikab12

[2021-06-03 16:02] prathimacode-hub opened #7 "Adding ML Scripts to this kart"
This issue is specifically created for those who have fair knowledge on algorithms and want to explore on ML projects.

This repository would have all the wide range of projects from machine learning, deep learning, computer vision, natural language processing etc.
Add basic and advance ML projects in 'ML-ProjectKart' repository.

Repository : ML-ProjectKart
Level : Easy and Medium

Do check if th

[2021-06-03 16:05] theanshulcode opened #8 "Customer Segmentation using ML"
This project is related to Customer Segmentation, in which I would be using Unsupervised ML Algorithm called Clustering on the Mall Customer Dataset.

Please assign this task to me @prathimacode-hub .

[2021-06-03 16:29] prathimacode-hub commented on #8
Yup, go ahead. Great to know. It's an interesting project. I am assigning this task to you. @theanshulcode

[2021-06-03 16:45] theanshulcode commented on #8
Thank you @prathimacode-hub .

[2021-06-05 14:23] raunak51299 opened #9 "Adding SVM model to predict heart disease."
I would like to work on this issue when the coding round begins for LGM SOC.

[2021-06-05 14:37] prathimacode-hub commented on #9
Glad to know your interest. Can you mention the project title as well in this issue. So that I can keep this issue assigned to you. @raunak51299

[2021-06-05 14:55] raunak51299 commented on #9
Sure, It would be **Heart Disease prediction using SVM**.

[2021-06-05 15:36] prathimacode-hub commented on #9
Sure. So I will assign this issue to you timely. But also do make sure to create a new issue stating the project title and what it does when contribution period starts. So that label can be assigned then. @raunak51299

[2021-06-05 15:37] prathimacode-hub commented on #8
Have you created a new PR again with this project? @theanshulcode

[2021-06-05 16:03] theanshulcode commented on #8
No

[2021-06-05 16:05] prathimacode-hub commented on #8
I guess you have closed that PR. Any queries, don't hesitate to ask. You can create a new PR for the project. 👍 @theanshulcode

[2021-06-05 16:14] theanshulcode commented on #8
That PR is different, the one in which I had made a mistake.

For "Customer Segmentation using ML", I have not made any PR till now.

[2021-06-06 11:39] SoyabulIslamLincoln opened #10 "Object detection Using YOLOv5"

[2021-06-06 12:43] prathimacode-hub commented on #10
Can you elaborate the project and what it does? Also do mention the project title. @SoyabulIslamLincoln

[2021-06-06 12:55] SoyabulIslamLincoln commented on #10
Yes, In this project I am going to use object detection model YOLOv5. This will be a real time object detection. There will be squared block and name of the object detected on running video like car, human, animals etc.
The title will be- Real Time Object detection

[2021-06-06 12:57] SoyabulIslamLincoln commented on #10
Additionally, adding user interface with the counting of detected objects

[2021-06-06 13:36] prathimacode-hub commented on #10
That's great. Sounds interesting. I had assigned this issue to you. Go ahead. 👍@SoyabulIslamLincoln

[2021-06-06 13:46] SoyabulIslamLincoln commented on #10
Thanks a lot @prathimacode-hub .

[2021-06-07 12:17] SoyabulIslamLincoln commented on #10
Thanks a lot @prathimacode-hub .

[2021-06-07 13:54] prathimacode-hub commented on #10
Why had you closed the issue? You should never close the issue from your end even if you raise a PR. Don't you want to work on this issue? @SoyabulIslamLincoln

[2021-06-07 14:16] SoyabulIslamLincoln commented on #10
Yes yes. I thought chat was closed
I want to do the task

[2021-06-07 14:16] SoyabulIslamLincoln commented on #10
It was a mistake from my side @prathimacode-hub . I want to complete the issue.

[2021-06-07 14:28] prathimacode-hub commented on #10
Ok, sure. Assigned you back. @SoyabulIslamLincoln

[2021-06-08 09:05] prathimacode-hub opened #12 "Speech Emotion Recognition"
Hey LGM-SoC participants, good to see you.

The speech emotion recognition system uses audio data to identify different emotions like happy, sad, surprised, angry etc

Dataset : https://www.kaggle.com/uwrfkaggler/ravdess-emotional-speech-audio

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

E

[2021-06-08 09:06] prathimacode-hub opened #13 "Credit Card Fraud Detection"
Hey LGM-SoC participants, good to see you.

This project detects for fraudelent or genuine with credit card transactions.

**Dataset** : https://www.kaggle.com/mlg-ulb/creditcardfraud

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

Enjoy your open source journey!😎

[2021-06-08 09:07] prathimacode-hub opened #14 "Sign Language Prediction"
Hey LGM-SoC participants, good to see you.

With this project, you should be able to predict the sign language using hand gestures.

Dataset : https://www.kaggle.com/datamunge/sign-language-mnist

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

Enjoy your open source journey!😎

[2021-06-08 09:09] prathimacode-hub opened #15 "Stress Level Prediction"
Hey LGM-SoC participants, good to see you.

This project should help you in predicting your stress level.

Dataset : https://www.kaggle.com/shivamb/ideal-student-life-survey

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

Enjoy your open source journey!😎

[2021-06-08 09:10] prathimacode-hub opened #16 "Traffic Sign Classification"
Hey LGM-SoC participants, good to see you.

This project should help you in classifying it according to the traffic signs.

Dataset : https://www.kaggle.com/flo2607/traffic-signs-classification

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

Enjoy your open source journey!😎

[2021-06-08 09:12] prathimacode-hub opened #17 "Fake News Detection"
Hey LGM-SoC participants, good to see you.

This project detects to identify whether the news is real or fake.

**Dataset** :  https://www.kaggle.com/c/fake-news/data

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

Enjoy your open source journey!😎

[2021-06-08 09:15] prathimacode-hub opened #18 "Stock Price Prediction"
Hey LGM-SoC participants, good to see you.

Predicts the stock price to know the future value and gain significant profits.

**Dataset** : https://www.kaggle.com/daiearth22/uniqlo-fastretailing-stock-price-prediction

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

Enjoy your open source journ

[2021-06-08 09:17] prathimacode-hub opened #19 "Music Genre Classification"
Hey LGM-SoC participants, good to see you.

This project should automatically classify different musical genres from audio.

GTZAN Genre dataset : http://marsyas.info/downloads/datasets.html

If you like to work on this issue, follow the given guidelines for code as well as for the README.

Enjoy your open source journey!😎

[2021-06-08 09:22] prathimacode-hub opened #20 "Drowsiness Detection using Computer Vision"
Hey LGM-SoC participants, good to see you.

Using OpenCV, this project should be able to automatically detect the drowsiness of a person who is driving and buzzes an alarm when a person is drowsy

Refer this paper :  http://vision.fe.uni-lj.si/cvww2016/proceedings/papers/05.pdf.

If you like to work on this issue, follow the given guidelines for code as well as for the README.

Enjoy your open sou

[2021-06-08 09:29] prathimacode-hub opened #21 "Twitter Sentiment Analysis"
Hey LGM-SoC participants, good to see you.

This project analyses their sentiments by knowing the feelings of user shared on twitter.

Dataset : https://www.kaggle.com/crowdflower/twitter-airline-sentiment

If you like to work on this issue, follow the given guidelines for code as well as for the README.

Enjoy your open source journey!😎

[2021-06-08 09:31] prathimacode-hub opened #22 "Parkinson's Disease Prediction"
Hey LGM-SoC participants, good to see you.

Predicts whether the person is diagnosed with parkinson's disease or not

**Dataset** : https://www.kaggle.com/gargmanas/parkinsonsdataset

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

Enjoy your open source journey!😎

[2021-06-08 09:39] prathimacode-hub opened #23 "Titanic Survival Prediction"
Hey LGM-SoC participants, good to see you.

This project Predicting the chances of survival in RMSTitanic

**Dataset** : https://www.kaggle.com/c/titanic/data

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

Enjoy your open source journey!😎

[2021-06-08 09:53] prathimacode-hub opened #24 "Spam Message Detector"
Hey LGM-SoC participants, good to see you.

This project predicts whether the recieved message is spam or ham.

Dataset : https://www.kaggle.com/team-ai/spam-text-message-classification

If you like to work on this issue, follow the given guidelines for code as well as for the README.

Enjoy your open source journey!😎

[2021-06-08 09:57] prathimacode-hub opened #25 "Road Lane Detection"
Hey LGM-SoC participants, good to see you.

With this project, you should be able to detect the road and move forward in your own lane.

If you like to work on this issue, follow the given guidelines for code as well as for the README.

Enjoy your open source journey!😎

[2021-06-08 10:36] Manasi2001 opened #26 "Amazon Alexa Reviews Analysis"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/sid321axn/amazon-alexa-reviews) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper [project structure](https://github.com/prathimacode-hub/ML-ProjectKart#project-st

[2021-06-08 10:39] Manasi2001 opened #27 "House Price Prediction"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/shree1992/housedata). Try using at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper [project structure](https://github.com/prathimacode-hub/ML-ProjectKart#project-structure) for code as well as for the README.
Hap

[2021-06-08 10:48] Manasi2001 opened #28 "Churn Risk Score Prediction"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/imsparsh/churn-risk-rate-hackerearth-ml?select=train.csv) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper [project structure](https://github.com/prathimacode-hub

[2021-06-08 10:51] Manasi2001 opened #29 "Concrete Strength Prediction"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/prathamtripathi/regression-with-neural-networking) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper [project structure](https://github.com/prathimacode-hub/ML-Pro

[2021-06-08 10:53] Manasi2001 opened #30 "E-Mail Classification"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/datatattle/email-classification-nlp) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper [project structure](https://github.com/prathimacode-hub/ML-ProjectKart#proje

[2021-06-08 10:56] theanshulcode commented on #18
Please assign me this task @prathimacode-hub

[2021-06-08 10:56] Manasi2001 opened #31 "Flight Delay Prediction"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/usdot/flight-delays?select=flights.csv) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper [project structure](https://github.com/prathimacode-hub/ML-ProjectKart#pr

[2021-06-08 10:57] theanshulcode commented on #23
Please assign me this task @prathimacode-hub

[2021-06-08 10:57] theanshulcode commented on #17
Please assign this task @prathimacode-hub

[2021-06-08 10:58] Manasi2001 opened #32 "Ice Cream Revenue Prediction"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/vinicius150987/ice-cream-revenue) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper [project structure](https://github.com/prathimacode-hub/ML-ProjectKart#project-

[2021-06-08 10:59] Manasi2001 opened #33 "Income Classification"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/overload10/adult-census-dataset) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper [project structure](https://github.com/prathimacode-hub/ML-ProjectKart#project-s

[2021-06-08 11:01] prathimacode-hub commented on #23
Hey, this is only for LGM-SoC participants.

[2021-06-08 11:04] theanshulcode commented on #23
OK

[2021-06-08 11:04] Manasi2001 opened #34 "Mobile Price Range Classification"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/iabhishekofficial/mobile-price-classification?select=train.csv) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper [project structure](https://github.com/prathimaco

[2021-06-08 11:08] Manasi2001 opened #35 "NASA Asteroids Classification"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/shrutimehta/nasa-asteroids-classification) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper [project structure](https://github.com/prathimacode-hub/ML-ProjectKart

[2021-06-08 15:10] harshita9621 commented on #35
Hii, I would like to work on this issue as LGM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-08 15:10] Sumit11081996 commented on #35
Hii, I would like to work on this issue as LGM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-08 15:12] harshita9621 commented on #23
Hii, I would like to work on this issue as LGM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-08 15:13] prathimacode-hub commented on #35
Issues would be assigned only from June 10th on first come first serve basis. Stay tuned. @harshita9621

[2021-06-08 15:13] Sumit11081996 commented on #28
Hii, I would like to work on this issue as LGM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-08 15:13] harshita9621 commented on #4
Hii, I would like to work on this issue as LGM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-08 15:14] Sumit11081996 commented on #27
Hii, I would like to work on this issue as LGM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-08 15:15] prathimacode-hub commented on #28
Issues would be assigned only from June 10th on first come first serve basis. Stay tuned. @Sumit11081996

[2021-06-08 15:15] prathimacode-hub commented on #27
Issues would be assigned only from June 10th on first come first serve basis. Stay tuned. @Sumit11081996

[2021-06-08 15:16] prathimacode-hub commented on #23
Issues would be assigned only from June 10th on first come first serve basis. Stay tuned. @harshita9621

[2021-06-08 15:17] harshita9621 commented on #27
Hii, I would like to work on this issue as LGM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-08 15:18] harshita9621 commented on #28
Hii,  I would like to work on this issue as LGM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-08 16:07] prathimacode-hub opened #36 "IPL Score Prediction"
Hey LGM-SoC participants, good to see you.

This project predicts the score across the IPL 2020 season.

Dataset : https://www.kaggle.com/laxmena/ipl-dataset-2020-season-included

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

Enjoy your open source journey!😎

[2021-06-08 16:12] prathimacode-hub opened #37 "Uber Fare Prediction"
Hey LGM-SoC participants, good to see you.

This project predicts the fare from source to destination in new york city.

Dataset : https://www.kaggle.com/c/new-york-city-taxi-fare-prediction/data

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

Enjoy your open source journey!😎

[2021-06-08 16:15] prathimacode-hub opened #38 "Cats Vs Dogs Classification"
Hey LGM-SoC participants, good to see you.

With this project you should be able to classify whether images contain either a dog or a cat.

Dataset : https://www.kaggle.com/chetankv/dogs-cats-images

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

Enjoy your open source journey!😎

[2021-06-08 16:15] prathimacode-hub opened #39 "License Plate Detection and Recognition"
Hey LGM-SoC participants, good to see you.

The project helps in the locating the  license plate and extracting the number of the plate when provided with a vehicle image.

Dataset : Use the public dataset to work on.

If you like to work on this issue, follow the given guidelines for code as well as for the README.

Enjoy your open source journey!😎

[2021-06-08 16:16] prathimacode-hub opened #40 "Face Mask Detection using OpenCV"
Hey LGM-SoC participants, good to see you.

The project helps in detecting whether the person is wearing face mask or not.

Dataset : https://www.kaggle.com/omkargurav/face-mask-dataset

If you like to work on this issue, follow the given guidelines for code as well as for the README.

Enjoy your open source journey!😎

[2021-06-08 16:23] prathimacode-hub opened #41 "Handwritten Digit Recognition"
Hey LGM-SoC participants, good to see you.

The handwritten digit recognition is the ability of computers to recognize human handwritten digits. This project uses the image of a digit and recognizes the digit present in the image.

Dataset : https://www.kaggle.com/c/mnist-handwritten-digit-recognition/data

If you like to work on this issue, follow the given guidelines for code as well as for the

[2021-06-08 16:25] prathimacode-hub opened #42 "Loan Eligibility Prediction"
Hey LGM-SoC participants, good to see you.

With this project, it helps the company in knowing whether the person is eligible for loan or not, taking various parameters in consideration.

Dataset : https://www.kaggle.com/vikasukani/loan-eligible-dataset

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algo

[2021-06-08 16:27] prathimacode-hub opened #43 "Colour Identification using Machine Learning"
Hey LGM-SoC participants, good to see you.

This project uses Machine Learning to extract a set number of colors from an image.

Dataset : https://www.kaggle.com/adityabhndari/color-detection-data-set

If you like to work on this issue, follow the given guidelines for code as well as for the README.

Enjoy your open source journey!😎

[2021-06-08 16:28] prathimacode-hub opened #44 "Fake Currency Detection"
Hey LGM-SoC participants, good to see you.

Fake Currency Detection is a task of binary classification in machine learning. If we have enough data on real and fake banknotes, we can use that data to train a model that can classify the new banknotes as real or fake. This project would help in detecting whether the currency is real or fake.

Dataset : Use public dataset

If you like to work on this

[2021-06-08 16:30] prathimacode-hub opened #45 "Dog Breed Identification"
Hey LGM-SoC participants, good to see you.

This project would help in identifying the dog breed. If humans are detected, it would provide the estimate of the dog breed that's most resembling.

Dataset : Use public dataset

If you like to work on this issue, follow the given guidelines for code as well as for the README.

Enjoy your open source journey!😎

[2021-06-08 16:41] prathimacode-hub opened #46 "Air Quality Prediction"
Hey LGM-SoC participants, good to see you.

With the project, we can predict the air quality index (AQI) based on atmospheric elements in the environment.

Dataset : https://www.kaggle.com/shrutibhargava94/india-air-quality-data (or) Public Dataset.

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorith

[2021-06-08 16:46] prathimacode-hub opened #47 "Car Prices Prediction"
Hey LGM-SoC participants, good to see you.

This project will help in predicting the car prices.

Dataset : https://www.kaggle.com/hellbuoy/car-price-prediction

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

Enjoy your open source journey!😎

[2021-06-08 16:48] prathimacode-hub opened #48 "Employee Retention Prediction"
Hey LGM-SoC participants, good to see you.

This project will help in predicting the chances of employee leaving the company.

Dataset : Use public dataset

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

Enjoy your open source journey!😎

[2021-06-08 16:50] prathimacode-hub opened #49 "Emoji Classification using OpenCV"
Hey LGM-SoC participants, good to see you.

This project will help in classify an image according to its visual content and then convert the label output to emoji output It classifies by collecting the user's photos.

Dataset : https://www.kaggle.com/msambare/fer2013

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using

[2021-06-08 16:50] SamikshaSankar commented on #7
Can you please explain what to do in this issue. Where I get ML Scripts for adding to the documentation

[2021-06-08 16:54] prathimacode-hub commented on #7
Are you a LGM-SOC participant? @SamikshaSankar

[2021-06-08 17:03] SamikshaSankar commented on #7
Yes @prathimacode-hub

[2021-06-08 17:04] prathimacode-hub opened #50 "Tetris Object Counter using OpenCV"
Hey LGM-SoC participants, good to see you.

This project helps in counting the no of objects present in a tetris image. It uses OpenCV and imutils.

If you like to work on this issue, follow the given guidelines for code as well as for the README.

Enjoy your open source journey!😎

[2021-06-08 17:11] prathimacode-hub commented on #7
This issue is created for general contributors. Issues raised for LGM-SOC participants has a label. You can get it assigned only from June 10th. @SamikshaSankar

[2021-06-08 17:39] payaldutta commented on #46
Hey, I am interested in this issue can you please elaborate it what actually I have to do, and along with please assign me this issue under LGM-SC'21. @prathimacode-hub
ThanK You

[2021-06-08 17:42] prathimacode-hub commented on #46
This issue is predicting the air quality based on considering various atmospheric materials in the environment. Issues will assigned only from 10th June starting from 10AM. You can express your interest then. @payaldutta

[2021-06-08 18:21] Rutikab12 commented on #42
I would love to work on this issue.  Do assign me if possible.

[2021-06-08 20:26] Chanakya-Sharma commented on #47
Can you assign me this

[2021-06-08 20:27] Chanakya-Sharma commented on #41
Can you assign me this

[2021-06-08 20:28] Chanakya-Sharma commented on #40
Can you assign me this

[2021-06-08 20:29] Chanakya-Sharma commented on #38
Can you assign me this

[2021-06-08 20:32] Chanakya-Sharma commented on #2
Can you assign me this

[2021-06-08 20:32] Chanakya-Sharma commented on #2
I have starred the repo @prathimacode-hub

[2021-06-09 04:50] prathimacode-hub commented on #47
Issues will be assigned only from tomorrow. You will get all the details of how to get it assigned by today evening in slack channel. @Chanakya-Sharma

[2021-06-09 04:51] prathimacode-hub commented on #38
Issues will assigned from tomorrow according to guidelines on first come first serve basis.

[2021-06-09 04:53] prathimacode-hub commented on #42
Assigning issues would start from tomorrow, 10AM on first come first serve basis. So stay tuned. You will get all the details on how to get it assigned by today evening in slack channel. @Rutikab12

[2021-06-09 04:53] prathimacode-hub commented on #41
Assigning issues would start from tomorrow, 10AM on first come first serve basis. So stay tuned. You will get all the details on how to get it assigned by today evening in slack channel. @Chanakya-Sharma

[2021-06-09 04:53] prathimacode-hub commented on #40
Assigning issues would start from tomorrow, 10AM on first come first serve basis. So stay tuned. You will get all the details on how to get it assigned by today evening in slack channel. @Chanakya-Sharma

[2021-06-09 05:03] Rutikab12 commented on #42
okay

[2021-06-09 05:34] NEERAJAP2001 opened #51 "Classifying imagenet Images and Classes"
Tasks Include :
* Create a Vgg-19 Model for classifying imagenet images
* Create a simple web app with Flask and Html/CSS/Js
* Upload an image to predict the class of the image.

    Dataset-[Here](https://www.tensorflow.org/datasets/catalog/imagenet2012)

The dataset will be loaded in the code itself, We do not require any manual downloading as it's huge around 15GB.

It has over 200 classes with

[2021-06-09 05:36] NEERAJAP2001 opened #52 "Car Brand Classification using Resnet50"
---
Title: Car Brand Classification
Name: Neeraj Ap
Label: Feature Request
---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

About :
Create a Car Brand Classification Project

Tasks:

* Uses Deep learning to detect car brands
* I'm assuming to solve this using resnet50( transfer learning ) but let's see how it goes.
* Dataset consists of Images of 3 different brands ( I'll give the

[2021-06-09 05:38] NEERAJAP2001 opened #53 "Generate Celebrity's Face using DCGAN"
I'd Like to add Generating Face Project.
I would be using [This](http://mmlab.ie.cuhk.edu.hk/projects/CelebA.html) Data set to generate faces of celebrities using DCGAN.( will be following the total pipeline)

In this project, I'll define and train a DCGAN on a dataset of faces. the goal is to get a generator network to generate new images of faces that look as realistic as possible!
1.I'll use, C

[2021-06-09 05:40] NEERAJAP2001 opened #54 "Emotion Recognizer in Python( NLP Based )"
Hello!! I have an NLP-based Project Idea.
Problem staement : Emotion Recogiser
I've been working on this already would be happy to add this project here.
Here is  a [glimpse](https://github.com/NEERAJAP2001/EmoRec)
Please assign this issue to me so that I can start working.
Thanks

I'd Like to work on this as part of LGMSOC-21

I will work on front end + model + backend of the Project ( Fullstack

[2021-06-09 05:59] prathimacode-hub commented on #54
I understood your projects, you experssed your interest in . All sounds interesting. But issues should be raised only from tomorrow morning 10AM. You have should follow the templates given in README file of the project when you raise a new issue from your end. That is to know you as LGM-SOC particpant. Also make sure to check, if issue is in the list. Emotion recognizer is already in the issues li

[2021-06-09 06:02] NEERAJAP2001 commented on #54
Thanks @prathimacode-hub for clarification.
Hope to contribute!
Thanks

[2021-06-09 06:03] prathimacode-hub commented on #54
You're welcome. Looking forward to your projects. I will update with the process of how to get it assigned in slack channel by today evening.👍

[2021-06-09 06:50] prathimacode-hub commented on #54
Yeah, and when you raise a issue next time, do also mention the task you will be working on : Like Model Creation (or) Front End (or) Back End (or) Data Analysis (or) UI/UX Design along with the above mentioned details using template. @NEERAJAP2001

[2021-06-09 09:38] Sumit11081996 commented on #4
Hii, I would like to work on this issue as LGM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-09 09:39] harshita9621 commented on #22
Hii, @prathimacode-hub I would like to work on this issue as LGM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-09 09:44] harshita9621 commented on #36
Hii, I would like to work on this issue as LGM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-09 10:37] harshita9621 commented on #47
Hii, I would like to work on this issue as LGM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-09 10:44] harshita9621 commented on #18
Hii, I would like to work on this issue as LGM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-09 10:48] Sumit11081996 commented on #18
Hii, I would like to work on this issue as LGM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-09 10:49] Sumit11081996 commented on #12
Hii, I would like to work on this issue as LGM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-09 10:52] prathimacode-hub commented on #47
Sorry to say but I won't be able to assign you now. I have to follow some guidelines. But stay tuned, and express your interest promptly tomorrow after 10AM. It would be first come, first serve basis. 👍@harshita9621

[2021-06-09 10:56] prathimacode-hub commented on #4
Issues would be assigned only from June 10th on first come first serve basis. Stay tuned. This is notification and only for other contributors who are not part of this program. For LGM-SOC participants, they have to raise a new issue using template given or get yourself assigned to the existing issues with LGM-SOC'21 label. @harshita9621 @Sumit11081996

[2021-06-09 11:29] #53 closed

[2021-06-09 14:21] Soumayan-pal01 commented on #40
Hey @prathimacode-hub I would really like to work on this issue using the Haar Cascades and Caffe framework approaches as a LGM SOC participant. Please assign me this issue if possible. Thank you.

[2021-06-09 14:25] prathimacode-hub commented on #40
Glad to know. Kindly express your interest tomorrow on 10th June, starting from 10AM. Issues would assigned on first come first serve basis. So stay tuned and act promptly after stipulated time. @Soumayan-pal01

[2021-06-09 14:31] Jai-Agarwal-04 commented on #48
Please assign this issue to me

[2021-06-09 14:31] Soumayan-pal01 commented on #48
Hey @prathimacode-hub I would like to contribute to this issue as I have already worked on similar projects like this. Please assign me this issue if possible. Thank you.

[2021-06-09 14:35] Soumayan-pal01 commented on #37
Hey @prathimacode-hub  Please assign me this issue if possible. I have worked on various fare prediction models before and would love to work on this project.

[2021-06-09 14:39] Soumayan-pal01 commented on #40
Okay, Thank you for the much valued information.

[2021-06-09 14:39] Jai-Agarwal-04 commented on #48
I am LGMSOC'21 participant Can you please assign me this!

[2021-06-09 14:40] prathimacode-hub commented on #48
Issues will be assigned on first come, first serve basis from tomorrow, starting 10AM. So best of luck. @Jai-Agarwal-04

[2021-06-09 14:44] prathimacode-hub commented on #37
Glad to know. Express you interest from tomorrow, starting 10AM. It would be assigned on first come first serve basis. @Soumayan-pal01

[2021-06-09 14:59] Subhangini opened #55 "Issue template not working"
I saw the repo and found that there is an issue template but it's not working when I am here to create an issue so I want to solve this problem.
Please assign this issue to me.

[2021-06-09 15:08] prathimacode-hub commented on #55
Issue template is .md file, not a .yml file (.yml file is interactive but .md file is only to take this as a template).
.md file is always like a README file. When you fork the project, you can copy the template and raise an issue using the template given. Issues assigning would be starting from 10th June, from 10AM onwards. I kindly request you to raise an issue by then if you like to work on you

[2021-06-09 15:14] prathimacode-hub commented on #55
If you want to work on this issue, you can. Always welcome to make it interactive, but this won't come under counting towards LGM-SOC. Is this ok for you? @Subhangini

[2021-06-09 15:27] noviicee commented on #49
Hey @prathimacode-hub
Can I work on this under LGM-SOC'21 ?

[2021-06-09 15:29] noviicee commented on #50
Hey @prathimacode-hub
Can I work on this under LGM-SOC'21 ?

[2021-06-09 17:24] raunak51299 commented on #32
I would like to work on this. Please assign me on 10th.

[2021-06-09 17:29] prathimacode-hub commented on #32
Go through the pinned message in project channel. I have cleared mentioned in the enclosed document. The one who expresses their interest to work on a particular issue first on 10th june, after 10AM would be assigned to this issue. So stay tuned and all the best. This is to be fair with everyone. @raunak51299

[2021-06-09 17:47] prathimacode-hub commented on #50
Issue would be assigned from June 10th, 10AM. Express interest after 10AM promptly to get this issue asigned it to you. It would be on first come first serve basis. Check out the enclosed document pinned on project channel in slack to clarify your queries. @noviicee

[2021-06-09 18:09] sy07 commented on #36
Hi mam, I would like to work on this issue as LGM-SOC'21 participant from June 10. Do assign me if possible.
Thank You!

[2021-06-09 18:09] sy07 commented on #38
Hi mam, I would like to work on this issue as LGM-SOC'21 participant from June 10. Do assign me if possible.
Thank You!

[2021-06-09 18:12] sy07 commented on #18
Hi mam, I would like to work on this issue as LGM-SOC'21 participant from June 10. Do assign me this task tomorrow if possible.
Thank You!

[2021-06-09 18:12] sy07 commented on #47
Hi mam, I would like to work on this issue as LGM-SOC'21 participant from June 10. Do assign me this task tomorrow if possible.
Thank You!

[2021-06-09 18:15] prathimacode-hub commented on #36
Good to see your interest with the issue. But assignment to issues for ML-ProjectKart would start from June10th, 10AM. It would be on FCFS basis. So be prompt enough to respond after the given time. Only participants who expresses their interest first after 10AM would be assigned with the issue. Also I had added up an enclosed document of things you need to follow. It's pinned to the project chann

[2021-06-09 18:15] prathimacode-hub commented on #38
Good to see your interest with the issue. But assignment to issues for ML-ProjectKart would start from June10th, 10AM. It would be on FCFS basis. So be prompt enough to respond after the given time. Only participants who expresses their interest first after 10AM would be assigned with the issue. Also I had added up an enclosed document of things you need to follow. It's pinned to the project chann

[2021-06-09 18:17] sy07 commented on #38
Okay mam,
Thank You

[2021-06-09 18:19] prathimacode-hub commented on #18
Also note it, don't rush over issues. All LGM-SOC participants are allowed to work on 1 issue at a time. It's your learning opportunity, a way to collaborate, don't think it as a competition. That's the beauty of open source. @sy07

[2021-06-09 18:21] sy07 commented on #36
Mam can you please share the link of project channel. which is on slack

[2021-06-10 04:07] Rutikab12 commented on #42
Hey @prathimacode-hub can I now work on it.

[2021-06-10 04:22] prathimacode-hub commented on #42
It's not 10AM yet. Be prompt when it ticks the time. @Rutikab12

[2021-06-10 04:29] Rutikab12 commented on #42
okay..

[2021-06-10 04:30] Sumit11081996 commented on #28
Hii, I would like to work on this issue as LGM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-10 04:30] Soumayan-pal01 commented on #40
Hey @prathimacode-hub  I would really like to work on 'Model Creation' for this issue as a LGM-SOC participant, using the Haar Cascades and Caffe framework approaches for face detection and a finetuned MobileNetV2 model to detect masks on face taking real time video stream as input. Please assign me this issue if possible. Thank you.

[2021-06-10 04:30] harshita9621 commented on #22
Hii, @prathimacode-hub I would like to work on this issue as LGM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-10 04:30] Soumayan-pal01 commented on #37
Hey @prathimacode-hub I would really like to work on 'Model Creation' for this issue as a LGM-SOC participant to predict the fare using different exploratory data analysis techniques to analyse the dataframe and perform data preprocessing to get good accuracy using Random forest, KNN, and other approaches. Would be using the concept of Hyperparameter tuning to increase the efficiency of the model.

[2021-06-10 04:30] harshita9621 commented on #23
Hii, @prathimacode-hub I would like to work on this issue as LGM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-10 04:30] sy07 commented on #36
Hi mam, I would like to work on this issue as LGM-SOC'21 participant from June 10. Do assign me this task if possible. I would like to work on data.
Thank You!

[2021-06-10 04:30] Sumit11081996 commented on #37
Hii, I would like to work on this issue as LGM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-10 04:31] Sumit11081996 commented on #35
Hii, I would like to work on this issue as LGM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-10 04:31] Soumayan-pal01 commented on #13
Hey @prathimacode-hub I would really like to work on 'Model Creation' for this issue as a LGM-SOC participant to detect the credit card frauds using different EDA approaches, deal with imbalance data and oversampling. Lastly, will be using hypertuned bagging(Decision Tree, Random forest) and boosting techniques (XG-Boost) to predict result and discover model accuracy. Please assign me this issue i

[2021-06-10 04:31] noviicee commented on #50
Can I take this up as a part of lgm-soc'21?

[2021-06-10 04:31] noviicee commented on #49
@prathimacode-hub
Can I take this up as a part of lgm-soc'21?

[2021-06-10 04:31] Sumit11081996 commented on #35
Hii, I would like to work on this issue as LGM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-10 04:32] harshita9621 commented on #27
Hii, @prathimacode-hub I would like to work on this issue as LGM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-10 04:32] Soumayan-pal01 commented on #42
Hey @prathimacode-hub I would really like to work on 'Model Creation' for this issue as a LGM-SOC participant to find whether the person should be given loan or not using different supervised classification ML algorithms like Decision Tree, LDA, SVC and few more. Please assign me this issue if possible. Thank you.

[2021-06-10 04:34] prathimacode-hub commented on #50
Yes, can you elaborate the project? @noviicee

[2021-06-10 04:35] prathimacode-hub commented on #49
You can take up only 1 issue at a time. @noviicee

[2021-06-10 04:36] sy07 commented on #17
Hi mam, I would like to work on this issue as LGM-SOC'21 participant from June 10. Do assign me this task if possible.
Thank You!

[2021-06-10 04:38] prathimacode-hub commented on #40
Hey, @Soumayan-pal01 you can work on onle 1 issue at a time. Kindly choose the issue you're interested to work on first.

[2021-06-10 04:39] noviicee commented on #49
Ok. You can assign me with this. Will wait for the other one then.

[2021-06-10 04:39] sy07 commented on #46
Hi mam, I would like to work on this issue as LGM-SOC'21 participant from June 10. Do assign me this task if possible. I would like to work on data.
Thank You!

[2021-06-10 04:40] Rutikab12 commented on #42
Can I now work on this issue @prathimacode-hub .Do assign me if possible.

[2021-06-10 04:41] prathimacode-hub commented on #13
Are you interested work on this issue? As you have expressed interest for multiple issues as well. But only 1 issue is assigned at a time @Soumayan-pal01

[2021-06-10 04:44] prathimacode-hub commented on #42
Issue is assigned to @Soumayan-pal01 on FCFS basis.

[2021-06-10 04:44] Soumayan-pal01 commented on #40
Okay I would like to work on this issue first . But can I work on issues where only I have commented alone like in issue #13 along with this one as the main purpose is to give everyone a fair chance? Please clarify, thank you.

[2021-06-10 04:45] prathimacode-hub commented on #42
@Rutikab12 Hey, you can work on other task or this task if you want to work on anything other than 'Model Creation'

[2021-06-10 04:46] Rutikab12 commented on #21
hey, @prathimacode-hub I would like to work on this issue.

[2021-06-10 04:46] Rutikab12 commented on #42
Yes.

[2021-06-10 04:47] prathimacode-hub commented on #27
I shall assign this issue to you. Let me know of the task you are interested in : Model Creation (or) Front End (or) Back End (or) Designing @harshita9621

[2021-06-10 04:48] Soumayan-pal01 commented on #42
Hey @prathimacode-hub  I can go ahead with the #40 issue first so @Rutikab12 can work this issue first if he desires. Thank you.

[2021-06-10 04:49] Rutikab12 commented on #42
Its okay @Soumayan-pal01 . I will try another issue.

[2021-06-10 04:49] prathimacode-hub commented on #28
I shall assign this issue to you. But let me know of the task you're going to work on like " Model Creation (or) Front End (or) Back End (or) Designing @Sumit11081996

[2021-06-10 04:50] prathimacode-hub commented on #36
I shall assign this task to you but let me know of task you want to work on : Model creation or front end or back end or designing @sy07

[2021-06-10 04:52] sy07 commented on #36
mam i want to work on model creation.

[2021-06-10 04:53] harshita9621 commented on #27
Model Creation

[2021-06-10 04:53] prathimacode-hub commented on #40
It's not right to keep other issue reserved while you do a task. If you want to work on this issue. I shall assign you this task. Also when you expres interest, also mention about task you will be dealing with. So it eases others with options. Model creation or front end or back end or designing. @Soumayan-pal01

[2021-06-10 04:54] prathimacode-hub commented on #40
Loan eligibility prediction has been assigned to you already @Soumayan-pal01

[2021-06-10 04:55] Sumit11081996 commented on #28
model creation @prathimacode-hub

[2021-06-10 04:56] prathimacode-hub commented on #42
Ok that's collaboration. @Rutikab12 I have assigned this issue to you. And @Soumayan-pal01 with issue #40. Kudos.

[2021-06-10 04:56] Soumayan-pal01 commented on #40
Then please reassign me this issue as I would like to work on this issue first and I would like to work on the Model creation part. Thank you.

[2021-06-10 04:57] prathimacode-hub commented on #40
Issue assigned.

[2021-06-10 04:59] prathimacode-hub commented on #23
Can you let me know of the issue, you want to work on first. As only 1 issue is assigned at a time @harshita9621

[2021-06-10 05:00] prathimacode-hub commented on #28
Ok, good to know. I had assigned this issue to you. @Sumit11081996

[2021-06-10 05:00] Rutikab12 commented on #42
Okay, Thank you @Soumayan-pal01 @prathimacode-hub. In how much time I have to make PR?

[2021-06-10 05:01] Soumayan-pal01 commented on #40
Thank you for assigning this issue. There are a couple of doubts actually am having. Firstly, how to share my progress in every 2 days and the other one is what to put in the requirements.txt file. Can you please clarify @prathimacode-hub

[2021-06-10 05:01] prathimacode-hub commented on #17
Express the interest on the project you want to work. As i can assign only 1 issue at a time. @sy07

[2021-06-10 05:02] sy07 commented on #36
Mam i would like to work on this issue first.

[2021-06-10 05:03] prathimacode-hub commented on #40
Sharing progress is letting us know of how much you had worked on and what all you could do till date. requirements.txt is a text file where you add dependent libraries to let users know that the project wouldn't work without it. @Soumayan-pal01

[2021-06-10 05:04] prathimacode-hub commented on #36
Ok, Assigned this task to you. @sy07

[2021-06-10 05:04] sy07 commented on #36
Thank you mam.

[2021-06-10 05:05] prathimacode-hub commented on #27
Ok, this issue is assigned to you. @harshita9621

[2021-06-10 05:05] Soumayan-pal01 commented on #40
Thank you for the information @prathimacode-hub . Once I have completed working on this issue and pushed it in my forked repo I will inform here.

[2021-06-10 05:09] prathimacode-hub commented on #49
Ok, good decision. I had assigned this issue to you. @noviicee

[2021-06-10 05:09] raunak51299 commented on #32
Hello, I would like to work on this issue.

[2021-06-10 05:13] prathimacode-hub commented on #49
You will be working on model creation right? @noviicee

[2021-06-10 05:14] prathimacode-hub commented on #42
Max time to make a PR is 5 days. @Rutikab12

[2021-06-10 05:16] prathimacode-hub commented on #40
Sure, let me know of it @Soumayan-pal01

[2021-06-10 05:16] Rutikab12 commented on #42
Okay.

[2021-06-10 05:20] prathimacode-hub commented on #32
What's the task you had choosen? Model creation or Front end or Back end or Designing. Let me know it when you raise a issue, so that it would be easier for me to assign. @raunak51299

[2021-06-10 05:23] raunak51299 commented on #32
I have chosen model creation using linear regression, polynomial regression etc.

[2021-06-10 05:34] prathimacode-hub commented on #32
Ok, that's great. I shall keep this on hold. Once you finish the PR of heart disease prediction with changes mentioned. I shall assign you with this issue @raunak51299

[2021-06-10 05:54] raunak51299 opened #57 "Heart disease prediction"
I would like to make a model to predict heart disease using SVM and K-Nearest Neighbours techniques.
Project title would be **Heart disease prediction**
I would be using [this](https://www.kaggle.com/ronitf/heart-disease-uci) dataset.
please assign me this issue.

[2021-06-10 06:15] prathimacode-hub commented on #57
When you raise a new issue, you should follow the template given in README file. @raunak51299

[2021-06-10 06:25] raunak51299 commented on #57
ok sorry I'm new here

[2021-06-10 06:28] raunak51299 commented on #57
---
Title: Heart disease prediction
About: I would like to make a model to predict heart disease using SVM and K-Nearest Neighbours techniques
Name: Raunak Singh
Label: Feature Request
---
 - [x] LGM-SOC'21 Participant

[2021-06-10 06:35] prathimacode-hub commented on #57
That's ok, you're allowed to make mistakes. Create a new issue with Heart Disease Prediction now. I shall add the reference template to your new issue. You can then edit according to your project and update the comment. @raunak51299

[2021-06-10 06:37] raunak51299 opened #58 "Heart disease prediction"
---
Title: Heart disease prediction
About:  I would like to make a model to predict heart disease using SVM and K-Nearest Neighbours techniques
Name: Raunak Singh
Label: Feature Request
Assignee:

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

**Describe the solution you'd like...**<br>
I would use [this](https://www.kaggle.com/ronitf/heart-disease-uci) dataset and the use SVM a

[2021-06-10 06:42] prathimacode-hub commented on #58
Fill this template, to get issue assigned to you. @raunak51299

[2021-06-10 06:55] PriyankaHotchandani opened #59 "Brain Tumor Detection and Classification"
As a participant of LGM-SOC'21, I would like to contribute by building a model for detection of brain tumor from MRI images of the patient and then further classify them as pituitary, glioma, or meningioma.

The dataset to be used: https://www.kaggle.com/sartajbhuvaji/brain-tumor-classification-mri

[2021-06-10 06:58] raunak51299 commented on #58
done

[2021-06-10 07:02] prathimacode-hub commented on #58
Issue is assigned to you. Go ahead. By the way, what's the task? Model Creation?

[2021-06-10 07:02] #57 closed

[2021-06-10 07:03] raunak51299 commented on #58
yes model creation

[2021-06-10 07:04] prathimacode-hub commented on #59
Interesting project. Kindly raise a new issue using the template mentioned in README along with short details of project and dataset to get an issue assigned to you. @PriyankaHotchandani

[2021-06-10 07:29] PriyankaHotchandani commented on #59
---
Title: Brain Tumor Detection and Classification
About: Building a model for detection and classification of brain tumor from MRI images of the patient
Name: Priyanka Hotchandani
Label: Feature Request
Assignee:

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**
Diagnosis of brain tumors in the early stages of th

[2021-06-10 07:36] prathimacode-hub commented on #59
Can you raise a new issue with the same information given here. You had explained it wonderfully. Kudos. Once you do it, I shall assign the issue. @PriyankaHotchandani

[2021-06-10 07:38] PriyankaHotchandani opened #60 "Brain Tumor Detection and Classification"
---
Title: Brain Tumor Detection and Classification
About: Building a model for detection and classification of brain tumor from MRI images of the patient
Name: Priyanka Hotchandani
Label: Feature Request
Assignee:

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**
Diagnosis of brain tumors in the early stages of th

[2021-06-10 07:39] PriyankaHotchandani commented on #59
Done, I'm sorry for the initial inconvenience.

[2021-06-10 07:44] prathimacode-hub commented on #60
Sure, proceed with the issue. It's assigned to you. @PriyankaHotchandani

[2021-06-10 07:45] prathimacode-hub commented on #59
No, that's ok. That's how we learn right from our mistakes. @PriyankaHotchandani

[2021-06-10 07:45] #59 closed

[2021-06-10 08:01] SoyabulIslamLincoln opened #61 "Age, Gender, emotion detection with DeepFace"
DeepFace is a python framework for  lightweight face recognition and facial attribute analysis (age, gender, emotion and race)  .  It is a hybrid face recognition framework wrapping state-of-the-art models: VGG-Face, Google FaceNet, OpenFace, Facebook DeepFace, DeepID, ArcFace and Dlib.

I will build a gui that will run live video and show the age, gender adn emotion of that person.

## Face recog

[2021-06-10 08:06] prathimacode-hub commented on #61
Wait, are you a LGM-SOC participant?

[2021-06-10 08:08] prathimacode-hub commented on #61
First thing, complete the issue taken before. It's still assigned to you. @SoyabulIslamLincoln

[2021-06-10 08:24] SoyabulIslamLincoln commented on #61
Yes. I am LGM_SOC participant. Thank you for informing me I will complete that issue before. Thank you

[2021-06-10 08:40] raunak51299 commented on #32
Can I work on this issue?

[2021-06-10 08:44] raunak51299 commented on #32
---
Title: Ice Cream Revenue Prediction
About:  I would like to make a model to predict ice cream revenue using various linear regression techniques
Name: Raunak Singh
Label: Feature Request
Assignee:

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

**Describe the solution you'd like...**<br>
I would use  use linear regression and polynomial regression from sklearn module to trai

[2021-06-10 09:02] NEERAJAP2001 commented on #54
Hey @prathimacode-hub Can I Start Working?

This is What I will do

[2021-06-10 09:16] Anshal55 commented on #38
I am a ‘LGM-SOC participant’. How can this issue be assigned to me?

[2021-06-10 09:17] ayushi424 commented on #29
Hello, I would like to work on this issue.
Please assign @prathimacode-hub.

[2021-06-10 09:22] prathimacode-hub commented on #32
Issue is assigned to you. @raunak51299

[2021-06-10 09:23] prathimacode-hub commented on #54
Sure. I had assigned this task to you. All the best @NEERAJAP2001

[2021-06-10 09:25] prathimacode-hub commented on #29
What's the task you will be working on? Model creation or front end or back end or designing @ayushi424

[2021-06-10 09:28] prathimacode-hub commented on #61
Ha, but remember the issue you had taken earlier won't count under LGM-SOC as that issue was created before 10th June Ok? @SoyabulIslamLincoln

[2021-06-10 09:30] ayushi424 commented on #29
I would like to work on model creation for prediction.

[2021-06-10 09:30] SoyabulIslamLincoln commented on #61
Okay. No problem

[2021-06-10 09:48] prathimacode-hub commented on #29
Ok, that's good. Issue is assigned to you. @ayushi424

[2021-06-10 10:07] Anshal55 commented on #45
Hi I am a ‘LGM-SOC participant’ asd I'd like to work on this.
How to proceed further?

[2021-06-10 10:10] prathimacode-hub commented on #61
That's great. I shall assign this issue to you. As earlier issue, isn't considered in this program. @SoyabulIslamLincoln

[2021-06-10 10:26] prathimacode-hub commented on #45
Work on the project. I had given all guidelines to follow in README and CONTRIBUTING GUIDELINES of the project. Any specific queries, don't hesitate to ask. First, elaborate the project, how would you expect it to work. You are going to work on which task : "Model Creation" or "Front End" or "Back End" or Designing? The algorithms you would use, how would you optimize it. Let me know the answers t

[2021-06-10 10:48] Anshal55 commented on #45
---
Title: Dog Breed Identification
About: Model to predict the breed of a Dog.
Name: Anshal Singh
Label: Feature Request
Assignee: ''

---

Define You:

- [ x] LGM-SOC'21 Participant
- [ ] Contributor

**Describe the solution you'd like...**
I'd like to work on a dataset containing images of dogs with their breeds and train a model to predict the breed of a dog.
Link for Dataset: https://www.kagg

[2021-06-10 11:03] Anshal55 commented on #45
---
Title: Dog Breed Identification
About: Prediction of breed of a dog based ion images.
Name: Anshal Singh
Label: Feature Request
---

Define You:

I am a LGM-SOC'21 Participant

I'd like to build a Model that would predict the breed of the dog an the link for the dataset is https://www.kaggle.com/c/dog-breed-identification
My approach towards the problem is to try to use transfer learning to bu

[2021-06-10 11:08] Soumayan-pal01 commented on #40
Hey @prathimacode-hub since I have created this project taking real time video stream as input, therefore the efficiency of both the approaches can be tested only through video stream. Unlike the training set accuracy which is visible in the notebook, the testing models cannot show such accuracy as they real time inputs and deliver the predictions . So, should I upload demonstration videos for bot

[2021-06-10 11:32] prathimacode-hub commented on #40
Yeah, you should. Share the work samples before you create a PR. Let me see how would that look like. @Soumayan-pal01

[2021-06-10 11:35] prathimacode-hub commented on #45
So, you will be working on model creation and backend right? @Anshal55

[2021-06-10 11:37] Anshal55 commented on #45
Yes @prathimacode-hub !

[2021-06-10 11:47] prathimacode-hub commented on #45
Yup, go ahead. Issue is assigned to you. @Anshal55

[2021-06-10 11:52] Anshal55 commented on #45
Thanks @prathimacode-hub !!

[2021-06-10 14:03] Soumayan-pal01 commented on #40
Hey @prathimacode-hub I have completed working on this issue. I am providing the demonstration video link as well as my forked repo link. Please review if everything is properly done or not.

Video link - https://github.com/Soumayan-pal01/ML-ProjectKart/blob/main/Face%20Mask%20Detection%20using%20OpenCV/Images/Demonstration%20video%20of%20both%20models(Compressed).mp4

forked repo link - https://g

[2021-06-10 14:28] prathimacode-hub commented on #40
Perfect. You had done an amazing work. Kindly proceed to raise your PR. @Soumayan-pal01

[2021-06-10 15:18] Soumayan-pal01 commented on #40
Is there any specific format to raise a PR or just give a overview of the project @prathimacode-hub

[2021-06-10 15:23] prathimacode-hub commented on #40
Yeah, there is a PR template to follow from README file of the project. @Soumayan-pal01

[2021-06-10 16:02] Soumayan-pal01 commented on #40
Please review my PR @prathimacode-hub . Thank you.

[2021-06-10 16:42] Soumayan-pal01 commented on #37
Can I work on this issue now @prathimacode-hub

[2021-06-10 16:49] prathimacode-hub commented on #37
Yes, you can work on this issue. This issue is assigned to you. @Soumayan-pal01

[2021-06-10 17:53] psyduck1203 commented on #43
Hey I'm a LGM-SoC participant. Can you assign me this issue!

[2021-06-10 17:57] psyduck1203 commented on #20
Hey, This seems a pretty cool issue, can you please assign me this issue?

[2021-06-10 18:02] prathimacode-hub commented on #20
Color Identification or Drowsiness Detection? You can work on only 1 issue at a time. So let me know about your decision? @psyduck1203

[2021-06-11 05:00] psyduck1203 commented on #20
Okay I'll work on color identification first.

[2021-06-11 05:40] prathimacode-hub commented on #37
Sure. @Soumayan-pal01

[2021-06-11 06:12] prathimacode-hub commented on #20
Good decision @psyduck1203

[2021-06-11 06:13] prathimacode-hub commented on #43
Can you elaborate of how would you do this? @psyduck1203

[2021-06-11 06:58] 1anshu-56 commented on #58
I want to work on this issue please assign it to me, Thank you!

[2021-06-11 06:59] 1anshu-56 commented on #50
I want to work on this under LGMSOC can you please assign it to me.

[2021-06-11 07:15] raunak51299 commented on #58
I was assigned this issue and have already made pull request.

[2021-06-11 07:16] prathimacode-hub commented on #58
Yes, this issue is taken, and PR is approved. @1anshu-56

[2021-06-11 07:17] prathimacode-hub commented on #50
Ok, I shall assign this issue to you. Can you elaborate oh how would you work? @1anshu-56

[2021-06-11 09:23] sy07 commented on #18
Hi mam, I would like to work on this issue as LGMSOC21 participant. Please assign me to this task if possible.

[2021-06-11 09:27] prathimacode-hub commented on #18
Yes, go ahead. Compare it using multiple algorithms. And dataset is provided above. All the best. Any doubts, don't hesitate to ask. @sy07

[2021-06-11 10:24] Manasi2001 commented on #30
@psyduck1203 you can surely work on this, but first let me know how you are planning to proceed, what all algorithms you will use and which task you'll be working on: backend, frontend or model creation. Then, I'll assign it to you :)

[2021-06-11 10:31] Manasi2001 commented on #21
@Rutikab12 you can surely work on this, but first let me know how you are planning to proceed, what all algorithms you will use and which task you'll be working on: backend, frontend or model creation. Then, I'll assign it to you :)

[2021-06-11 10:47] Rutikab12 commented on #21
Excuse me for conveying late, I have got another issue with this repo on which I am currently working. So you can assign it other participants. @Manasi2001

[2021-06-11 11:40] #58 closed

[2021-06-11 11:42] #40 closed

[2021-06-11 13:28] Subhangini commented on #55
No, I have previously created Issue Template in .md file extension and they appear whenever we create a new issue as a template we don't need to copy them

[2021-06-11 13:33] prathimacode-hub commented on #55
Ok, that's great. Do you want to do? But this won't be counted under LGMSOC. Is it ok? @Subhangini

[2021-06-11 13:40] Subhangini commented on #55
but why i will be working on this issue after june 10 ? So it should be counted?

[2021-06-11 13:51] prathimacode-hub commented on #55
I agree to you point since it's after june 10th. So you want this to count under LGMSOC? @Subhangini

[2021-06-11 13:53] prathimacode-hub commented on #55
Fine, I shall get this into count now using label, later if this label isn't counted on leaderboard, I shouldn't be blamed. Agree? @Subhangini

[2021-06-11 13:55] prathimacode-hub commented on #55
Glad to see your initiation and enthusiasm to make things work. Kudos to you. @Subhangini

[2021-06-11 13:57] Subhangini commented on #55
Is there any instruction on labels?

[2021-06-11 13:59] prathimacode-hub commented on #55
Yes, there is. I shall assign this issue to you. What say? @Subhangini

[2021-06-11 14:02] Subhangini commented on #55
How much I know, I think there are four labels `level0` ` level1` ` level2 ` `level3` and i think if you will assign any one of these they will be counted

[2021-06-11 14:03] prathimacode-hub commented on #55
Here, it's level 1 - 4. This would count under level 1.

[2021-06-11 14:04] Subhangini commented on #55
Ya sure

[2021-06-11 14:05] prathimacode-hub commented on #55
Assigned

[2021-06-11 14:06] Subhangini commented on #55
I will work on it  soon. Thank you

[2021-06-11 14:19] ritikkumar55 commented on #33
Hey I'm a LGM-SoC participant. Can you assign me this issue. I will use multiple machine learning algorithms to draw comparisons and will use streamlit to deploy my machine learning model.

[2021-06-11 15:19] prathimacode-hub commented on #33
So, you will be working on "Model Creation"? What algorithms would you use? @ritikkumar55

[2021-06-11 15:24] ritikkumar55 commented on #33
I will use Logistic Regression.
Naïve Bayes
Xgboost Classifier.
K-Nearest Neighbours.
Decision Tree.
Random Forest.
Support Vector Machine.

[2021-06-11 15:38] prathimacode-hub commented on #33
Ok, that sounds interesting. So you go with "Model Creation"? @ritikkumar55

[2021-06-11 16:37] ritikkumar55 commented on #33
Yes Mam.

[2021-06-11 16:40] prathimacode-hub commented on #33
Issue is assigned to you. You can proceed.@ritikkumar55

[2021-06-11 16:42] ritikkumar55 commented on #33
Thank you Mam.

[2021-06-11 17:30] psyduck1203 commented on #43
We can select a point on the image and use the absolute value function to get the RGB value and match with the nearest value and predict the color. I think OpenCV and Pandas will be required.

[2021-06-11 18:09] psyduck1203 commented on #30
Ig Naive Bayes would be good for this project and I'll first create the model and then think of creating the frontend and backend for it.

[2021-06-11 18:18] prathimacode-hub commented on #43
Hey you have expressed interest in two projects. Kindly decide one of them to work. Then issue will be assigned @psyduck1203

[2021-06-11 18:31] RHEA211 commented on #23
Hi @prathimacode-hub  I would like to work on this project.Can you assign it to me

[2021-06-11 18:34] prathimacode-hub commented on #23
How would work? Algorithms you would use? What's the approach? @RHEA211

[2021-06-11 18:36] RHEA211 commented on #23
Ma'am I would be using Naive Bayes method and can compare all- Gaussian ,Multinomial,Complement,Bernoulli and Categorical Naive Bayes Method to see the accuracy of each model

[2021-06-11 18:37] RHEA211 commented on #23
Task of-Titanic Survival Prediction #23

[2021-06-12 04:47] prathimacode-hub commented on #23
Great, So you're going for Model creation right? @RHEA211

[2021-06-12 06:29] RHEA211 commented on #23
Yes Ma'am ,I will make the prediction model but completely new to open source.

[2021-06-12 06:32] harshita9621 commented on #22
Hii, I would like to work on this issue as LGM SOC'21 participant . Do assign me if possible. Thank You!

[2021-06-12 06:34] harshita9621 commented on #23
Hii, I would like to work on this issue as LGM SOC'21 participant . Do assign me if possible. Thank You!

[2021-06-12 06:42] prathimacode-hub commented on #23
Sorry, @harshita9621. It's on first come first serve basis. @RHEA211 expressed her interest first for this issue. I know you showed interest earlier than her. But you was working on another issue.

@RHEA211, you had been assigned to this task. Go ahead.

[2021-06-12 06:44] prathimacode-hub commented on #22
You had been assigned to this task. You can start with your work. @harshita9621

[2021-06-12 07:17] #60 closed

[2021-06-12 07:18] #27 closed

[2021-06-12 07:26] Manasi2001 commented on #30
Okay, sounds good. But try to use at least 2 more algorithms and then compare the results among them. Also, check all the necessary templates and follow the folder structure.
@psyduck1203 assigning it to you 👍🏻

[2021-06-12 08:03] #42 closed

[2021-06-12 08:48] #32 closed

[2021-06-12 09:25] psyduck1203 commented on #43
I'll first work on this (Color Identification) and then on the other issues.

[2021-06-12 09:30] prathimacode-hub commented on #43
What's the other project you had expressed interest for? @psyduck1203

[2021-06-12 09:32] psyduck1203 commented on #43
Drowsiness Detection using Computer Vision

[2021-06-12 09:34] prathimacode-hub commented on #43
Ok, You want to work on model creation right? @psyduck1203

[2021-06-12 09:35] psyduck1203 commented on #43
yes

[2021-06-12 09:37] prathimacode-hub commented on #43
Ok, this issue is assigned to you. @psyduck1203

[2021-06-12 10:43] PriyankaHotchandani commented on #21
Hey, I'd like to work on this issue under LGM-SOC'21. But just a request, can I use a different dataset instead? I'd recently read a research paper on "Evaluation of Deep Learning Techniques in Sentiment Analysis from Twitter Data" and in accordance to that, I'd like to implement it using Word2Vec word embedding model.

Link to proposed Dataset: https://www.kaggle.com/kazanova/sentiment140

[2021-06-12 11:00] #54 closed

[2021-06-12 11:15] prathimacode-hub commented on #21
Yeah, sure. Go ahead. The datasets are provided just as a guidance. You're free to choose your own datasets as long as it fits the project. I had assigned this task to you. @PriyankaHotchandani

[2021-06-12 11:19] PriyankaHotchandani commented on #21
Alright, thanks! Will start working on it. And yes, it's model creation.
Is it okay if I attach the research reference as well while making the final commit?

[2021-06-12 11:27] prathimacode-hub commented on #21
Yeah, you can attach it. @PriyankaHotchandani 👍

[2021-06-12 12:49] RHEA211 commented on #23
Sure ma'am

[2021-06-12 13:34] raunak51299 commented on #38
---
Title: Cats Vs Dogs Classification
About:  I would like to make a CNN model to classify Cats and Dogs Images
Name: Raunak Singh
Label: Feature Request
Assignee:

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

 Please assign me this issue.

[2021-06-12 13:35] prathimacode-hub commented on #38
Yup, this issue is assigned to you. All the best. ✔@raunak51299

[2021-06-12 14:03] NEERAJAP2001 commented on #51
Hey @prathimacode-hub Can I work on this?

[2021-06-12 14:26] prathimacode-hub commented on #51
Can you say what's the project title and what's the purpose of it @NEERAJAP2001

[2021-06-12 14:30] NEERAJAP2001 commented on #51
Imagenet is a renowned dataset with 100k+ images
It's a Web Application that can Predict the image ( based on training classes like a bird, rabbit...etc)

Title of Project: Web App For Classifying Imagenet Images

[2021-06-12 14:35] prathimacode-hub commented on #51
Cool, this issue is assigned to you. You can proceed further. So you will be working on front end or back end? @NEERAJAP2001

[2021-06-13 02:20] NEERAJAP2001 commented on #51
I'll be working on model + backend+ frontend @prathimacode-hub

[2021-06-13 06:41] prathimacode-hub commented on #51
That's glad to know.

[2021-06-13 06:46] Sidhved opened #76 "OpenCV Cartoonification"
@prathimacode-hub
Hey, I would like to work on this new project,
Cartoonification using OpenCV
It is a fun and interactive program that will create a cartoonified image of the given input image
This project can also be further worked upon to create filter for different social media platforms

Can this issue please be assigned to me under LGMSOC'21?

[2021-06-13 06:50] prathimacode-hub commented on #76
Yes, this issue can be assigned to you. But there is a template to follow for issues and PR. Kindly follow that to get this issue assigned to you. It is know you as a LGMSOC participant. Interesting project. @Sidhved

[2021-06-13 07:06] prathimacode-hub opened #77 "Iris Flower Classification"
Hey LGM-SoC participants, good to see you.

This project should help you in classifying the flowers based on feaures using machine learning

Dataset : https://www.kaggle.com/arshid/iris-flower-dataset

If you like to work on this issue, follow the given guidelines for code as well as for the README.

Enjoy your open source journey!😎

[2021-06-13 07:08] Sidhved commented on #76
---
Title: Animate me!
About: Create Cartoonified Image
Name: Sidhved
Label: Feature Request
Assignee: ''

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

It is a fun and interactive program that will create a cartoonified image of a given input image
I will primarily focus on model creation part
It can be further worked upon to create interesting filters for different social med

[2021-06-13 07:09] Soumayan-pal01 commented on #37
Hey @prathimacode-hub I have created the PR. Please review it. Thank you.

[2021-06-13 07:10] prathimacode-hub commented on #76
Yeah, this issue is assigned to you. You can start working. All the best. @Sidhved

[2021-06-13 07:11] prathimacode-hub commented on #37
Let me check on it. @Soumayan-pal01

[2021-06-13 07:13] harshita9621 commented on #77
Hii, I would like to work on this issue as LGM SOC'21 participant . Do assign me if possible. Thank You!

[2021-06-13 07:35] harshita9621 commented on #47
Hii, I would like to work on this issue as LGM SOC'21 participant . Do assign me if possible. Thank You!

[2021-06-13 07:41] prathimacode-hub commented on #47
Yeah, this issue is assigned to you. You can start working on it. All the best. @harshita9621

[2021-06-13 07:42] prathimacode-hub commented on #77
Car Prices Prediction has been assigned to you. @harshita9621

[2021-06-13 07:56] prathimacode-hub opened #79 "Wine Quality Prediction"
Hey LGM-SoC participants, good to see you.

This project helps in predicting the wine quality using machine learning algorithms.

Dataset : https://www.kaggle.com/danielpanizzo/wine-quality

If you like to work on this issue, follow the given guidelines for code as well as for the README.

Enjoy your open source journey!😎

[2021-06-13 07:58] prathimacode-hub opened #80 "Breast Cancer Prediction"
Hey LGM-SoC participants, good to see you.

This project helps in predicting whether the patient who is suffering from breast cancer is benign or malignant.

Dataset : https://www.kaggle.com/uciml/breast-cancer-wisconsin-data

If you like to work on this issue, follow the given guidelines for code as well as for the README.

Enjoy your open source journey!😎

[2021-06-13 08:01] Sumit11081996 commented on #35
Hii, I would like to work on this issue. Do assign me if possible. Thank You!

[2021-06-13 08:02] prathimacode-hub opened #82 "Crop Yield Prediction"
Hey LGM-SoC participants, good to see you.

This project helps in predicting the yield of a crop based on the geography, season and area under cultivation.

Dataset : https://www.kaggle.com/santoshd3/crop-price-prediction

If you like to work on this issue, follow the given guidelines for code as well as for the README.

Enjoy your open source journey!😎

[2021-06-13 08:12] prathimacode-hub commented on #35
Yeah, definitely. This issue is assigned to you. You can start working on it. @Sumit11081996

[2021-06-13 08:14] prathimacode-hub commented on #49
There is no update from you since the issue is assigned to you. Any progress? @noviicee

[2021-06-13 08:18] Soumayan-pal01 opened #83 "Image Compression using Clustering"
A K-Means Clustering algorithm that compresses images by clustering the pixel values into k-clusters. 16 million color channels are converged into k-color channels. This reduces both the size and quality of the images. This algorithm will prove useful to reduce the image size if it exceeds the maximum size limit.

[2021-06-13 08:19] Soumayan-pal01 commented on #83
Please assign me this issue @prathimacode-hub .

[2021-06-13 08:20] Soumayan-pal01 commented on #83
Please assign me this issue for 'Model Creation' @prathimacode-hub .Thank you.

[2021-06-13 08:24] prathimacode-hub commented on #83
Issue template needed. Kindly update your comment. @Soumayan-pal01

[2021-06-13 08:30] Nihir2904 commented on #41
Hey @prathimacode-hub, it would be great if you let me work on this issue.
Thank You.

[2021-06-13 08:35] prathimacode-hub commented on #41
Sure, @Nihir2904. Let me know of the task you're going to work on?
Model Creation (or) Front End (or) Back End (or) Designing. So that I can assign accordingly.

[2021-06-13 09:27] Anshal55 commented on #14
---
Title: Sign Language Prediction
About: This project could have a lot of uses such as helping ease the communication with people who don't know sign language.
Name: Anshal Singh
Label: Feature Request

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like...**
I want to build a mod

[2021-06-13 09:28] Anshal55 commented on #14
Also can I pick my own issue to work on after this?

[2021-06-13 09:29] Soumayan-pal01 commented on #83
---
Title: Image Compression using Clutering
About: This project is about compressing image colors into k-colors
Name: Soumayan Pal
Label: Feature Request
Assignee: 'Soumayan-pal01'

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

**Yes I have discussed about this issue with Project admin**

**A K-Means Clustering algorithm that compresses images by clustering the pixel values in

[2021-06-13 09:30] #37 closed

[2021-06-13 09:33] #29 closed

[2021-06-13 09:41] prathimacode-hub commented on #83
That sounds wonderful. Issue is alloted to you. You can go ahead. @Soumayan-pal01

[2021-06-13 09:43] prathimacode-hub commented on #14
Yeah, sure. So you want to work on this issue first? You can take up your own issue as well. No restrictions on that. That's great. What would you use to make this model work efficiently? @Anshal55

[2021-06-13 09:52] Anshal55 commented on #14
Yeah I have the code for this just have to deploy I'll do this then create a new issue if that's okay?
To make this efficient I'll try to implement as simple model first then go from there depending upon the results.
@prathimacode-hub

[2021-06-13 09:56] noviicee commented on #49
Sorry for the delay..actually my exams are going on, that's why I am not active.
For the issue,  I was thinking of providing an image as input and it will be converted to corresponding emoji. Is there anything specific that needs to be done here..?

[2021-06-13 09:57] prathimacode-hub commented on #14
Yes, it's absolutely okay. Sure, you can proceed. I had assigned this issue to you. For now, I will add it as Model Creation. @Anshal55

[2021-06-13 10:00] prathimacode-hub commented on #61
You hadn't updated anything since past 3 days, neither responded with your progress? @SoyabulIslamLincoln

[2021-06-13 10:02] #28 closed

[2021-06-13 10:03] prathimacode-hub commented on #30
Kindly do the changes asked in your PR, before you start working on this. @psyduck1203

[2021-06-13 10:03] #22 closed

[2021-06-13 10:08] prathimacode-hub commented on #49
No. it's the same. You will be working on Model Creation? When you take up a task, you should provide full details. And also exams are there, that's considered and it's important. So, it's better you give timely updates. @noviicee

[2021-06-13 10:15] SoyabulIslamLincoln commented on #61
Going to submit by tomorrow

[2021-06-13 10:49] prathimacode-hub commented on #61
What's the task you're working upon? I just want to know the progress. @SoyabulIslamLincoln

[2021-06-13 12:20] SoyabulIslamLincoln commented on #61
Currently working on this issue. @prathimacode-hub ... Sorry for late reply

[2021-06-13 12:34] prathimacode-hub commented on #61
Yes, I am asking the task. "Model Creation" or "Front End"  or "Back End"? @SoyabulIslamLincoln

[2021-06-13 13:00] prathimacode-hub opened #85 "Bike Sharing Prediction"
Hey LGM-SoC participants, good to see you.

This project helps in predicting the number of bike share users.

Dataset : https://archive.ics.uci.edu/ml/datasets/bike+sharing+dataset#

If you like to work on this issue, follow the given guidelines for code as well as for the README.

Enjoy your open source journey!😎

[2021-06-13 13:03] SoyabulIslamLincoln commented on #61
Back End @prathimacode-hub

[2021-06-13 14:24] Sidhved commented on #77
Hi
@prathimacode-hub I would like to work on this as my next contribution under LGMSOC'21
I propose to apply 5 different classifiers and also plot a comparative graph determining the best model for the same.
Thus I would like to prioritize on Model Creation for this project.
Please assign this to me!

[2021-06-13 14:30] Jagannath8 opened #86 "Diabetes Prediction"
I'll use Logistic Regression algorithm to implement this.
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-06-13 14:35] prathimacode-hub commented on #77
Glad to know. Definitely, this issue is assigned to you. You can proceed. @Sidhved

[2021-06-13 14:36] prathimacode-hub commented on #86
Issue template please. @Jagannath8

[2021-06-13 14:38] Jagannath8 commented on #80
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-06-13 14:43] prathimacode-hub commented on #80
Are you sure you want to work on this issue? As you had raised a new issue on Diabetes Prediction. @Jagannath8

[2021-06-13 14:52] sai-keerthi commented on #24
can you please assign me this issue

[2021-06-13 14:54] Jagannath8 commented on #86
This project helps in predicting the diabetes using machine learning algorithms.

Dataset : https://www.kaggle.com/mathchi/diabetes-data-set

[2021-06-13 14:55] Jagannath8 commented on #80
Yes mam

[2021-06-13 15:03] prathimacode-hub commented on #80
Choose 1 out of 2 issues, and it would get assigned to you. @Jagannath8

[2021-06-13 15:03] prathimacode-hub commented on #24
Yeah, I would assign. But let me know how would proceed further or work with this project @sai-keerthi

[2021-06-13 15:11] Jagannath8 commented on #80
Okay mam, first I'll work on Breast Cancer Prediction then I'll go to Diabetes Prediction.

[2021-06-13 15:23] sai-keerthi commented on #24
firstly preprocessing the data ,then fitting the appropriate model staring from logistic regression, multinominal naive based classifier and comparing the performance of the model

[2021-06-13 15:27] prathimacode-hub commented on #80
Ok sure, This issue is assigned to you. What would be your approach to work on? @Jagannath8

[2021-06-13 15:29] Jagannath8 commented on #80
I'll use Logistic Regression algorithm to predict Breast Cancer.

[2021-06-13 15:30] prathimacode-hub commented on #24
Ok great. Sure, this issue is assigned to you. @sai-keerthi

[2021-06-13 15:38] prathimacode-hub commented on #80
Ok, what's the task you're taking up? @Jagannath8

[2021-06-13 15:50] Jagannath8 commented on #80
Model creation

[2021-06-13 15:52] prathimacode-hub commented on #80
Ok, you can proceed with your issue. This issue is allotted to you. @Jagannath8

[2021-06-13 15:58] sai-keerthi commented on #24
model creation

[2021-06-13 16:22] Nomulacharitha commented on #39
Can you assign me this issue

[2021-06-13 16:38] prathimacode-hub commented on #39
What's the task you're taking? And how would you proceed with this issue? What's your approach? @Nomulacharitha

[2021-06-13 16:42] Nomulacharitha commented on #39
Prepocessing the image and detecting the licence plate by using open cv and then performing the character recognition using pytesseract package

[2021-06-13 16:42] Rutikab12 commented on #79
Hey @prathimacode-hub I would love to work on this issue as lgmsoc participant. Please assign me if possible.

[2021-06-13 16:44] prathimacode-hub commented on #39
That sounds cool, You'll be taking up a task of Model Creation or you would add up front end or back end as well? @Nomulacharitha

[2021-06-13 16:45] Nomulacharitha commented on #39
Model Creation

[2021-06-13 16:46] prathimacode-hub commented on #79
Yup, definitely. Model Creation or anything else you would like to add up? @Rutikab12

[2021-06-13 16:47] prathimacode-hub commented on #39
Sure, this issue is assigned to you. You can proceed. @Nomulacharitha

[2021-06-13 17:14] Rutikab12 commented on #79
Yes, @prathimacode-hub I would like to try a model deployment.

[2021-06-13 17:29] prathimacode-hub commented on #79
Cool, this issue is assigned to you. You can go ahead. @Rutikab12

[2021-06-13 17:29] Rutikab12 commented on #79
Okay. Thank You !

[2021-06-13 17:56] noviicee commented on #49
Yes, I understand. Will be updating soon :v:

[2021-06-13 21:36] arushi09207 commented on #48
hi @prathimacode-hub  can i work on this project and contribute to it? if so plz assign it to me

[2021-06-14 06:23] prathimacode-hub commented on #48
Yes, it can be assigned. Let me know about your approach and how would you predict it. Also intimate about the task you're choosing. So that, it would be easier to get issued assigned to you. @arushi09207

[2021-06-14 08:43] harshita9621 commented on #82
Hii, I would like to work on this issue as LGM SOC'21 participant . Do assign me if possible. Thank You!

[2021-06-14 08:50] prathimacode-hub commented on #82
Yeah, you will be working on model creation? I would assign it soon once I review your pending PR. @harshita9621

[2021-06-14 08:59] PaliwalRP commented on #34
I would like to work on it , will you please assign me this mam.

[2021-06-14 09:01] prathimacode-hub commented on #34
What's your approach? How would you classify? What algorithms would you use. @PaliwalRP

[2021-06-14 09:39] PaliwalRP commented on #34
By datsets we can have different parmetres like as given in provided data set battery , 4g acquiring or not etc.Logistic Regression , Supervise ML algo(for classification and regression) or Decision Tree Classifier(Through R) , KNN etc.

[2021-06-14 09:42] PaliwalRP commented on #34
whichever having highest accuracy , chosen accordingly.

[2021-06-14 09:44] arushi09207 commented on #48
so my approach would be use two datasets one from employee's level and the other one from HR point of view. Further I'll join and merge those datasets , analyse them using visualizations and using feature importance as the main agenda and further using different models to it .

[2021-06-14 09:52] prathimacode-hub commented on #48
That's great. This issue is assigned to you. You can proceed. @arushi09207

[2021-06-14 09:55] prathimacode-hub commented on #34
Ok that sounds good. This issue is assigned to you. @PaliwalRP

[2021-06-14 10:10] PaliwalRP commented on #34
ok will be creating PR as soon as possible.

[2021-06-14 12:49] suy1968 commented on #86
I'm a participant of LGMSOC21, please assign me
predicting the diabetes using Ml Algo.

[2021-06-14 13:10] prathimacode-hub commented on #86
Kindly raise a new issue of the project using the template given to get it assigned to you. @suy1968

[2021-06-14 13:11] prathimacode-hub commented on #86
You hadn't used the issue template yet and as well your PR needed changes. Kindly correct it. As you know, issues are on FCFS basis. @Jagannath8

[2021-06-14 14:03] Soumayan-pal01 commented on #83
Hey @prathimacode-hub I have created the PR for this issue. Please review it. Thank you.

[2021-06-14 14:51] Jagannath8 commented on #86
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-06-14 15:03] #80 closed

[2021-06-14 15:11] #83 closed

[2021-06-14 15:16] #21 closed

[2021-06-14 15:26] prathimacode-hub commented on #86
I know you're a participant of LGM SoC21. But to assign it, the issue should a template. This is not your first time I guess. @Jagannath8

[2021-06-14 15:36] Jagannath8 commented on #86
**Diabetes Prediction**

**Objective**
The main objective of this project is to predict diabetes using machine learning algorithms.

**Dataset**
https://www.kaggle.com/mathchi/diabetes-data-set

[2021-06-14 15:49] prathimacode-hub commented on #86
This is not the template. Kindly check out with the template given in README file of the project. @Jagannath8

[2021-06-14 15:53] #14 closed

[2021-06-14 16:28] Soumayan-pal01 commented on #13
I would like to work on this issue. Please assign me if possible @prathimacode-hub . Thank you.

[2021-06-14 16:42] prathimacode-hub commented on #13
Yes, sure. This issue is assigned to you. Go ahead. @Soumayan-pal01

[2021-06-14 17:00] harshita9621 commented on #82
Hii, I would like to work on this issue as LGM SOC'21 participant . Do assign me if possible. Thank You!

[2021-06-14 17:07] prathimacode-hub commented on #82
This issue is assigned to you. You can start working. @harshita9621

[2021-06-14 17:07] prathimacode-hub commented on #82
How would you work on it? What's your approach? @harshita9621

[2021-06-14 17:33] Sumit11081996 commented on #31
@prathimacode-hub  can you assign me this.

[2021-06-14 17:33] Soumayan-pal01 commented on #13
Yeah I will work on 'Model Creation'. Will inform once I have created the PR.

[2021-06-14 17:45] prathimacode-hub commented on #31
You are up for Model Creation? @Sumit11081996

[2021-06-14 17:53] arushi09207 commented on #48
thanks @prathimacode-hub

[2021-06-14 18:21] prathimacode-hub commented on #86
This is not the full template yet.🙂 Still I would assign. Next time, make sure you follow full template. @Jagannath8

[2021-06-14 18:23] prathimacode-hub commented on #55
You hadn't updated anything since past 3 days. @Subhangini

[2021-06-14 18:28] Jagannath8 commented on #86
Mam, Can you give an example of full template

[2021-06-14 18:43] prathimacode-hub commented on #86
This is the example of full template.
https://github.com/prathimacode-hub/ML-ProjectKart/blob/main/.github/issue_template/feature_request.md

Atleast adding up a soluion you have in mind is needed. @Jagannath8

[2021-06-14 18:46] Jagannath8 commented on #86
Okay mam

[2021-06-14 18:48] #77 closed

[2021-06-14 18:50] #76 closed

[2021-06-14 18:51] #35 closed

[2021-06-14 20:50] queenish001 commented on #85
Please assign this issue to me

[2021-06-15 02:05] Sumit11081996 commented on #31
Yes @prathimacode-hub

[2021-06-15 04:15] Subhangini commented on #55
sorry for the delay, I will do it(PR) today

[2021-06-15 04:39] HitainKakkar opened #95 "COVID19_Data-Analysis"
Greetings Sir/Mam,

I would like to work on this project and contribute!!
For this I have prepared a Jupyter notebook for the main code/analysis and 2 datasets.
Kindly assign me this issue.
This is regarding LGMSOC.

{Description of project}
This project helps us calculate and visualize the relationship between the spread of Corona virus in a country and how happy people are living in that country

[2021-06-15 04:47] HitainKakkar opened #96 "US-Aviation-Industry-analysis"
Greetings Sir/Mam,

I would like to work on this project and contribute!!
For this I have prepared a 2 Jupyter notebook for the main code/analysis, one python file for launching and 1 datasets.
Kindly assign me this issue.
This is regarding LGMSOC.

{Description of project}
This project helps us visualize report the insights and keys results of customer reviews about various domestic airlines info

[2021-06-15 05:25] harshita9621 commented on #82
I will follow the traditional data pipe line and make a efficient out put with the data set.

[2021-06-15 07:04] prathimacode-hub commented on #82
Ok, cool. You can proceed ahead. @harshita9621

[2021-06-15 14:01] Nihir2904 commented on #41
I would like to work on model creation part.

[2021-06-15 14:40] prathimacode-hub commented on #41
Ok, sure. This issue is assigned to you. You can proceed. @Nihir2904

[2021-06-15 14:42] ayushi424 commented on #46
Hey @prathimacode-hub, I would like to work on this issue.
Please assign.

[2021-06-15 14:44] prathimacode-hub commented on #46
Sure, I would assign it to you. But let me know about your approach, how would you take it further? What's the task you're opting for? @ayushi424

[2021-06-15 15:14] ayushi424 commented on #46
I'll work on model creation.
For approach, firstly I'll perform data exploration for feature selection.
Then use prediction algorithms and evaluate their efficiency.

[2021-06-15 15:48] prathimacode-hub commented on #46
Ok cool. This issue is assigned to you. @ayushi424

[2021-06-15 17:18] #38 closed

[2021-06-15 17:23] Manasi2001 commented on #85
You can work on this @queenish001. But first, please let me know what you are willing to work on, 'front-end', 'back-end' or 'model creation'. Also, what all algorithms you are planning to use and the analysis you'll be performing. Then, I'll assign it to you :)

[2021-06-15 17:30] Manasi2001 commented on #95
Sounds really good @HitainKakkar. So, for now you'll be focusing on analysis and model creation right? If you feel like, then you can work on frontend and backend as well.

[2021-06-15 17:36] Manasi2001 commented on #96
Hey @HitainKakkar, this project sounds really awesome too. But, you can work on only 1 project at a time. Once you complete the other one, I'll assign it to you as a 'frontend' one. 👍🏻

[2021-06-15 17:39] Manasi2001 commented on #31
Go ahead @Sumit11081996 👍🏻

[2021-06-15 17:55] HitainKakkar commented on #96
Sure!!
Kindly Assign me this project!!

[2021-06-15 18:00] prathimacode-hub commented on #96
Yes, this issues is assigned to you. So you will doing frontend and model creation? @HitainKakkar

[2021-06-15 18:49] HitainKakkar commented on #96
I will be doing Model Creation/ Backend.

[2021-06-15 18:51] HitainKakkar commented on #95
I am interested in Backend/ Model creation.

[2021-06-15 18:57] HitainKakkar commented on #96
Kindly assign this issue a level , so that it can be considered for scoring in LGMSOC.
Thank you!!

[2021-06-15 21:27] queenish001 commented on #85
I will work on Model Creation, first I will perform exploratory data analysis to visualize the dataset, and then I'll train the model by Linear Regression and Random Forest Regressor

[2021-06-16 05:17] Manasi2001 commented on #85
Good @queenish001. Assigned to you 👍🏻

[2021-06-16 06:21] prathimacode-hub commented on #96
Ok, that's cool. Level would be assigned only after PR is reviewed. LGMSOC label has already been tagged for this issue. @HitainKakkar

[2021-06-16 09:35] #43 closed

[2021-06-16 09:36] #86 closed

[2021-06-16 09:37] #51 closed

[2021-06-16 09:43] #9 closed

[2021-06-16 09:57] prathimacode-hub commented on #95
Ok, this issue is assigned to you. You can proceed. But let us know about the task you'll working on so that we can assign labels accordingly? @HitainKakkar

[2021-06-16 10:42] #55 closed

[2021-06-16 10:58] NEERAJAP2001 commented on #52
Hey @prathimacode-hub  Can I work on this?

[2021-06-16 11:07] prathimacode-hub commented on #52
Sure, you can work on this. That's a good explanation. But kindly add a commment according to the issue template. @NEERAJAP2001

[2021-06-16 12:43] NEERAJAP2001 commented on #52
Okay @prathimacode-hub

[2021-06-16 15:13] TusharAMD commented on #50
Hello. Is this issue assigned to anyone?
I think I can work on this. Please assign this to me if its available.
First of all its similar to shape detection in opencv which I have already worked on. So first I need to convert the image to grayscale and find the contours.
Each tetris will have certain color so that can be used to differentiate between different blocks.
So like wise I am planning to

[2021-06-16 15:25] prathimacode-hub commented on #50
This project is not just about tetris but also an object counter as well. Hope you know it. Sure, Let me know on the task you're going to work on? @TusharAMD

[2021-06-16 15:56] Isha307 commented on #16
@prathimacode-hub Can you please assign this issue to me?

[2021-06-16 16:14] Manasi2001 commented on #52
Go ahead @NEERAJAP2001 👍🏻

[2021-06-16 16:16] prathimacode-hub commented on #50
You can now check on with the issue given, We give tetris image as an input and count number of objects  present in it using OpenCV and imutils. @TusharAMD

[2021-06-16 16:19] TusharAMD commented on #50
Yes I can work on this one. Can I get the sample of input images? Or should I get it from internet

[2021-06-16 16:20] Manasi2001 commented on #16
You can surely work on this @Isha307. But first, please let me know what you are willing to work on, 'front-end', 'back-end' or 'model creation'. Also, what all algorithms you are planning to use and the analysis you'll be performing. Then, I'll assign it to you :)

[2021-06-16 16:40] prathimacode-hub commented on #50
You can get it from internet. But make sure it's the valid tetris image files. This issue is assigned to you. @TusharAMD

[2021-06-16 17:08] #82 closed

[2021-06-16 17:20] #47 closed

[2021-06-16 17:20] #45 closed

[2021-06-16 17:47] Raghavi20 commented on #19
Hii, I would like to work on this issue as LGM SOC'21 participant. Do assign me if possible. Thank You!

[2021-06-16 17:48] prathimacode-hub commented on #19
Kindly explain your approach, algorithms you would follow and the task you're going to choose? @Raghavi20

[2021-06-16 18:27] harshita9621 commented on #95
Hii, I would like to work on this issue as LGM SOC'21 participant . Do assign me if possible. Thank You!

[2021-06-16 18:34] Sumit11081996 commented on #36
hii @prathimacode-hub  can you please assign me this

[2021-06-16 19:10] Soumayan-pal01 commented on #13
I have created the PR @prathimacode-hub . Please review it. Thank you.

[2021-06-16 20:03] ishitakapoor26 opened #105 "Add LGM-SOC'21 score card in readme.md"
Add LGM-SOC'21 score card in readme.md

[2021-06-16 20:03] ishitakapoor26 commented on #105
@prathimacode-hub pls assign this issue to me.

[2021-06-17 04:57] Isha307 commented on #16
I will work on model creation.
I saw the dataset and it has 43 classification and one data folder that contains all the images file so I am thinking to use CNN.

[2021-06-17 04:59] Abhilash249 commented on #19
I would also like to contribute to this issue. Please assign me if possible.

[2021-06-17 06:06] Raghavi20 commented on #19
@prathimacode-hub
The dataset used here includes 10 different genres with 100 clips for each genre .So to do audio analysis ,data visualizations and feature extraction, I wanted to use a library called librosa .So after the features are extracted we need to choose a classifier which is responsible for classifying the music into different genres. I wanted to use CNN algorithm and compare the accura

[2021-06-17 06:32] prathimacode-hub commented on #16
Great, this issue is assigned to you. You can start working on it. All the best.
@Isha307

[2021-06-17 06:34] prathimacode-hub commented on #19
That sounds cool. You can proceed. But what's the task you'll be working on? "Model Creation" or "Front End" or "Back End" or "Designing"? @Raghavi20

[2021-06-17 06:35] prathimacode-hub commented on #19
Issue is assigned on FCFS basis and only one can take up an issue. You can take up some other issue to work on. @Abhilash249

[2021-06-17 06:52] Raghavi20 commented on #19
@prathimacode-hub
Thank You, I initially wanted to work on model creation and if that is completed i will try to work on the frontend and backend part

[2021-06-17 07:16] prathimacode-hub commented on #19
Ok, for now I shall assign as model creation. But when you want on other things, let us know. We shall assign accordingly. @Raghavi20

[2021-06-17 07:23] Raghavi20 commented on #19
okk mam, thankyou

[2021-06-17 07:34] ishitakapoor26 commented on #105
Like this
![score card](https://user-images.githubusercontent.com/78542333/122352250-93eafa80-cf6c-11eb-8fb7-c074b6c88c2e.PNG)

[2021-06-17 07:50] prathimacode-hub commented on #105
I don't think it's necessary to add in image format. Because this repo, is not purely for LGMSOC participants. But it accepts other contributors as well. It can be added as text. If you could add it that way you're free to take up this issue. @ishitakapoor26

[2021-06-17 07:56] ishitakapoor26 commented on #105
@prathimacode-hub okay I'll add it as text.

[2021-06-17 08:56] ishitakapoor26 commented on #105
@prathimacode-hub pls assign it to me.

[2021-06-17 09:12] jayant766 commented on #44
please assign it to me under LGM-SOC'21

[2021-06-17 09:13] jayant766 commented on #36
please assign it to me under LGM-SOC'21

[2021-06-17 09:13] jayant766 commented on #20
please assign it to me under LGM-SOC'21

[2021-06-17 09:13] jayant766 commented on #15
please assign it to me under LGM-SOC'21

[2021-06-17 09:14] jayant766 commented on #17
please assign it to me under LGM-SOC'21

[2021-06-17 09:33] Manasi2001 commented on #44
@jayant766 you can surely work on this, but first let me know how you are planning to proceed, what all algorithms you will use and which task you'll be working on: backend, frontend or model creation. Then, I'll assign it to you :)

[2021-06-17 09:35] prathimacode-hub commented on #44
Choose on 1 issue you would like to work on. I have seen you express interest on multiple issues. @jayant766

[2021-06-17 09:36] Manasi2001 commented on #36
@Sumit11081996 you can work on this. Please let me know what all algorithms you will use and which task you'll be working on: backend, frontend or model creation. Then, I'll assign it to you.

[2021-06-17 09:36] prathimacode-hub commented on #105
Ok, this issue is assigned to you. @ishitakapoor26

[2021-06-17 09:44] shivani6320 commented on #95
Hello. I would like to contribute to this project as aLGMSOC21 Participant. Please assign me this issue. Thank you.

[2021-06-17 09:45] Manasi2001 commented on #95
@harshita9621 you can work on this, but first let me know how you are planning to proceed, what all algorithms you will use and which task you'll be working on: backend, frontend or model creation. Then, I'll assign it to you :)

And @HitainKakkar no need to worry. You can still work on this in future, I'll keep the issue open.

[2021-06-17 09:45] shivani6320 commented on #31
Hello. I would like to contribute to this project as aLGMSOC21 Participant. Please assign me this issue. Thank you.

[2021-06-17 09:47] Manasi2001 commented on #95
Hey @shivani6320, what type of analysis are you planning to do? Please elaborate in detail.

[2021-06-17 09:48] shivani6320 commented on #36
Hello. I would like to contribute to this project as aLGMSOC21 Participant. Please assign me this issue. Thank you.

[2021-06-17 09:49] shivani6320 commented on #7
Hello. I would like to contribute to this project as aLGMSOC21 Participant. Please assign me this issue. Thank you.

[2021-06-17 09:50] Manasi2001 commented on #36
@jayant766 and @shivani6320 the issues are assigned on the basis of FCFS and you can only work on one issue at a time. Please select one and let me know.

[2021-06-17 09:57] jayant766 commented on #36
@Manasi2001 According to the rule the issue will assign to me because I first come.

[2021-06-17 10:03] Manasi2001 commented on #36
Hey @jayant766, Sumit asked for the issue to be assigned to him before you.
![image](https://user-images.githubusercontent.com/68627617/122375615-04037b80-cf81-11eb-84f0-189ede8ee37e.png)
Don't you worry, there are so many projects that you can work on, just select 1 and I'll assign it to you. 🙃

[2021-06-17 10:05] jayant766 commented on #36
@Manasi2001 I didn't saw his comment, if he came first then assigned it to him. I don't have any problem.

[2021-06-17 10:06] harshita9621 commented on #95
I have a data set from kaggle in which they give us all the cases of covid in a day basis. So I will create a model which predict the upcoming month cases. And I use algorithms for continuous variable because our target variable will be continuous variable and algorithm Like Linear regression and random Forest regressor

[2021-06-17 10:12] prathimacode-hub commented on #7
This issue is created for general contributors. Issues raised for LGM-SOC participants has a label. You can work on only 1 issue at a time. Kindly decide about the issue you want to work on, and then express ur interest, It will be assigned on FCFS basis. @shivani6320

[2021-06-17 10:15] prathimacode-hub commented on #31
Are you sure you want to work on this issue? Kindly say your approach you would follow, algorithms you would consider and and the task you are going to choose? Then, it can be assigned to you.
@shivani6320

[2021-06-17 10:26] Manasi2001 commented on #95
Great @harshita9621, go ahead. 👍🏻

[2021-06-17 10:46] shivani6320 commented on #31
I would first perform Exploratory data analysis and data visualizations to gain insights from the data. I can use ensemble modeling approach and use various Classification models like RandomForest,KNN,NaiveByes, Catboost,Adaboost, GradientBoost Classifier- to predict future delays in flights.Which ever model gives better results, I will move forward with it.

[2021-06-17 11:26] Manasi2001 commented on #31
Go ahead @shivani6320 👍🏻

[2021-06-17 12:07] Umesh-01 opened #108 "Add links to the badges"
Title: Add links to the badges in main README.md file
Name: Umesh Singh
Label: Enhancement Request
Define You
- [x] LGM-SOC'21 Participant
- [ ] Contributor

Solution For Issue:
I will add links to the badges present in the readme (see the below image)

![image](https://user-images.githubusercontent.com/83420185/122393351-6add6080-cf92-11eb-8e01-d1e7f0b09893.png)

**To Do**
- [x] Add some links in

[2021-06-17 12:17] Rutikab12 commented on #79
Hey, @prathimacode-hub Done with model creation just a few changes left. I will be making PR by tomorrow.

[2021-06-17 13:04] prathimacode-hub commented on #108
Sure, this issue is assigned to you. You can proceed on it. @Umesh-01

[2021-06-17 13:05] #105 closed

[2021-06-17 15:38] Shady2320 commented on #44
Hi @prathimacode-hub, please assign me i can do all the three things.

[2021-06-17 15:48] prathimacode-hub commented on #44
That's great. What's the approach you would follow. And algorithms you would work with?
@Shady2320

[2021-06-17 15:59] Soumayan-pal01 commented on #17
Hey @prathimacode-hub  I would really like to work on 'Model Creation' for this issue as a LGM-SOC participant to detect the Fake News using NLP and LTSM approaches. Please assign me this issue if possible. Thank you.

[2021-06-17 16:29] Shady2320 commented on #44
At first, i will gather dataset based on Fake Currency Detection and then using Jupyter Notebook i will create model. After creating model i will deploy it using Flask.
I will use mainly two algorithms, Logistic Regression or Random Forest Classifier

[2021-06-17 16:35] prathimacode-hub commented on #17
Definitely, this issue is assigned to you. @Soumayan-pal01

[2021-06-17 16:37] abhisheks008 opened #114 "Medical Cost Analysis for Smokers and Non-smokers"
Hello admin,
In this project I would like to use several machine learning models and also will do an Exploratory data analysis about both the nonsmokers and smokers and after that I will analyze both of the categories based on the features like,
1. gender wise analysis
2. Cost wise analysis
3. age distribution
4. 18+ years old smokers and their medicine charges
5. Smoker parents who have children

[2021-06-17 16:38] abhisheks008 commented on #114
@prathimacode-hub Please look in to the issue that I have created and assign me this so that I can contribute. 😃

[2021-06-17 17:44] prathimacode-hub commented on #44
That's cool. This issue is assigned to you. @Shady2320

[2021-06-17 17:46] prathimacode-hub commented on #114
That was a wonderful elaboration of your project. But kindly add up the template given to get issue assigned to you. And also what's the task you're taking up. Please, let me know. That's to know you as a LGMSOC participant. @abhisheks008

[2021-06-17 18:00] abhisheks008 commented on #114
Project name : Medical charges analysis for smokers and non-smokers using ML
[x] LGMSOC participant
Task taken : Developing the backend model of the project based on machine learning

Description of the project :
This project will provide the comparative feature analysis of the medical charges of the smokers and the non-smokers and will also predict the average medical charges for the smokers and

[2021-06-17 18:05] prathimacode-hub commented on #114
Obviously, this issue is assigned to you. You can start working on it. All the best. @abhisheks008

[2021-06-17 18:14] abhisheks008 commented on #114
Thanks a lot for this opportunity! 😄

[2021-06-17 18:17] abhisheks008 commented on #114
@prathimacode-hub in this project I will also add a prediction model which will predict the average medical charges for the smokers, so you can also add the label of model creation.

[2021-06-17 18:20] prathimacode-hub commented on #114
That's great.

[2021-06-17 18:54] Soumayan-pal01 commented on #17
Thank you @prathimacode-hub . Will inform once I have created the PR.

[2021-06-18 03:57] Sumit11081996 commented on #36
There is a delivery data set in kaggle in which they give us all the runs scored in a every single ball so i can perform a EDA and extract information from the data and create a model which predict how many run scored in the next over and the target variable is continuous so i am performing algorithm which used in continuous variable Like Linear regression and random Forest regressor and decision

[2021-06-18 07:09] prathimacode-hub commented on #36
Cool, what's the task you will be working on? @Sumit11081996

[2021-06-18 07:11] Sumit11081996 commented on #36
@prathimacode-hub  model creation

[2021-06-18 07:21] prathimacode-hub commented on #36
Issue is assigned to you. @Sumit11081996

[2021-06-18 07:49] #13 closed

[2021-06-18 07:50] #85 closed

[2021-06-18 11:08] #108 closed

[2021-06-18 13:49] sonaliBedade commented on #26
I am a beginner in ML and I am familiar with basic algorithms. I would like to work on this. Can you please assign this issue to me?

[2021-06-18 13:59] prathimacode-hub commented on #26
Sure, But first let me know of your approach and algorithms you would had thought working on? And as well, what's the task you're taking up? @sonaliBedade

[2021-06-18 19:01] sonaliBedade commented on #26
I am planning to first visualize and plot the overall tone of the reviews and then classify them according to their positivity or negativity. But I'm not sure which classification algorithm would be suitable in this case

[2021-06-19 04:47] abhisheks008 commented on #25
Hey @prathimacode-hub , I am up for this issue and I want to contribute in this.

Name of the issue : Road Lane Detection
Issue #25

- [x] LGMSOC Participant

Approach : I will be solving this issue using the opencv library, apart from that I will be also using the libraries such as numpy, imutils, time. These are the essential components which I will be using to solve this complicated issue.

Des

[2021-06-19 05:36] noviicee commented on #49
Hey @prathimacode-hub
I am facing health issues from the past few days. I guess I won't be able to make a PR soon.
If anybody is interested to take up the issue, they make take it up!
#LGM-SoC participants

[2021-06-19 06:56] ayushi424 commented on #15
hey @prathimacode-hub ,
I would like to work on this issue, mainly model creation.
I'll proceed by data exploration to find any null values and if present then clean the data.
Then find what features/ factors result in more stress level, and then create model using more than 1 algorithm and evaluate which algorithm turns out to be the best.
Please assign.

[2021-06-19 07:07] prathimacode-hub commented on #26
Hmm, you can proceed. But as mentioned, atleast use 3 to 4 algorithms to get good efficiency and optimization. This issue is assigned to you. @sonaliBedade

[2021-06-19 07:08] prathimacode-hub commented on #20
Do you want to work on this issue? @jayant766

[2021-06-19 07:11] prathimacode-hub commented on #15
Sure, this issue is assigned to you. You can proceed. @ayushi424

[2021-06-19 07:11] prathimacode-hub commented on #15
@jayant766, you had expressed your interest for other issue as well. Kindly let me know if you would like to work on that issue?

[2021-06-19 07:15] prathimacode-hub commented on #25
Sure, this issue is assigned to you. You can proceed. All the best. @abhisheks008

[2021-06-19 07:15] jayant766 commented on #20
@prathimacode-hub yes

[2021-06-19 07:17] jayant766 commented on #15
@prathimacode-hub yes I want to work on that issue

[2021-06-19 07:23] prathimacode-hub commented on #20
Ok, let me know about your approach you would follow and task you would take up. @jayant766

[2021-06-19 08:20] sy07 commented on #12
Hi mam, I would like to work on this issue as LGMSOC21 participant. Please assign me to this task if possible.

[2021-06-19 08:34] jayant766 commented on #20
I am using Dlib and OpenCV with Python for this Drowsiness Detection issue

[2021-06-19 08:40] prathimacode-hub commented on #20
Ok, go for it. This issue is assigned to you. @jayant766

[2021-06-19 09:03] prathimacode-hub commented on #12
Sure, but first let me know of the approach you're going to take. How would you proceed? What's the task you're taking?

[2021-06-19 09:12] sy07 commented on #12
I would like to build model for SER and i will use algorithms like SVM etc.

[2021-06-19 09:26] prathimacode-hub commented on #12
That's cool. Use atleast 2 to 3 algorithms for good optimization @sy07

[2021-06-19 09:29] prathimacode-hub commented on #8
It's been long time, you hadn't created any PR yet? @theanshulcode

[2021-06-19 09:29] prathimacode-hub commented on #10
It's been long time you hadn't responded back? @SoyabulIslamLincoln

[2021-06-19 09:31] prathimacode-hub commented on #61
It's been 6 days. As said, time to complete PR is only 5 days and no update since then. I already mentioned, you should update your progress once in 2 days. @SoyabulIslamLincoln

[2021-06-19 09:35] prathimacode-hub commented on #49
Sure, thanks for letting me know. Health comes first and is of top most priority. I pray for your speedy recovery. Get well soon. @noviicee

[2021-06-19 09:37] prathimacode-hub commented on #48
Any update? @arushi09207

[2021-06-19 09:38] prathimacode-hub commented on #34
It's been 5 days. As said, time to complete PR is only 5 days and no update since then. I already mentioned, you should update your progress once in 2 days. @PaliwalRP

[2021-06-19 09:39] prathimacode-hub commented on #33
It's been 8 days. As said, time to complete PR is only 5 days and no update since then. I already mentioned, you should update your progress once in 2 days. @ritikkumar55

[2021-06-19 09:40] prathimacode-hub commented on #30
It's been 7 days. As said, time to complete PR is only 5 days and no update since then. I already mentioned, you should update your progress once in 2 days. @psyduck1203

[2021-06-19 10:27] abhisheks008 commented on #49
Hey @prathimacode-hub , I am up for this issue and I want to contribute in this.

Name of the issue : Emoji Classification using OpenCV
Issue #49

- [x] LGMSOC Participant

Approach : I will be solving this issue using the opencv library, apart from that I will be also using the libraries such as Tensorflow, Keras, seaborn and many more basic libraries. These are the essential components which I w

[2021-06-19 10:42] PaliwalRP commented on #34
Really sorry about that mam , but my system went into some problem so i was not able to carry out the work further.It will take around more 5 days for my system to get repair.You can assign this issue to someone if he/she wants to work on it i will also sumbit a PR if my system repaires within the time frame.

[2021-06-19 10:50] prathimacode-hub commented on #49
Sure, this issue is assigned to you. You can start working on it. @abhisheks008

[2021-06-19 11:03] #79 closed

[2021-06-19 11:04] #46 closed

[2021-06-19 11:05] #114 closed

[2021-06-19 11:05] #23 closed

[2021-06-19 11:12] abhisheks008 commented on #49
How much time will I get for this project to be done?

[2021-06-19 11:23] #25 closed

[2021-06-19 11:25] #24 closed

[2021-06-19 11:26] #18 closed

[2021-06-19 11:35] #52 closed

[2021-06-19 11:46] prathimacode-hub opened #128 "Movie Recommendation Systems"
Hey LGM-SoC participants, good to see you.

Movie Recommendation Systems helps you in recommending and predicting the movies you can watch based on your previously watched data.

Dataset : https://www.kaggle.com/rounakbanik/the-movies-dataset

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

En

[2021-06-19 11:49] arushi09207 commented on #48
Please refer to my pr made again! Thanks for all the help. 😃

[2021-06-19 11:52] prathimacode-hub opened #129 "Bird Species Classification and Recognition"
Hey LGM-SoC participants, good to see you.

This bird species recognition helps you in classifying and recognizing the species of the bird based on various scenarios into consideration.

Dataset : https://www.kaggle.com/gpiosenka/100-bird-species

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

[2021-06-19 11:54] prathimacode-hub opened #130 "Bitcoin Price Prediction"
Hey LGM-SoC participants, good to see you.

This project should be able to help in predicting the bitcoin price based on the dataset provided.

Dataset : https://www.kaggle.com/vikramjeetsinghs/bitcoin-dataset

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

Enjoy your open source journey!😎

[2021-06-19 12:04] prathimacode-hub opened #131 "Football Match Prediction"
Hey LGM-SoC participants, good to see you.

Using machine learning, we can predict the output of the football match by taking various factors into account.

Dataset : https://www.kaggle.com/ricardomoya/football-matches-of-spanish-league

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

Enjoy yo

[2021-06-19 12:27] prathimacode-hub opened #132 "Yelp User Reviews"
Hey LGM-SoC participants, good to see you.

Through this project, we are building a recommender system using Yelp Dataset.

Dataset : https://www.kaggle.com/yelp-dataset/yelp-dataset

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

Enjoy your open source journey!😎

[2021-06-19 12:50] NEERAJAP2001 opened #133 "Cotton Disease Prediction using DL"
Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

Tasks:

* Uses Deep learning to detect diseases on cotton plants.
* I'm assuming to solve this using transfer learning.
* Dataset consists of Images of 3 different brands ( I'll give the dataset for download in a separate folder).
* Build an End to End Web-application with flask as backend.

So, I'll be going fullstack = model + backend

[2021-06-19 12:53] prathimacode-hub commented on #133
That sounds pretty interesting. Sure, you can proceed with the issue. @NEERAJAP2001

[2021-06-19 13:01] Jagannath8 opened #134 "Water Quality Prediction"
Title: Water Quality Prediction
Objective: The main objective of this project is to predicting the water quality based on the dataset provided using machine learning algorithms.
Dataset: https://www.kaggle.com/adityakadiwal/water-potability
About: Create model
Label: Feature Request

[2021-06-19 13:02] Jagannath8 commented on #134
I will use multiple machine learning algorithms to compare the accuracy.
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-06-19 13:08] prathimacode-hub commented on #134
Sure, you can work with the issue. Proceed. This issue is assigned to you. @Jagannath8

[2021-06-19 13:21] prathimacode-hub commented on #34
Ok, sure. @PaliwalRP

[2021-06-19 13:55] PaliwalRP commented on #34
I wanted to contribute but , its not possible without system.I will try if i get it reapired in a 2-3 days.

[2021-06-19 14:05] Jagannath8 commented on #134
EDA and Model Creation

[2021-06-19 14:43] Soumayan-pal01 commented on #17
I have created the PR @prathimacode-hub . Please review it.

[2021-06-19 15:32] prathimacode-hub commented on #34
Sorry, I had removed the tag. Do you want me to add up still? @PaliwalRP

[2021-06-19 16:28] PaliwalRP commented on #34
No mam its okay , I was just saying that in case i get my system back in 2-3 days i will reach out to this issue again.

[2021-06-19 18:26] Rutikab12 commented on #128
Hey @prathimacode-hub, I want to work on this issue. First I will work on just model creation and then will try to move to frontend and backend if possible. I'll convey you in time. Assign me if possible.

[2021-06-20 03:11] harshita9621 commented on #129
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-06-20 05:19] Isha307 commented on #34
@prathimacode-hub Can I work on this issue ?

[2021-06-20 05:31] Anshal55 opened #138 "Age, Gender and Ethnicity Prediction"
Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

I am going to build 3 models for the prediction of Age, Gender and Ethnicity on the dataset https://www.kaggle.com/nipunarora8/age-gender-and-ethnicity-face-data-csv

I am working on model creation for now, would work on Back End after.

[2021-06-20 05:31] Anshal55 commented on #138
Please assign me this issue.

[2021-06-20 10:57] prathimacode-hub commented on #138
Ok, sure. First, let me know of your approach you're going to follow. @Anshal55

[2021-06-20 11:35] Anshal55 commented on #138
I'm planning to use functional deep learning model for the prediction part and use flask and heroku to deploy the models.

[2021-06-20 12:32] #31 closed

[2021-06-20 12:43] #39 closed

[2021-06-20 12:50] #17 closed

[2021-06-20 12:58] #16 closed

[2021-06-20 13:04] #30 closed

[2021-06-20 13:13] #33 closed

[2021-06-20 13:52] prathimacode-hub commented on #138
Ok, sure. This issue is assigned to you. You can proceed. @Anshal55

[2021-06-20 14:02] Anshal55 commented on #138
Thanks @prathimacode-hub

[2021-06-20 14:08] abhisheks008 commented on #132
Hey @prathimacode-hub , I am up for this issue and I want to contribute in this.

Name of the issue : Yelp User reviews
Issue #132

- [x] LGMSOC Participant

Approach : To make the recommendation system I would like to develop the machine learning models using the neural networks. But firstly, I will use KNN for classifying the data and then SVD and Keras will be used for developing the model for

[2021-06-20 14:13] #49 closed

[2021-06-20 14:34] prathimacode-hub commented on #34
Are you sure, you want to work on this? Kindly let me know of the approach you will follow, algorithms you would take up and the task you're going to choose? @Isha307

[2021-06-20 14:36] shivani6320 commented on #130
I would like to contribute. Please assign me this issue.

[2021-06-20 14:39] prathimacode-hub commented on #130
Sure, let me know your approach and algorithms you would take into consideration. The tasl you're going to take up? @shivani6320

[2021-06-20 14:42] prathimacode-hub commented on #132
Sure, this issue is assigned to you. You can start working. All the best. @abhisheks008

[2021-06-20 14:43] prathimacode-hub commented on #129
Sure, @harshita9621. Kindly let me know of the approach you would follow and how would you proceed, task you would take up. @harshita9621

[2021-06-20 14:44] prathimacode-hub commented on #128
Definitely, this issue is assigned to you. You can start your work. Proceed. @Rutikab12

[2021-06-20 14:50] shivani6320 commented on #130
I would explore data using EDA techniques and try to recognize patterns within data. Then I would use Regression techniques like Linear regression as well as advanced regression algorithms like Ridge & Lasso regression to predict the price if bitcoin. For this Project I would also like to compare regression techniques with neural networks also, for better model performance.

[2021-06-20 15:02] prathimacode-hub commented on #130
That sounds cool. You can proceed with the issue, it's assigned to you. @shivani6320

[2021-06-20 15:55] prathimacode-hub commented on #96
It's been more than 4 days. No update from you about your progress. It's already mentioned, that you'have to update once in 2 days. @HitainKakkar

[2021-06-20 15:56] prathimacode-hub commented on #61
Tomorrow hasn't come yet? @SoyabulIslamLincoln

[2021-06-20 16:04] Soumayan-pal01 opened #142 "Solar Eclipse Classification"
---
Title: Solar Eclipse Classification
About: To predict the different types of Solar Eclipse where P = Partial Eclipse, A = Annular Eclipse, T = Total Eclipse, H = Hybrid or Annular/Total Eclipse.
Name: Soumayan Pal
Label: Feature Request
Assignee: 'Soumayan-pal01'

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

**Yes I have discussed with the Project Admin**

**Proper Explora

[2021-06-20 16:08] Rutikab12 commented on #128
Thank You

[2021-06-20 16:09] Soumayan-pal01 commented on #142
I would like to work on 'Model Creation'

[2021-06-20 16:32] SoyabulIslamLincoln commented on #61
Sorry @prathimacode-hub . My pc got busted . Got the pc today. Wasn't able to complete it. bOth the issues.

[2021-06-20 16:52] Isha307 commented on #34
I will create model for the price prediction on the basis of given features.
I will check accuracy of different algorithm(mainly classification) and will chose accordingly.

[2021-06-20 16:55] prathimacode-hub commented on #61
Kindly complete this issue first, as it's the part of an open source program. @SoyabulIslamLincoln

[2021-06-20 16:56] harshita9621 commented on #129
In this project I first go with the basic parts, such as input pipeline, compose the model and data augmentation . I will classify the images of bird by using transfer learning and I will follow the transfer learning and fine - tuning which is tensorflow for the project and I am beginner for computer vision so if you assigned me this then it will very helpful for me to learn about new thing.

[2021-06-20 16:57] prathimacode-hub commented on #142
Yes, you can go ahead. All the best. @Soumayan-pal01

[2021-06-20 16:57] prathimacode-hub commented on #34
That's cool. Issue is assigned. You can start working. @Isha307

[2021-06-20 16:59] prathimacode-hub commented on #129
That's good to see your enthusiasm to learn. Sure, this issue is assigned to you. All the best for your learning journey. @harshita9621

[2021-06-20 17:06] SoyabulIslamLincoln commented on #61
Will do. Sorry again for the delay.

[2021-06-20 17:14] prathimacode-hub commented on #61
ok

[2021-06-20 17:50] Soumayan-pal01 commented on #142
Thank you @prathimacode-hub . I will inform when I have created the PR.

[2021-06-21 03:42] HitainKakkar commented on #96
Sorry for the delay!!
Actually my exam are going on!!
So I was busy with them!!
I will make sure that the PR is made today evening.

[2021-06-21 04:43] abhisheks008 commented on #131
Hey @prathimacode-hub , I am up for this issue and I want to contribute in this.

Name of the issue : Football Match Prediction
Issue #131

- [x] LGMSOC Participant

Approach : To make this prediction model, I would like to use various classifiers for fitting the model. Using various classifiers will provide us the opportunity to find out the best fit algorithm. The algorithms which I am going to

[2021-06-21 05:25] Manasi2001 commented on #95
Hey peeps! This project being a being very popular choice is opened again for your contributions. But you can only do the analysis that has not been done before. So, if you feel like you can bring something new to the table then show your interest and get this issue assigned to you.

[2021-06-21 05:34] Manasi2001 commented on #131
Sounds perfect @abhisheks008. Just make the changes in your PR first and then you may go ahead with this issue.

[2021-06-21 05:40] Manasi2001 opened #145 "Stroke Prediction"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/fedesoriano/stroke-prediction-dataset) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happy coding :)

[2021-06-21 05:42] Manasi2001 opened #146 "Mushroom Classification"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/uciml/mushroom-classification) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happy coding :)

[2021-06-21 05:46] Manasi2001 opened #147 "Rock Paper Scissors Game"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/drgfreeman/rockpaperscissors) or any other dataset of your choice. Try something out of the box and develop a game of Rock-Paper-Scissors. Don't forget to follow proper project structure for code as well as for the README.
Happy coding :)

[2021-06-21 05:51] Manasi2001 opened #148 "Resume Categorizing"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/gauravduttakiit/resume-dataset) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happy coding :)

[2021-06-21 05:54] Manasi2001 opened #149 "American Sign Language (ASL) Recognition"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/grassknoted/asl-alphabet) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happy coding :)

[2021-06-21 05:58] Manasi2001 opened #150 "CAPTCHA Decoding"
Hey LGM-SOC participant, great to have you here! 😀
The aim is to decode the CAPTCHA images using AI. If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/fournierp/captcha-version-2-images) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code

[2021-06-21 06:01] Manasi2001 opened #151 "LEGO Minifigures Classification"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/ihelon/lego-minifigures-classification?select=jurassic-world) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the READM

[2021-06-21 06:06] Manasi2001 opened #152 "Marvel's Superhero Predicting Game"
Hey LGM-SOC participant, great to have you here! 😀
Use this interesting [dataset](https://www.kaggle.com/dannielr/marvel-superheroes) and try to build a game that is able to recognize the Marvel Superhero based on his/her various characteristics.
Happy coding :)

[2021-06-21 06:30] #132 closed

[2021-06-21 06:32] #134 closed

[2021-06-21 06:35] Manasi2001 opened #153 "Cryotherapy Analysis"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/mmkvarma/cryotherapy-analysis) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happy coding :)

[2021-06-21 06:36] Manasi2001 opened #154 "Zoo Animal Classification"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/uciml/zoo-animal-classification?select=class.csv) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happy cod

[2021-06-21 06:40] Jagannath8 commented on #145
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-06-21 06:52] Manasi2001 commented on #145
Sure @Jagannath8, but first please let me know what kind of analysis you're willing to perform, the algos which you'll be using and whether you'll be working on frontend/backend/model creation. Then, I'll assign it to you :)

[2021-06-21 06:54] sai-keerthi commented on #149
I would like to compare all the algorithms in keras and choose the appropriate 3 algorithms based on the accuracy and train the data and compare the performance.
can you please assign my this task.

[2021-06-21 06:56] Manasi2001 commented on #149
Sounds good @sai-keerthi! Go ahead. 👍🏻
Just for the confirmation, you'll be working on model creation only, right?

[2021-06-21 06:58] sai-keerthi commented on #149
yes

[2021-06-21 06:59] Jagannath8 commented on #145
I will use multiple machine learning algorithms to create model and compare the accuracy.

[2021-06-21 07:03] Manasi2001 commented on #145
Okay, go ahead. 👍🏻

[2021-06-21 07:10] Manasi2001 opened #155 "Fashion MNIST Classification"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/zalando-research/fashionmnist) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happy coding :)

[2021-06-21 07:11] Manasi2001 opened #156 "Dandelion Recognition"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/coloradokb/dandelionimages) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happy coding :)

[2021-06-21 07:13] Nomulacharitha commented on #147
can you please this assign

[2021-06-21 07:13] Manasi2001 opened #157 "Flowers Recognition"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/alxmamaev/flowers-recognition) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happy coding :)

[2021-06-21 07:15] Manasi2001 opened #158 "Rain Prediction"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/jsphyg/weather-dataset-rattle-package) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happy coding :)

[2021-06-21 07:18] Manasi2001 commented on #147
How are you willing to proceed @Nomulacharitha? Also, let me know what you will be working on frontend/backend/model creation. Then I'll assign it to you :)

[2021-06-21 07:21] Manasi2001 opened #159 "Fresher's Salary Prediction"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/benroshan/factors-affecting-campus-placement) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happy coding

[2021-06-21 07:23] Manasi2001 opened #160 "Bird Species Classification"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/gpiosenka/100-bird-species) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happy coding :)

[2021-06-21 07:24] Manasi2001 opened #161 "Natural Images Classification"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/prasunroy/natural-images) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happy coding :)

[2021-06-21 07:27] prathimacode-hub commented on #96
That's ok. No issue. If you inform, it would help us in getting notified. @HitainKakkar

[2021-06-21 07:28] psyduck1203 commented on #155
Hey, Can I work on this issue?

[2021-06-21 07:28] Manasi2001 opened #162 "Fish Weight Prediction"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/aungpyaeap/fish-market) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happy coding :)

[2021-06-21 07:30] prathimacode-hub commented on #160
Hey, this issue is already taken along with same dataset. Harshita is working on it. @Manasi2001

[2021-06-21 07:30] Manasi2001 opened #163 "Student Performance Prediction"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/larsen0966/student-performance-data-set) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happy coding :)

[2021-06-21 07:31] prathimacode-hub commented on #155
Yes, but let us know about ur approach, algos you would consider and how would you proceed. What's the task you would take up. @psyduck1203

[2021-06-21 07:34] Manasi2001 opened #164 "Hotel Rating Prediction"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/andrewmvd/trip-advisor-hotel-reviews) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happy coding :)

[2021-06-21 07:36] Manasi2001 commented on #160
Oops sorry. Closed 👍🏻

[2021-06-21 07:36] #160 closed

[2021-06-21 07:40] prathimacode-hub commented on #160
That's fine, glad to see you add up multiple interesting issues on board. 👍

[2021-06-21 08:28] psyduck1203 commented on #155
I have already worked on this project. I have used KNN, SVM, and logistic regression. I'll do Data pre-processing, Model Training, and Model Evaluation.

[2021-06-21 08:37] prathimacode-hub commented on #155
Ok cool, this issue is assigned to you. @psyduck1203

[2021-06-21 09:05] ritikkumar55 commented on #159
@Manasi2001 As a LGMSOC21 participants. I would like to work on this issue.

[2021-06-21 09:14] #131 closed

[2021-06-21 09:18] Manasi2001 commented on #159
@ritikkumar55 you can work on this but first let me know what all analysis you're willing to perform, the algos that you'll be using and what task you will be working on backend/frontend/model creation. Then I'll assign it to you :)

[2021-06-21 09:18] abhisheks008 commented on #146
Hey @prathimacode-hub and @Manasi2001  , I am up for this issue and I want to contribute in this.

Name of the issue : Mushroom Classification
Issue #146

- [x] LGMSOC Participant

Approach : For this classification model I would like to use various classification models such as, KNN, SVM, Random Forest, Logistic Regression, Naive Bayes And after deploying the models I would like to make a compari

[2021-06-21 09:31] ritikkumar55 commented on #159
As it is an regression problem I will use data visualization to shows relations between columns, encoding categorical data, scaling numerical data if required, handle outliers and will use  Linear Regression
2. Decision Tree
3. Xgboost Regression
4. Lasso Regression
5. Random Forest
6. Ridge Regression
7. Elastic Net regression algorithms and will use streamlit to deploy this model.

[2021-06-21 09:34] prathimacode-hub commented on #146
Yup, this issue is assigned to you. You can start your work. @abhisheks008

[2021-06-21 09:34] ayushi424 commented on #163
Hey @Manasi2001
I'd like to work on this issue, mainly on model creation part.
Firstly, I'll explore the data and find any missing or null values. If found then remove or replace them.
Then visualize the data to understand features and their relationships.
And then select features and train the models, lastly will check efficiency by error check and accuracy check.
Please assign.

[2021-06-21 09:35] prathimacode-hub commented on #159
That's great. You can proceed, this issue is assigned to you. @ritikkumar55

[2021-06-21 09:37] prathimacode-hub commented on #163
Yup, this issue is assigned to you. You can go ahead. @ayushi424

[2021-06-21 11:37] Isha307 commented on #158
Can I work on this issue?
I will work on the model creation and will try different algorithm and use the best one that will predict next day Rain.

[2021-06-21 11:56] anishamurmu13 commented on #154
Can I work on this issue.
I'm a participant of LGM-SOC21.
I'll use different ML algorithms to create models and compare their accuracy.

[2021-06-21 11:58] prathimacode-hub commented on #154
Ok, you can go ahead. This issue is assigned to you. @anishamurmu13

[2021-06-21 11:59] prathimacode-hub commented on #158
Yes, you can work on it. This issue is assigned to you. You can proceed. @Isha307

[2021-06-21 12:03] abhisheks008 commented on #153
Hey @prathimacode-hub and @Manasi2001  , I am up for this issue and I want to contribute in this.

Name of the issue : Cryotherapy Analysis
Issue #153

- [x] LGMSOC Participant

Approach : For this analysisl I would like to use various classification models such as, Decision Tree classifier, Gausian NB, SVM, Random Forest, Logistic Regression, Adaboost, Gradient boosting. And after deploying the m

[2021-06-21 12:52] prathimacode-hub commented on #153
Wow, good choice of project selection. Issue is assigned to you. @abhisheks008

[2021-06-21 14:03] #146 closed

[2021-06-21 14:16] #153 closed

[2021-06-21 14:27] abhisheks008 commented on #164
Hey @prathimacode-hub and @Manasi2001  , I am up for this issue and I want to contribute in this.

Name of the issue : Hotel Rating Prediction
Issue #164

- [x] LGMSOC Participant

Approach : For this prediction model I would like to use Random forest, decision tree, logistic regression, SVM, Gausian NB and some more algorithms. After that I'll evaluate them based on the accuracy scores.

Descript

[2021-06-21 14:28] HitainKakkar commented on #96
Sorry, but I lost my jupyter notebook file with the analysis of the data for this project.
So I am closing this issue.
Will soon make a new file and contribute.
Thank you for your patience.

[2021-06-21 14:28] #96 closed

[2021-06-21 14:44] prathimacode-hub commented on #164
That sounds good, issue is assigned. All the best. @abhisheks008

[2021-06-21 14:46] prathimacode-hub commented on #96
You should never close a PR or issue from your end, That's ok. It's upto you. @HitainKakkar

[2021-06-21 14:53] Anshal55 commented on #157
Hey @Manasi2001 , I would like to work on this issue.

Name of the issue : Flowers Recognition

- [x]    LGMSOC Participant

Approach : For this I would like to use keras pre-trained model and transfer learning along with CNN model to make the predictions and use flask to deploy this.

Task  : Developing the Prediction model and Deployment.

Please assign me this issue.

[2021-06-21 14:57] #15 closed

[2021-06-21 15:20] #34 closed

[2021-06-21 15:24] prathimacode-hub commented on #157
That sounds good. Issue is assigned to you. @Anshal55

[2021-06-21 15:41] HitainKakkar opened #172 "U.S. weather history visualization"
#180
Greetings Sir/Mam,

I would like to work on this project and contribute!!
For this I have prepared a Jupyter notebook for the main code/analysis and 2 datasets.
Kindly assign me this issue.
This is regarding LGMSOC.
I have made the Pull Request for the same #180

{Description of project}

### U.S. weather history visualization

The raw data and code behind the story [What 12 Months Of Record-

[2021-06-21 16:15] abhisheks008 commented on #148
Hey @prathimacode-hub and @Manasi2001  , I am up for this issue and I want to contribute in this.

Name of the issue : Resume Categorizing
Issue #148

- [x] LGMSOC Participant

Approach : For this prediction model I would like to use KNN classifier, Naive Bayes classifier, DTC, RFC, SVM and also additionally I want use ANN on this dataset.

Description : This project is all about deploying the Cla

[2021-06-21 16:50] sy07 commented on #162
Hi mam, I would like to work on this issue as LGMSOC21 participant. Please assign me to this task if possible.

[2021-06-21 16:58] HitainKakkar opened #177 "ml-time-series-analysis-sarimax-master"
Greetings Sir/Mam,

I would like to work on this project and contribute!!
For this I have prepared a Jupyter notebook for the main code/analysis and 2 datasets.
Kindly assign me this issue.
This is regarding LGMSOC.

{Description of project}
![Image](https://c1.sfdcstatic.com/content/dam/blogs/ca/Blog%20Posts/sales-forecasting-header.jpg)

# ml-time-series-analysis-sarimax

If you want to see the

[2021-06-21 17:00] #177 closed

[2021-06-21 17:04] HitainKakkar opened #178 "ml-time-series-analysis-on-sales-data-master"
Greetings Sir/Mam,

I would like to work on this project and contribute!!
For this I have prepared a Jupyter notebook for the main code/analysis and 2 datasets.
Kindly assign me this issue.
This is regarding LGMSOC.

{Description of project}
There are stores are giving two type of promos such as radio, TV corresponding to promo1 and promo2 so that they want to increase their sales across Germany,

[2021-06-21 17:07] #178 closed

[2021-06-21 17:32] Manasi2001 commented on #148
Go ahead @abhisheks008. ✨

[2021-06-21 17:37] #164 closed

[2021-06-21 18:00] Manasi2001 commented on #172
DO NOT MAKE THE PR UNTIL THE ISSUE IS ASSIGNED TO YOU.
This should be the first and the last time, okay?

[2021-06-21 18:04] Manasi2001 commented on #162
Hey @sy07, just do the changes in your PR first, then get this one assigned. 🙃

[2021-06-21 18:11] HitainKakkar commented on #96
Will keep in mind next time.

[2021-06-21 21:33] abhishek2chikun commented on #150
I would like to work on this issue under LSMSOC21, Please do assign me.
Thanks.

[2021-06-22 02:24] sy07 commented on #162
Okay mam

[2021-06-22 04:19] abhisheks008 commented on #161
Hey @prathimacode-hub and @Manasi2001  , I am up for this issue and I want to contribute in this.

Name of the issue : Natural Images Classification.

Issue #161

- [x] LGMSOC Participant

Approach : For this classification model, I would like to use Artificial Neural Network (ANN) and Convolution Neural Network (CNN). After deploying both the algorithms, the accuracy scores will be checked and ba

[2021-06-22 05:05] Manasi2001 commented on #161
Assigned @abhisheks008. 👍🏻

[2021-06-22 05:09] Manasi2001 commented on #150
Hey @abhishek2chikun you can surely work on this, but first please let me know your approach, how are you willing to go ahead with this and also whether you'll be working on model creation/backend/frontend. Then I'll assign it to you :)

[2021-06-22 05:14] #148 closed

[2021-06-22 05:30] rammya29 commented on #162
Can I work on this??

[2021-06-22 05:31] rammya29 commented on #156
Please assign this project to me.

[2021-06-22 06:17] Manasi2001 commented on #156
@rammya29 what type of analysis are you willing to perform? Also, let me know what all algorithms you're planning to use and whether you'll be working on frontend/backend/model creation. Then I'll assign it to you :)
And remember, you can work on only one issue at a time so choose accordingly. Whichever project you're interested in, give the above listed details for that and then get it assigned.

[2021-06-22 06:29] abhishek2chikun commented on #150
Hey @Manasi2001 , I would like to try different Deep Learning algorithms like NN, CNN and will be working on the complete cycle i.e. Model Creation to Deployment. Will be using Flask for the Backend and basic HTML/CSS for the frontend.

[2021-06-22 06:46] Manasi2001 commented on #150
Sounds awesome! Go ahead. 👍🏻

[2021-06-22 06:50] rammya29 commented on #162
I wish to work on this project.
I am LGM-SoC-21 Participant.
Here I wish to use Multiple Linear Regression to design a model.

[2021-06-22 06:56] Manasi2001 commented on #162
Okay @rammya29 go ahead. Although the issues are assigned on FCFS basis but as @sy07 is working on his older PR as of now, so you may proceed.
@sy07 no need to worry, I'll be opening plenty of new issues soon, you may grab them. Or if you feel like really working on this issue only, then let me know I'll keep it open and you may contribute as well, no problem.

[2021-06-22 07:01] Manasi2001 commented on #19
Updates @Raghavi20?

[2021-06-22 07:02] Manasi2001 commented on #41
Updates @Nihir2904?

[2021-06-22 07:03] Manasi2001 commented on #44
Updates @Shady2320?

[2021-06-22 07:32] sy07 commented on #162
Thank you mam, but its okay i'll work on another issue.

[2021-06-22 07:37] Shady2320 commented on #44
I have completed Model creation and Backend Part just little bit of Frontend part is left.

[2021-06-22 07:48] Raghavi20 commented on #19
I completed audio analysis and feature extraction part. I still need to do the classification and training the 3 algorithms and compare accuracy.

[2021-06-22 11:19] #161 closed

[2021-06-22 11:33] Manasi2001 opened #182 "Crop Recommendation System"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/atharvaingle/crop-recommendation-dataset) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happy coding :)

[2021-06-22 11:36] Manasi2001 opened #183 "Hotel Recommendation System"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/keshavramaiah/hotel-recommendation) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happy coding :)

[2021-06-22 11:40] Manasi2001 opened #184 "Sarcasm Detection"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/rmisra/news-headlines-dataset-for-sarcasm-detection?select=Sarcasm_Headlines_Dataset.json) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for

[2021-06-22 11:43] Soumayan-pal01 commented on #142
I have created the PR @prathimacode-hub . Please review it. Thank you.

[2021-06-22 11:44] Manasi2001 opened #186 "Disneyland Reviews Analysis"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/arushchillar/disneyland-reviews) or any other dataset of your choice. The aim is to predict the rating attribute. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well a

[2021-06-22 11:47] Manasi2001 opened #187 "Plant Seedlings Classification"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this dataset or any other [dataset](https://www.kaggle.com/vbookshelf/v2-plant-seedlings-dataset) of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happy coding :)

[2021-06-22 11:51] Manasi2001 opened #188 "Water Quality Prediction"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/adityakadiwal/water-potability) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happy coding :)

[2021-06-22 11:53] Manasi2001 opened #189 "Forest Cover Type Classification"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/uciml/forest-cover-type-dataset) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happy coding :)

[2021-06-22 12:00] Manasi2001 opened #190 "Dance Form Classification"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/souravkgoyal/identify-the-dance-form) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happy coding :)

[2021-06-22 12:00] Soumayan-pal01 commented on #186
Hey @Manasi2001 I would like to work on this issue for 'Model Creation' as LGM-SOC participant. I would use different NLP techniques and Sentiment Analysis approach to analysis the customer reviews and analyse their sentiments. Please assign me this issue if possible. Thank you.

[2021-06-22 12:07] Manasi2001 opened #191 "Song Genre Classification"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/leonardopena/top-spotify-songs-from-20102019-by-year) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happy

[2021-06-22 12:12] Manasi2001 opened #192 "Horses or Humans Classification"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/sanikamal/horses-or-humans-dataset) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happy coding :)

[2021-06-22 12:26] Isha307 commented on #188
I would like to work on this issue.
I will build a model that will predict if the water is good for consumption or not.
Please assign me @Manasi2001 @prathimacode-hub

[2021-06-22 12:40] #172 closed

[2021-06-22 12:42] Manasi2001 commented on #186
Sounds good @Soumayan-pal01. Just do that minor change in your PR first, then start working on this.

[2021-06-22 12:44] Manasi2001 commented on #188
@Isha307 first do that minor change in your PR, then start working on this. Assigning to you.

[2021-06-22 12:47] rammya29 commented on #189
Hello @Manasi2001 , I would like to work on this project. I decided to use a classifier algorithm to get the desired model. Can you assign this to me?

[2021-06-22 13:00] Manasi2001 commented on #189
@rammya29 first make the changes in your PR, then get this one assigned. 🙃

[2021-06-22 13:14] NEERAJAP2001 opened #196 "Face Generating using DCGAN"
Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

I'd Like to add Generating Face Project.
I would be using [This](http://mmlab.ie.cuhk.edu.hk/projects/CelebA.html) Data set to generate faces of celebrities using DCGAN.( will be following the total pipeline)

Describe the solution you'd like
In this project, I'll define and train a DCGAN on a dataset of faces. the goal is to get a gener

[2021-06-22 13:35] #142 closed

[2021-06-22 13:37] #138 closed

[2021-06-22 13:41] Manasi2001 commented on #196
Sounds awesome, go ahead @NEERAJAP2001. 👍🏻

[2021-06-22 14:02] Soumayan-pal01 commented on #186
Thank you @Manasi2001 . I will inform once I have created the PR.

[2021-06-22 14:21] abhisheks008 commented on #182
Hey @prathimacode-hub and @Manasi2001  , I am up for this issue and I want to contribute in this.

Name of the issue : Crop Recommendation System
Issue #182

- [x] LGMSOC Participant

Approach : For this recommendation model I would like to use Random forest, decision tree, logistic regression, SVM, Gausian NB and some more algorithms. After that I'll evaluate them based on the accuracy scores.

D

[2021-06-22 14:42] Isha307 commented on #188
okay.

[2021-06-22 16:08] abhisheks008 commented on #184
Hey @prathimacode-hub and @Manasi2001  , I am up for this issue and I want to contribute in this.

Name of the issue : Sarcasm Detection
Issue #184

- [x] LGMSOC Participant

Approach : For this detection model, I would like to use, Random Forest Classifier, Log Regression, Lasso, Huber, Ridge classifier and also I would like to use Convolution Neural Network for this.

Description : This project

[2021-06-22 19:36] jannatulferdaws commented on #4
Hello @prathimacode-hub , Can I extend the "Look Through The Kart Of Amazing Projects" section? There are 23 project lists whereas there are 50+ projects .

[2021-06-23 02:35] #158 closed

[2021-06-23 02:53] Manasi2001 commented on #20
This issue is open for contributions again. 💥

[2021-06-23 03:08] #162 closed

[2021-06-23 03:09] Manasi2001 commented on #189
Go ahead @rammya29.

[2021-06-23 03:11] Manasi2001 commented on #184
Go for it @abhisheks008. ✨

[2021-06-23 03:16] Manasi2001 commented on #182
Conquer 1 issue at a time @abhisheks008. 😬

[2021-06-23 04:36] abhisheks008 commented on #184
No issues! I'll do it first, then I'll go that issue.

[2021-06-23 05:52] sy07 commented on #182
Hi @Manasi2001 , I would like to work on this issue as LGM-SOC'21 participant. I would like to work on data modeling. I will use regression, random forest, KNN and some algorithms to evaluate accuracy.
Do assign me this task if possible.

[2021-06-23 06:02] abhisheks008 commented on #182
Conquered ma'am! Please assign me this issue.

[2021-06-23 06:42] #184 closed

[2021-06-23 06:48] Manasi2001 commented on #182
Go ahead @abhisheks008!
@sy07 the issues are assigned on FCFS basis. Abhishek's PR didn't require any further changes, so he can work on this as of now. Are you willing to use some different approach @sy07, other than Abhishek's? Then I can assign it to you as well.

[2021-06-23 07:11] abhisheks008 commented on #191
Hey @prathimacode-hub and @Manasi2001  , I am up for this issue and I want to contribute in this.

Name of the issue : Song Genre Classification
Issue #191

- [x] LGMSOC Participant

Approach : For this recommendation model I would like to use Random forest, decision tree, logistic regression, SVM, Gausian NB and some more algorithms. After that I'll evaluate them based on the accuracy scores.

De

[2021-06-23 07:16] Manasi2001 commented on #191
Okay now that's speed. 🙄
Go ahead 😂

[2021-06-23 07:17] #145 closed

[2021-06-23 07:32] #182 closed

[2021-06-23 08:37] prathimacode-hub commented on #19
Ok complete it asap, but intimate us timely. @Raghavi20

[2021-06-23 08:41] Raghavi20 commented on #19
sure,will do

[2021-06-23 09:31] rammya29 commented on #189
I cannot upload my CSV file in the dataset folder since it has a larger size. What should I do?

[2021-06-23 09:47] prathimacode-hub commented on #189
You can try adding up in .zip format else you can add up the link to your dataset. @rammya29

[2021-06-23 09:52] prathimacode-hub commented on #4
Ok, sure. You are free to. Thanks for helping out. I was just wondering, i had to do. Raise a separate issue using the template given, get it assigned to you. Then you can start working. @jannatulferdaws

[2021-06-23 10:26] rammya29 commented on #192
Here, I wish to work on this project. I would like to use OpenCV- TensorFlow to train the model and to classify either humans or horses. I would like to do this under LGM-SoC'21 - Participant. Please assign this work to me.

[2021-06-23 10:46] abhisheks008 commented on #190
Hey @prathimacode-hub and @Manasi2001  , I am up for this issue and I want to contribute in this.

Name of the issue : Dance Form Classification
Issue #190

- [x] LGMSOC Participant

Approach : For this classification model I would like to use the Feed work Neural Network and Transfer Learning Method. After that I'll evaluate the models based on the accuracy scores/

Description : This project is

[2021-06-23 10:50] prathimacode-hub commented on #190
Kudos, this issue is assigned. @abhisheks008 👍

[2021-06-23 11:20] prathimacode-hub commented on #192
First, your PR will reviewed and once it's approved. You can work on this issue. @rammya29

[2021-06-23 13:16] Soumayan-pal01 commented on #186
I have created the PR. Please review it @Manasi2001 . Thank you.

[2021-06-23 13:47] #186 closed

[2021-06-23 14:26] abhisheks008 commented on #187
Hey @prathimacode-hub and @Manasi2001  , I am up for this issue and I want to contribute in this.

Name of the issue : PLANT SEEDLINGS CLASSIFICATION
Issue #187

- [x] LGMSOC Participant

Approach : For this project I would like to use CNN. The architectures that I am gonna use are, ResNet, AlexNet, Vgg, Inception, MobileNet, SqueezeNet, DenseNet.

Description : This project is all about deploying

[2021-06-23 14:35] Isha307 commented on #151
Can I work on this issue??
The dataset contains a lot of pictures of various LEGO Minifigures, I can use this dataset for the image classification tasks and I will create a model and try to get accurate predictions for the test set.

[2021-06-23 14:52] prathimacode-hub commented on #187
Whooa, great. Issue is assigned to you. @abhisheks008

[2021-06-23 15:42] #154 closed

[2021-06-23 16:00] Soumayan-pal01 commented on #192
I would like to work on 'Model Creation' for this issue using different machine learning and deep learning approaches .Please assign this issue if possible @prathimacode-hub . Thank you.

[2021-06-23 16:12] jannatulferdaws commented on #4
Okay Thanks

[2021-06-23 16:24] prathimacode-hub commented on #192
Can you take up an another issue @Soumayan-pal01, as @rammya29 has expressed her interest first and she isn't into any issue. If you wish to, you can come up with a new issue as well.

[2021-06-23 16:27] prathimacode-hub commented on #151
That sounds good, you can proceed. @Isha307

[2021-06-23 16:31] jannatulferdaws opened #209 "Extending "Look Through The Kart Of Amazing Projects" section in README.md file"
Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

I'd like to extend the "Look Through The Kart Of Amazing Projects" section in README.md file.
There are 50+ project in the repository. But in that section there is only 23 projects.

[2021-06-23 16:42] Soumayan-pal01 commented on #192
Okay @prathimacode-hub . I didn't notice the time actually. Sorry for that. I would like to open up a new issue for Flight Fare Predictions.

[2021-06-23 17:00] prathimacode-hub commented on #209
Sure, this issue is assigned to you. You can proceed. Follow up as it is. @jannatulferdaws

[2021-06-23 17:10] #191 closed

[2021-06-23 17:11] #190 closed

[2021-06-23 17:11] #187 closed

[2021-06-23 17:14] #157 closed

[2021-06-23 17:22] prathimacode-hub commented on #192
Ok, no worries. All the best. Sure. @Soumayan-pal01

[2021-06-23 17:42] Soumayan-pal01 opened #210 "Flight Fare Predictions"
---
Title: Flight Fare Predictions
About: To predict the fare of flights of different Airlines and routes
Name: Soumayan Pal
Label: Feature Request
Assignee: 'Soumayan-pal01'

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

**Yes I Have discussed with the Project Admin**

**The flight fare is needed to be predicted**

**A comparative analysis of different regressor models to pred

[2021-06-23 17:43] Soumayan-pal01 commented on #210
I will be working on 'Model Creation'.

[2021-06-23 17:44] prathimacode-hub commented on #210
Assigned. Proceed. @Soumayan-pal01

[2021-06-24 02:02] coding-geek21 commented on #183
I would like to work on this please assign me @Manasi2001

[2021-06-24 03:46] Manasi2001 commented on #183
Hey @coding-geek21, you can surely work on this, but first let me know your approach and also whether you'll be working on model creation/frontend/backend. Then, I'll assign it to you :)

[2021-06-24 03:48] coding-geek21 commented on #183
I will work on frontend and backend

[2021-06-24 03:56] Manasi2001 commented on #183
Then you'll have to work on model creation as well, okay? Frontend and backend won't be possible without it.
Go ahead, assigned to you. 🙃

[2021-06-24 03:57] coding-geek21 commented on #183
Sure I will do all 👍

[2021-06-24 04:08] Manasi2001 opened #212 "Red Wine Quality Prediction"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happy coding :)

[2021-06-24 04:09] Manasi2001 opened #213 "Productivity Prediction"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/ishadss/productivity-prediction-of-garment-employees) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happy

[2021-06-24 04:12] Manasi2001 opened #214 "Heights and Weights Prediction"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/tmcketterick/heights-and-weights) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happy coding :)

[2021-06-24 04:14] Manasi2001 opened #215 "Startup Profit Prediction"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/karthickveerakumar/startup-logistic-regression) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happy codin

[2021-06-24 04:15] Manasi2001 opened #216 "Advertisement Success Prediction"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this dataset or any other [dataset](https://www.kaggle.com/fayomi/advertising) of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happy coding :)

[2021-06-24 04:17] Manasi2001 opened #217 "USA House Pricing Prediction"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/dmvreddy91/usahousing) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happy coding :)

[2021-06-24 04:20] Manasi2001 opened #218 "Customer Region Classification"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/balakrishcodes/others) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happy coding :)

[2021-06-24 04:21] Manasi2001 opened #219 "MBA Specialization Classification"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/balakrishcodes/others?select=MBA_ADMISSIONS.csv) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happy codi

[2021-06-24 04:24] Manasi2001 opened #220 "Movie Oscar Win Prediction"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/balakrishcodes/others?select=Movie_classification.csv) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happ

[2021-06-24 04:25] Manasi2001 opened #221 "Salary Prediction"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/balakrishcodes/others?select=hiring.csv) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happy coding :)

[2021-06-24 04:28] Manasi2001 opened #222 "Exports Classification"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/balakrishcodes/others?select=house-votes-84.csv) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happy codi

[2021-06-24 04:31] Manasi2001 opened #223 "Salary Range Classification"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/balakrishcodes/others?select=salaries.csv) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happy coding :)

[2021-06-24 04:34] Anshal55 commented on #221
Title: Salary Prediction
About: To predict salaries based on certain parameters.
Name: Anshal Singh
Label: Feature Request

Define You:

- [x] LGM-SOC'21 Participant
- [] Contributor

I'm planning to use different EDA techniques and multiple prediction algorithms and draw comparison between them and finally deploy the working model.

[2021-06-24 05:08] abhisheks008 commented on #212
Hey @prathimacode-hub and @Manasi2001  , I am up for this issue and I want to contribute in this.

Name of the issue : RED WINE QUALITY PREDICTION
Issue #212

- [x] LGMSOC Participant

Approach : For this recommendation model I would like to use Random forest, decision tree, logistic regression, SVM, Gausian NB and some more algorithms. After that I'll evaluate them based on the accuracy scores.

[2021-06-24 05:15] abhisheks008 commented on #213
Hey @prathimacode-hub and @Manasi2001  , I am up for this issue and I want to contribute in this.

Name of the issue : Productivity Prediction
Issue #213

- [x] LGMSOC Participant

Approach : For this recommendation model I would like to use Random forest, decision tree, logistic regression, SVM, Gausian NB and some more algorithms. After that I'll evaluate them based on the accuracy scores.

Desc

[2021-06-24 05:35] Jagannath8 commented on #215
Can I work on this issue? I'm a participant of LGM Soc21.
I will use Linear Regression algorithm to create model and predict the accuracy.

[2021-06-24 05:37] Jagannath8 commented on #216
Can I work on this issue? I'm a participant of LGM Soc21.
I will use multiple machine learning algorithms to create model and compare the accuracy.

[2021-06-24 06:03] Manasi2001 commented on #221
Very good @Anshal55. Go ahead 👍🏻

[2021-06-24 06:04] Anshal55 commented on #221
Thanks!

[2021-06-24 06:05] Manasi2001 commented on #216
Sure, go ahead. 👍🏻

[2021-06-24 06:06] Manasi2001 commented on #215
1 issue at a time @Jagannath8.

[2021-06-24 06:07] Manasi2001 commented on #213
Assigned ✨

[2021-06-24 06:15] #48 closed

[2021-06-24 06:29] abhisheks008 commented on #214
Hey @prathimacode-hub and @Manasi2001  , I am up for this issue and I want to contribute in this.

Name of the issue : Heights and Weights Prediction
Issue #214

- [x] LGMSOC Participant

Approach : For this recommendation model I would like to use Random forest, decision tree, linear regression and some more algorithms. After that I'll evaluate them based on the accuracy scores.

Description : Th

[2021-06-24 06:34] Jagannath8 commented on #215
After completion of previous issue, I'll work on this.

[2021-06-24 06:53] #213 closed

[2021-06-24 06:54] Manasi2001 commented on #214
Nail it too!

[2021-06-24 07:27] #212 closed

[2021-06-24 07:54] abhisheks008 commented on #217
Hey @prathimacode-hub and @Manasi2001  , I am up for this issue and I want to contribute in this.

Name of the issue : USA House Pricing Prediction
Issue #217

- [x] LGMSOC Participant

Approach : For this recommendation model I would like to use Random forest, decision tree, linear regression and some more algorithms. After that I'll evaluate them based on the accuracy scores.

Description : This

[2021-06-24 09:54] abhisheks008 commented on #222
Hey @prathimacode-hub and @Manasi2001  , I am up for this issue and I want to contribute in this.

Name of the issue : Exports Classification
Issue #222

- [x] LGMSOC Participant

Approach : For this recommendation model I would like to use Random forest, decision tree, linear regression and some more algorithms. After that I'll evaluate them based on the accuracy scores.

Description : This proje

[2021-06-24 10:15] abhisheks008 commented on #222
Hey @prathimacode-hub and @Manasi2001  , I am up for this issue and I want to contribute in this.

Name of the issue : Heights and Weights Prediction
Issue #222

- [x] LGMSOC Participant

Approach : For this recommendation model I would like to use Random forest, decision tree, linear regression and some more algorithms. After that I'll evaluate them based on the accuracy scores.

Description : Th

[2021-06-24 10:21] ayushi424 commented on #223
Hey @Manasi2001 & @prathimacode-hub,
I'd like to work on this issue.
Mainly on model creation part i.e. use different classification algorithms and find which works the best.
Please assign.

[2021-06-24 15:11] abhisheks008 commented on #220
Hey @prathimacode-hub and @Manasi2001  , I am up for this issue and I want to contribute in this.

Name of the issue : Movie Oscar win Prediction
Issue #220

- [x] LGMSOC Participant

Approach : For this prediction model I would like to use Random forest, decision tree, logistic regression, SVM, Gausian NB and some more algorithms. After that I'll evaluate them based on the accuracy scores.

Descr

[2021-06-24 15:19] sai-keerthi commented on #149
I am sorry but I cannot complete this project . kindly excuse me.

[2021-06-24 15:26] prathimacode-hub commented on #220
Again a killer PR awaiting, this issue is assigned. 😎

[2021-06-24 15:27] prathimacode-hub commented on #222
Other issue is assigned to you. Give some time for us to create new issues. 😀@abhisheks008

[2021-06-24 15:27] prathimacode-hub commented on #223
Cool, go ahead. Issue assigned. @ayushi424

[2021-06-24 16:06] abhisheks008 commented on #222
Completed the previous issue #220 and just made the PR. Can you assign me this issue now?

[2021-06-24 16:14] prathimacode-hub commented on #222
How you do this yaar, so fast. Can't find words to appreciate you. This way issues would end up in a day. 😆
Yup, issue assigned. @abhisheks008

[2021-06-24 16:15] anubhav201241 opened #230 "Face_Detection using Open Cv"
Define You:

- [x] LGM-SOC'21 Participant

**Is your feature request related to a problem? Please describe.**

YES, WANT TO ADD FACE_EYEDETECTION WITH THE USE OF PYTHON AND OPEN CV

**Describe the solution you'd like...**

I want to contribute to your project by adding Face and Eye detection part with the help of Opencv and Python
In which it can detect the face, eye, and middle part of the face w

[2021-06-24 16:27] prathimacode-hub commented on #230
Sorry to say, but this issue is already done. You can take up from issues up for grabs else, you can come up with new issue. @anubhav201241

[2021-06-24 16:28] prathimacode-hub commented on #192
@rammya29 do you want to work on this?

[2021-06-24 16:33] rammya29 commented on #192
Yes, I am willing to take

[2021-06-24 16:34] prathimacode-hub commented on #192
Let me know your approach, algos you would consider and task you would choose? @rammya29

[2021-06-24 16:42] rammya29 commented on #192
I think do the model with TensorFlow and Keras module in python.

[2021-06-24 16:51] prathimacode-hub commented on #192
Ok, good to know. All the best. Issue assigned. @rammya29

[2021-06-24 17:00] #220 closed

[2021-06-24 17:00] #163 closed

[2021-06-24 17:00] #214 closed

[2021-06-24 17:01] #133 closed

[2021-06-24 17:01] #188 closed

[2021-06-24 17:15] #230 closed

[2021-06-24 17:41] prathimacode-hub commented on #149
Ok, no worries.

[2021-06-25 04:35] abhisheks008 commented on #217
@prathimacode-hub and @Manasi2001 Please assign me this issue.

[2021-06-25 04:55] prathimacode-hub commented on #217
Yes, this issue is assigned to you. You can start working. @abhisheks008

[2021-06-25 05:55] anishamurmu13 commented on #218
Can I work on this issue. I'm a participant of LGM-SOC21.
I'll use different ML algorithms model and compare their accuracy.

[2021-06-25 05:59] abhisheks008 commented on #219
Hey @prathimacode-hub and @Manasi2001  , I am up for this issue and I want to contribute in this.

Name of the issue : MBA Specialization Classification
Issue #219

- [x] LGMSOC Participant

Approach : For this recommendation model I would like to use Random forest, decision tree, logistic regression and some more algorithms. After that I'll evaluate them based on the accuracy scores.

Description

[2021-06-25 07:25] prathimacode-hub commented on #219
Yes, assigned. You're in a jet speed. @abhisheks008

[2021-06-25 08:02] #222 closed

[2021-06-25 08:02] #217 closed

[2021-06-25 08:19] ainy-123 commented on #20
I am LGM-SoC participant. I work on this issue, will you please assign this to me?

[2021-06-25 09:00] prathimacode-hub commented on #20
Kindly let us know of your approach, how would you proceed? And task you're choosing. @ainy-123

[2021-06-25 09:04] prathimacode-hub commented on #218
That's cool. So you'll be working on model creation? @anishamurmu13

[2021-06-25 09:05] #12 closed

[2021-06-25 09:07] prathimacode-hub commented on #8
What happen? @theanshulcode

[2021-06-25 09:08] prathimacode-hub commented on #61
What happen? @SoyabulIslamLincoln

[2021-06-25 09:15] anishamurmu13 commented on #218
Yes mam

[2021-06-25 09:16] prathimacode-hub commented on #218
This issue is assigned to you. @anishamurmu13

[2021-06-25 09:17] prathimacode-hub commented on #209
How is it going? @jannatulferdaws

[2021-06-25 10:48] ainy-123 commented on #20
I'll be using dlib facial landmark approach to check the position of mouth (how much open it is to check yawning condition) and eye(whether the person is drowsy or not).This way ,I will proceed with this issue.

[2021-06-25 11:00] prathimacode-hub commented on #20
Sure, you can go ahead. @ainy-123

[2021-06-25 11:30] Jagannath8 commented on #215
Can I start working on this issue? @Manasi2001 @prathimacode-hub

[2021-06-25 11:39] prathimacode-hub commented on #215
Yes, you can proceed. Issue assigned. @Jagannath8

[2021-06-25 11:42] prathimacode-hub commented on #36
No update from you. @Sumit11081996

[2021-06-25 11:43] prathimacode-hub commented on #26
Is this all going ok, as there is no update from you? @sonaliBedade

[2021-06-25 13:33] #219 closed

[2021-06-25 13:37] Soumayan-pal01 commented on #149
Hey @prathimacode-hub I would like to work on 'Model Creation' for this issue using Multi Layer Perceptron(MLP) approach and CNN approach. Please assign me this issue if possible. thank you.

[2021-06-25 13:45] prathimacode-hub commented on #149
Issue assigned. Good selection. All the best. @Soumayan-pal01

[2021-06-25 15:13] sonaliBedade commented on #26
Yes, I'm working on it

[2021-06-25 15:50] abhisheks008 opened #238 "DNA Sequencing Classification"
Define You: @abhisheks008

- [x] LGM-SOC'21 Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**
No, my feature request is not related to a problem. I want to add a project.

**Problem Statement**
The problem statement is, DNA sequencing classification using DNA datasets.

**Approach to be followed (optional):**
I am going to build 3 different classific

[2021-06-25 15:51] prathimacode-hub commented on #238
It's unique project, you can proceed. @abhisheks008

[2021-06-25 17:18] jannatulferdaws commented on #209
Yeah. It's going okay till now.

[2021-06-26 06:51] #50 closed

[2021-06-26 06:52] #238 closed

[2021-06-26 06:52] #130 closed

[2021-06-26 06:52] #223 closed

[2021-06-26 06:52] #216 closed

[2021-06-26 06:52] #210 closed

[2021-06-26 06:55] prathimacode-hub commented on #41
No updates from you. It's been so long. @Nihir2904

[2021-06-26 06:56] prathimacode-hub commented on #128
It's been long, no update from you yet. @Rutikab12

[2021-06-26 06:56] prathimacode-hub commented on #129
It's been long, no update from you yet. @harshita9621

[2021-06-26 06:57] prathimacode-hub commented on #155
No update from your yet. @psyduck1203

[2021-06-26 06:58] prathimacode-hub commented on #159
No update from you yet. @ritikkumar55

[2021-06-26 06:59] Rutikab12 commented on #128
I am uploading it right now @prathimacode-hub .

[2021-06-26 06:59] prathimacode-hub commented on #196
Any updates? @NEERAJAP2001

[2021-06-26 07:00] prathimacode-hub commented on #209
Hope, you're upto date with the add-ons. @jannatulferdaws

[2021-06-26 07:01] harshita9621 commented on #129
@prathimacode-hub Working on this issue

[2021-06-26 07:05] psyduck1203 commented on #155
Almost done. Will open a PR by evening.

[2021-06-26 07:11] NEERAJAP2001 commented on #196
Yeah !! I'm sorry this is taking time, I'll make my first commit tomorrow is that okay @prathimacode-hub?

[2021-06-26 07:15] prathimacode-hub commented on #196
Yes, that's ok. If u let me know, it's more than enough. @NEERAJAP2001

[2021-06-26 08:40] Soumayan-pal01 commented on #149
I have created the PR. Please review it @prathimacode-hub . Thank you.

[2021-06-26 08:52] prathimacode-hub commented on #149
Done.

[2021-06-26 09:33] prathimacode-hub opened #244 "Malaria Disease Prediction"
Hey LGM-SoC participants, good to see you.

Malaria Disease Prediction helps in predicting whether the following person is affected with malaria or not.

Dataset : https://www.kaggle.com/miracle9to9/files1

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

Enjoy your open source journey!😎

[2021-06-26 09:37] prathimacode-hub opened #245 "Walmart Sales Prediction"
Hey LGM-SoC participants, good to see you.

In this project, it would help us in predicting the walmart sales using dataset provided.

Dataset : https://www.kaggle.com/divyajeetthakur/walmart-sales-prediction

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

Enjoy your open source journey!😎

[2021-06-26 09:41] prathimacode-hub opened #246 "Youtube Video Recommendation Systems"
Hey LGM-SoC participants, good to see you.

This project would suggest you with recommendations on youtube taking up the input of previous search results.

You can take up your own public dataset.

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can focus on providing an efficient solution.

Enjoy your open source journey!😎

[2021-06-26 09:43] Soumayan-pal01 commented on #244
I would like to work on 'Model Creation' for this issue using CNN approach. Please assign me if possible @prathimacode-hub . Thank you.

[2021-06-26 09:47] prathimacode-hub opened #247 "Fuel Consumption Analysis"
Hey LGM-SoC participants, good to see you.

Fuel Consumption Analysis helps in analyzing the consumption of fuel considering carious parameters.

Dataset : https://www.kaggle.com/anderas/car-consume

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to provide brief analysis using various visualizations.

Enjoy your open source journey!😎

[2021-06-26 09:50] shivani6320 commented on #245
Hey!! I would like to contribute to this issue.

[2021-06-26 09:52] prathimacode-hub opened #248 "Phishing Website Detection"
Hey LGM-SoC participants, good to see you.

Phishing Website Detection would help  us in detecting whether the concerned website had underwent or affected with phishing or not.

Dataset : https://www.kaggle.com/eswarchandt/phishing-website-detector

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithm

[2021-06-26 09:55] prathimacode-hub opened #249 "Board Game Review Prediction"
Hey LGM-SoC participants, good to see you.

Board Game Review Prediction project would helps us in predicting the ratings of the board games using reviews.

Dataset : https://www.kaggle.com/gabrio/board-games-dataset

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

Enjoy your open source journ

[2021-06-26 10:00] prathimacode-hub commented on #244
Sure, you can proceed. @Soumayan-pal01

[2021-06-26 10:03] prathimacode-hub opened #250 "Pima Indian Diabetes Prediction"
Hey LGM-SoC participants, good to see you.

With this project, we could predicting whether patient is suffering from diabetes or not.

Dataset : https://www.kaggle.com/uciml/pima-indians-diabetes-database

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

Enjoy your open source journey!😎

[2021-06-26 10:05] prathimacode-hub opened #251 "Dogecoin Price Prediction"
Hey LGM-SoC participants, good to see you.

Dogecoin Price Prediction will help us in predicting the price of dogecoin using the dataset provided.

Dataset : https://www.kaggle.com/dhruvildave/dogecoin-historical-data

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

Enjoy your open source jour

[2021-06-26 10:09] prathimacode-hub opened #252 "Bike Crash Analysis"
Hey LGM-SoC participants, good to see you.

Bike Crash Anlysis wouldl help us in analyzing the bike crashes occured using dataset provided.

Dataset : https://www.kaggle.com/atharvaingle/bikepedcrash

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can analyze using various visualization techniques to get deeper understanding.

Enjoy your open

[2021-06-26 10:17] prathimacode-hub opened #253 "Insurance Claim Prediction"
Hey LGM-SoC participants, good to see you.

Insurance claim prediction will help us in predicting whether we would attain insurance claim or not based on dataset provided.

Dataset : https://www.kaggle.com/easonlai/sample-insurance-claim-prediction-dataset

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different a

[2021-06-26 10:23] prathimacode-hub opened #254 "Crime Rate Prediction"
Hey LGM-SoC participants, good to see you.

This project will help us in predicting the crime rate around various states with various parameters taken into consideration.

Dataset : https://www.kaggle.com/nehaprabhavalkar/crime-in-india

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

Enjoy yo

[2021-06-26 10:28] prathimacode-hub opened #255 "Terrorist Attack Prediction"
Hey LGM-SoC participants, good to see you.

This project will help us in predicting the terrorist attack with various parameters taken into consideration by using the Global Terrorism Database.

Dataset : https://www.kaggle.com/START-UMD/gtd

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

Enj

[2021-06-26 10:29] prathimacode-hub commented on #245
Can you let me know of ur approach, algos and task you would consider? @shivani6320

[2021-06-26 10:41] prathimacode-hub opened #256 "Zomato Bangalore Restaurants Recommendation Analysis"
Hey LGM-SoC participants, good to see you.

This project would help us analyzing the restaurants of bangalore based on various factors taken into consideration.

Dataset : https://www.kaggle.com/himanshupoddar/zomato-bangalore-restaurants

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to analyze it using various visualization techniq

[2021-06-26 10:47] shivani6320 commented on #245
I would create visualizations and perform Exploratory data analysis on sales data. I would use Linear models like Linear,Ridge,lasso regression as well as Non linear regressions like RandomForest Regressor,DecisionTree Regressor,XGB Regressor and compare these models and draw out best possible model suited for the data. Basically I would like to compare Linear & Non Linear models.

[2021-06-26 10:56] prathimacode-hub opened #257 "Human Activity Recognition using Smartphones"
Hey LGM-SoC participants, good to see you.

With this project, we could recognize the human activity using smartphones. Here we use 6 daily life activities and various parents into concern.

Dataset : https://archive.ics.uci.edu/ml/datasets/human+activity+recognition+using+smartphones

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to

[2021-06-26 11:00] prathimacode-hub opened #258 "Gold Price Prediction"
Hey LGM-SoC participants, good to see you.

This project helps us in predicting the gold prices using the dataset provided.

Dataset : https://www.kaggle.com/shikhnu/gold-price

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

Enjoy your open source journey!😎

[2021-06-26 11:03] #250 closed

[2021-06-26 11:10] prathimacode-hub opened #259 "Stars, Galaxies and Quasars Classification"
Hey LGM-SoC participants, good to see you.

This project will help us in classifying the stars, galaxies and quasars using the provided dataset.

Dataset : https://www.kaggle.com/lucidlenn/sloan-digital-sky-survey

If you like to work on this issue, follow the given guidelines for code as well as for the README.

Enjoy your open source journey!😎

[2021-06-26 11:11] prathimacode-hub commented on #245
That's great, Issue assigned. @shivani6320

[2021-06-26 13:00] ayushi424 commented on #253
hey @prathimacode-hub ,
I'd like to work on this issue.
Mainly on model creation part.
I'll proceed by data exploration, data cleaning(if required ), data visualization, model creation using different algorithms and lastly performance check to find which algorithm works best.
Since the target column has binary values, 0 and 1, I'll use different classification algorithms to classify if the user wi

[2021-06-26 13:45] abhisheks008 commented on #259
I'll use different classifier models like SDG, Random forest, decision tree, knn and XgBoost for the creating the classification model. Then T'll evaluate on the basis of the accuracy score!

- [x] LGMSOC participant
Issue #259
Project Name : Stars, Galaxies and Quasars Classification
Task Taken : Model creation

Please assign me this issue @prathimacode-hub

[2021-06-26 13:54] prathimacode-hub commented on #259
Sure, you can proceed. Again a good choice. @abhisheks008

[2021-06-26 13:55] prathimacode-hub commented on #253
Sure, go ahead. @ayushi424

[2021-06-26 14:03] Isha307 commented on #247
@prathimacode-hub Can I work on this issue?
I will create model that will predict the consumption depending on the gas type.

[2021-06-26 15:11] abhisheks008 commented on #251
@prathimacode-hub I am up for this project too!

Here I'll use different types of regression algorithms for predicting the price of the dogecoin, such as linear regression, random forest, decision tree and many more!

Name : Dogecoin Price Prediction
Issue #251
Task taken : Prediction model creation
Accuracy : models will be checked using the accuracy scores

[2021-06-26 15:18] prathimacode-hub commented on #251
Once you create a PR for earlier issue, I shall assign you with this. @abhisheks008

[2021-06-26 15:21] prathimacode-hub commented on #247
Sure, you can go ahead. @Isha307

[2021-06-26 15:57] Jagannath8 commented on #215
@prathimacode-hub mam I want to try for backend

[2021-06-26 15:59] abhisheks008 commented on #251
@prathimacode-hub assign me this issue!

[2021-06-26 15:59] prathimacode-hub commented on #251
Assigned.  @abhisheks008

[2021-06-26 16:00] prathimacode-hub commented on #215
Ok, model creation and backend? @Jagannath8

[2021-06-26 16:02] Jagannath8 commented on #215
yess

[2021-06-26 16:59] ritikkumar55 commented on #159
Working on multipage function on streamlit one for prediction and another for data visualization and working on hyperparameter optimization of models . As a beginner I also have to spent  a lot of time on learning new topics which is yet untouched along with making this project that's why it  is taking  more time.

[2021-06-26 17:26] abhisheks008 commented on #248
Hey, @prathimacode-hub I want to work on this issue.

Project Name : Phishing Website Detection
Issue : #248
Approach : For this detection system I'll be using various regression models and as well as classification models depending on the features that are going to be trained. After the implementation of all the models the accuracy  of the models will be checked using the accuracy score.
Task tak

[2021-06-26 18:46] prathimacode-hub commented on #248
Assigned. @abhisheks008

[2021-06-27 03:47] #259 closed

[2021-06-27 03:48] #251 closed

[2021-06-27 03:52] #189 closed

[2021-06-27 03:57] #221 closed

[2021-06-27 04:00] #149 closed

[2021-06-27 04:02] sy07 commented on #258
Hi mam, I would like to work on this issue as LGMSOC21 participant. I would like to do model creation, I will apply various algorithms and compare accuracy.Please assign me to this task if possible.

[2021-06-27 04:05] #151 closed

[2021-06-27 04:16] Manasi2001 commented on #258
Go ahead @sy07!

[2021-06-27 05:14] abhisheks008 commented on #252
Hey @prathimacode-hub I am up for this issue.

I'll be using different aspects of data visualization for analyzing the dataset.
Task taken : Analysis model
Name : Bike Crash Analysis
Issue #252

- [x] LGMSOC participant

Please assign me this issue

[2021-06-27 05:35] #248 closed

[2021-06-27 05:36] #215 closed

[2021-06-27 05:41] prathimacode-hub commented on #159
I understand. No worries, but intimating timely would help me in understanding your progress. @ritikkumar55

[2021-06-27 06:12] prathimacode-hub commented on #252
Sure, you can proceed. @abhisheks008

[2021-06-27 07:34] Soumayan-pal01 commented on #257
Hey @prathimacode-hub I would like to work on 'Model Creation' for this issue. I would first perform EDA on the training data. Then I will perform a comparative analysis of multiple ML classifiers. Finally I will be using Artificial Neural Network approach to train the model and perform predictions. Assign me this issue if possible. Thank you.

[2021-06-27 07:47] Soumayan-pal01 commented on #244
I have created the PR. Please review it @prathimacode-hub .

[2021-06-27 07:58] prathimacode-hub commented on #257
Yeah, issue assigned. As usual, rock it. @Soumayan-pal01

[2021-06-27 11:08] #253 closed

[2021-06-27 11:08] #247 closed

[2021-06-27 11:08] #244 closed

[2021-06-27 12:52] rammya29 commented on #192
@prathimacode-hub Hi mam, Actually I could upload my dataset in the folder, even my zipfile is too big more than 25 MB. Can you tell any other ways to it?

[2021-06-27 13:19] rammya29 commented on #256
Hi mam, I would like to work on this as an LGM-Soc'21 Participant. I would like to do that in a way like full data analysis and creating a simple model to extract some features and recommendations. Please assign this to me.

[2021-06-27 15:20] prathimacode-hub commented on #192
If you couldn't, you can just add up a link to the dataset @rammya29

[2021-06-27 15:26] #252 closed

[2021-06-27 15:26] #159 closed

[2021-06-27 15:28] prathimacode-hub commented on #256
That's great, you can proceed. @rammya29

[2021-06-27 15:29] #218 closed

[2021-06-27 16:15] #192 closed

[2021-06-27 21:19] Soumayan-pal01 commented on #257
I have created the PR. Please review it @prathimacode-hub . Thank you.

[2021-06-28 06:05] #257 closed

[2021-06-28 06:05] abhisheks008 commented on #249
@prathimacode-hub I am up for this issue.

Approach : I want to use Random forest regression and linear regression for this model. And before the model preparation I'd like to the analysis of the dataset.

Issue #249
- [x] LGMSOC Participant
Task Taken : Model Creation

Please assign me this issue!

[2021-06-28 06:11] prathimacode-hub commented on #36
It's been long time. Need update from you. @Sumit11081996

[2021-06-28 06:19] Akash20x commented on #246
I would like to work on this issue under LGM-SOC'21

[2021-06-28 07:14] prathimacode-hub commented on #249
Great, you can proceed. Issue assigned. After this issue or whenever you want to, I'm looking forward to your take up on Covid Analysis. We're accepting different kinds of proposals for that particular issue for anyone who wants to work on it. It's not just a one person take up issue, as subject is demanding. Hope, you would. All the best. @abhisheks008

[2021-06-28 07:27] abhisheks008 commented on #249
Yeah sure why not! @prathimacode-hub I'll do that if I can!

[2021-06-28 07:29] abhisheks008 commented on #95
Hey @prathimacode-hub and @Manasi2001 Can you pls share the dataset which is used here?

[2021-06-28 08:02] prathimacode-hub commented on #95
Here is the dataset for COVID-19 Analysis. You can choose any one of the 2 datasets to perform COVID-19 Data Analysis.

Dataset 1 : https://www.kaggle.com/allen-institute-for-ai/CORD-19-research-challenge (or)

Dataset 2 : https://www.kaggle.com/imdevskp/corona-virus-report

All the Best. @abhisheks008

[2021-06-28 08:03] abhisheks008 commented on #95
After watching the analysis made by @harshita9621 on Covid 19 Analysis [Issue #95], I would like add more on the Exploratory Data Analysis. These are following points that I am going to add -
1. How many countries were affected by Covid-19 [Visualization]
2. Percentage of confirmed cases hold by the countries [visualization]
3. Top 5 worst affected countries [Visualization]
4. Recovered v/s Death

[2021-06-28 08:03] abhisheks008 commented on #95
Actually I thought of other dataset

[2021-06-28 08:11] prathimacode-hub commented on #95
Sure, you can proceed. No worries. As you had asked for dataset, i suggested. You're free to work on yours. By the way, I had created a new repo of [Covid-19 Data Analysis](https://github.com/prathimacode-hub/ML-ProjectKart/tree/main/Covid-19%20Data%20Analysis). In this repo, you can add up your Full Name as your folder title. Inside that, you can follow the project structure as usual. So that, mu

[2021-06-28 08:12] abhisheks008 commented on #95
Great!!

[2021-06-28 08:13] #249 closed

[2021-06-28 09:44] Soumayan-pal01 commented on #36
Can I work on 'Model Creation' for this issue @prathimacode-hub .

[2021-06-28 09:45] prathimacode-hub commented on #36
Sumit is assigned with this issue for "Model Creation". Let's wait for more 3 days. If he doesn't respond, I will keep this issue open.