[2021-06-28 09:50] Soumayan-pal01 commented on #36
Okhay @prathimacode-hub

[2021-06-28 09:51] prathimacode-hub commented on #10
This issue was assigned 20 days ago. That's completely a long time, if you don't respond within 2 days I have to get it assigned to someone else. @SoyabulIslamLincoln

[2021-06-28 09:53] #128 closed

[2021-06-28 09:57] prathimacode-hub commented on #61
I'll wait for 2 more days. If there is no response, i have no option than to assign it to someone else. Actually max PR time is 5 days. But u held this issue for so long. This is not right. @SoyabulIslamLincoln

[2021-06-28 09:57] rammya29 commented on #256
How to access the CSV file mam?. I am able to download it? Is there any other link for dataset?

[2021-06-28 10:00] prathimacode-hub commented on #36
@Sumit11081996, If you don't respond within 2 days, I'm sorry to say, but I have to assign it to someone else. You can't hold an issue for very long. It's been 10days without any update.

[2021-06-28 10:02] prathimacode-hub commented on #8
Sorry, but I have to close this issue. It's been 25 days since you opened up an issue, no PR yet. Anyways, if u r interested to contribute in future, you can come up with new issue to work on. @theanshulcode

[2021-06-28 10:02] #8 closed

[2021-06-28 10:05] prathimacode-hub commented on #256
You're not able to download the dataset? @rammya29

[2021-06-28 10:20] rammya29 commented on #256
Yes

[2021-06-28 10:22] shivani6320 commented on #245
Hey @prathimacode-hub . After some work I thought about my approach which is very familiar and recurrent. Plus ,with other prediction projects, ensemble modeling & comparison of various models have already been done. So why not try something other than usual approach this time....So how about doing Time series forecasting for predicting sales with great visualizations and explanation? If you agree

[2021-06-28 11:57] prathimacode-hub commented on #245
Sure, you can proceed. @shivani6320

[2021-06-28 11:58] prathimacode-hub commented on #256
I mean you are saying, you are not able to download from kaggle or not able to download in ur forked repo. @rammya29

[2021-06-28 12:13] rammya29 commented on #256
Not able to download from kaggle itself mam

[2021-06-28 12:21] prathimacode-hub commented on #256
Hmm, you can enter through any of ur mail id into kaggle and download it. @rammya29

[2021-06-28 12:40] rammya29 commented on #256
I actually getting error while downloading.

![IMG_20210628_180902.jpg](https://user-images.githubusercontent.com/70591317/123637729-f8933880-d83b-11eb-93b9-cf17ffa1e8e0.jpg)

[2021-06-28 12:43] prathimacode-hub commented on #256
Ok, then you do one thing, get a public dataset of zomato bangalore restaurants and start working. It should download actually. @rammya29

[2021-06-28 16:29] Akash20x commented on #246
@prathimacode-hub
I would like to work on this issue as a part of LGM-SOC'21.

I want to work on the model creation. In this user will give search query and it will predict different titles of the videos for that query.

Since I didn't find any relevant dataset related to this issue, so I will make a dataset using YouTube data api which has columns like Video Id,Description,Category and Title.

Ca

[2021-06-28 16:36] prathimacode-hub commented on #246
That sounds awesome, Make sure you add up your dataset in "Dataset" Folder and follow the contributing guidelines and project structure given. Issus is assigned to you. @Akash20x

[2021-06-28 17:43] Soumayan-pal01 opened #277 "Bike Rental Demand Analysis"
---
Title: Bike Rental Demand Analysis
About: Analysis and prediction of customer demand for bike rental services
Name: Soumayan Pal
Label: Feature Request
Assignee: 'Soumayan-pal01'

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

**The aim of the project is to make a forecast of the demand in Ola Bike Rental Services. The dataset contains 2 years data different features that ar

[2021-06-28 17:44] Soumayan-pal01 commented on #277
Can I work on 'Model Creation' for this issue @prathimacode-hub .

[2021-06-28 17:48] prathimacode-hub commented on #277
Yes, you can. Proceed. @Soumayan-pal01

[2021-06-29 04:15] rajnish-488 opened #278 "Water Quality Analysis, Classification and Prediction"
Water Quality Analysis, Classification and Prediction
Name :-Rajnish Singh (rajnish-488)

The aim of the project to create an model on the parameters (like: turbidity, carbon, hardness) of water classification. The Dataset have the multiple parameters on the base of which we can assure the quality and safety of the water. The model will predict the water quality safe for the drinking or regular us

[2021-06-29 04:17] rajnish-488 commented on #278
Can I work on this Issue

[2021-06-29 04:18] #278 closed

[2021-06-29 04:48] abhisheks008 opened #279 "Campus Recruitment - Analysis and Prediction"
Define You:

- [x] LGM-SOC'21 Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**
I would like to create a model which will predict the chances of a student to be placed in a campus placement interview and what are factors makes difference in this case.

**Describe the solution you'd like...**
I'd like to do some analysis which will answer the feature

[2021-06-29 05:23] rajnish-488 opened #280 "Stars Radiation -Analysis and Prediction"
Stars radiation Prediction
Name :- Rajnish Singh (rajnish-488)

Define You:
LGM-SOC'21 Participant

The project will analysis the Data on multiple parameters (like star pressure ,temperature , wind speed) of the stars dataset by NASA. to predict the level of radiation emitted by the star .

The project use the multiple regressor and classification model to predict the radiation and do the classifi

[2021-06-29 05:25] rajnish-488 commented on #280
Please Assign me this issue (rajnish-488)

[2021-06-29 05:26] rammya29 commented on #256
Sorry once again, how to get a public dataset?. If there is any link could you share?

[2021-06-29 07:58] Isha307 opened #282 "World happiness report"
Title: world happiness report
About: Analysis and prediction of happiness scores and rankings.
Name: Isha Shaw
Label: Feature Request
Assignee: 'Isha307'

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

The aim of the project is to predict happiness scores and rankings .The [dataset](https://www.kaggle.com/ajaypalsinghlo/world-happiness-report-2021) have the columns following the happ

[2021-06-29 07:59] Isha307 commented on #282
Can I work for this issue @prathimacode-hub ?

[2021-06-29 08:09] prathimacode-hub commented on #280
Great, so you will be working on model creation? @rajnish-488

[2021-06-29 08:10] prathimacode-hub commented on #282
Sure, you can proceed. @Isha307

[2021-06-29 08:16] prathimacode-hub commented on #256
Here is the link :

https://www.kaggle.com/ngokulakannan/zomato-india-restaurants2-lakh-restaurants-data (or)

https://www.kaggle.com/aartithakurdocs/zomato @rammya29

[2021-06-29 08:31] #277 closed

[2021-06-29 08:31] #44 closed

[2021-06-29 08:58] rajnish-488 commented on #280
yes sir

[2021-06-29 09:04] rajnish-488 commented on #280
yes ma'am please assign me the  issue.

[2021-06-29 09:06] prathimacode-hub commented on #280
Ok, issue assigned. @rajnish-488

[2021-06-29 09:14] #279 closed

[2021-06-29 09:58] Soumayan-pal01 commented on #258
I would like to work on 'Model Creation' for this issue @prathimacode-hub . Please assign me if possible. Thank you.

[2021-06-29 10:07] prathimacode-hub commented on #258
Yes, you can proceed. Go ahead. @Soumayan-pal01

[2021-06-29 10:32] abhisheks008 opened #284 "Cartier Jewelry Classification"
Define You:

- [x] LGM-SOC'21 Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**
I would like to make a classification model which will classify the Cartier Jewelry dataset.

**Describe the solution you'd like...**
For building the classification model, I'd like to use several algorithms and then measure them according to the accuracy scores. Also I w

[2021-06-29 10:40] abhisheks008 commented on #156
@Manasi2001 and @prathimacode-hub I want to work in this project please assign me this issue.
I will Convolution Neural Network for creating the recognition model for this project.

[2021-06-29 10:45] prathimacode-hub commented on #156
Sure, you can proceed. @abhisheks008

[2021-06-29 11:08] prathimacode-hub commented on #284
Issue assigned @abhisheks008

[2021-06-29 12:59] Jagannath8 opened #285 "Diamond Price Prediction"
Define You:

- [x] LGM-SOC'21 Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

Diamond Price Prediction - Predicting the price of Diamond
The project will predict the price of Diamond on multiple parameters.
Dataset: https://www.kaggle.com/shubhankitsirvaiya06/diamond-price-prediction

**Describe the solution you'd like...**

I will create models u

[2021-06-29 12:59] Jagannath8 commented on #285
Can I work on this issue?

[2021-06-29 14:56] jannatulferdaws commented on #209
I will be done by tomorrow @prathimacode-hub

[2021-06-29 17:05] #156 closed

[2021-06-29 17:06] #284 closed

[2021-06-29 17:07] #196 closed

[2021-06-29 17:08] prathimacode-hub commented on #285
Sure, you can go ahead.

[2021-06-29 17:09] prathimacode-hub commented on #209
If you want to add up in ascending order, you can. But make sure template doesn't change. @jannatulferdaws

[2021-06-30 04:29] #258 closed

[2021-06-30 07:05] Isha307 opened #290 "Test Score Prediction"
Title: Test Score Prediction
About: Prediction of Test Score of student.
Name: Isha Shaw
Label: Feature Request
Assignee: 'Isha307'

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

The aim of project is to build machine learning algorithms to predict the scores of the students.

[Dataset](https://www.kaggle.com/kwadwoofosu/predict-test-scores-of-students) contains information about a

[2021-06-30 07:06] Isha307 commented on #290
@prathimacode-hub Can I work on this issue?

[2021-06-30 07:11] prathimacode-hub commented on #290
Yeah, you can proceed. Keep the project title as "Test Score Prediction" @Isha307

[2021-06-30 18:10] #209 closed

[2021-07-01 12:22] #256 closed

[2021-07-01 12:22] #282 closed

[2021-07-01 15:45] #285 closed

[2021-07-01 16:00] #290 closed

[2021-07-01 19:34] Soumayan-pal01 opened #297 "IPL Winner Prediction"
---
Title: IPL Winner Prediction
About: To predict the winning team in an IPL match
Name: Soumayan Pal
Label: Feature Request
Assignee: 'Soumayan-pal01'

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

**The aim of this project will be to predict the team that will win in an IPL match**

**Will be using a dataset containing match data between 2008 to 2020. Use different EDA techn

[2021-07-02 03:15] suy1968 commented on #297
Please assign me this issue as I am a participant of LGMSOC'21

[2021-07-02 03:16] suy1968 commented on #254
Please assign me this issue as I am a participant of LGMSOC'21.

[2021-07-02 04:33] Soumayan-pal01 commented on #297
@suy1968 You can work on issues open by the Project Admin and Mentor or open your new issue and work on it mate.

[2021-07-02 04:34] Soumayan-pal01 commented on #297
I will be working on 'Model Creation' for this issue @prathimacode-hub .

[2021-07-02 05:32] prathimacode-hub commented on #297
Sure, @Soumayan-pal01. Issue is assigned.

[2021-07-02 05:33] prathimacode-hub commented on #297
@suy1968, you can come up with new issue or show your interest on available issues.

[2021-07-02 06:25] abhisheks008 opened #298 "World Poverty Analysis"
Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**
Creating an analysis model which will analyze the world poverty.

**Describe the solution you'd like...**
An analysis based on various datasets, which will show the poverty of the world's population.

**Dataset**
1. Kiva crowdfunding dataset :

[2021-07-02 06:37] prathimacode-hub commented on #254
Can you let me know of your approach, how would you proceed. Algorithms you would use up. And task you're going to choose? @suy1968

[2021-07-02 06:42] prathimacode-hub commented on #298
Wow, wonderful choice of the project. You can proceed. @abhisheks008

[2021-07-02 07:26] suy1968 commented on #254
For this, I used multi Linear regression although I used linear And logistics regression but in multi linear regression it is produced minimal error. Predicting graph between Crime type and year in which one is independent and one is dependent variable.
At last model predict  crime type and data visualization on different types of graph like scatterplot, barplot etc.

[2021-07-02 07:46] prathimacode-hub commented on #254
That's cool. Use atleast 3 algorithms and compare it to get good efficiency. Issue assigned. @suy1968

[2021-07-02 08:51] #246 closed

[2021-07-02 10:39] 23-24 commented on #255
can I work on this

[2021-07-02 10:44] SuryanshNaugraiya commented on #36
hi @prathimacode-hub according to your task, i have followed every step and i have created an amazing end to end project that predicts the ipl score and winner as well. below i have attached the screenshots of my project. please assign this issue to me. #36
![Screenshot (254)](https://user-images.githubusercontent.com/53707393/124262831-2801b800-db50-11eb-9489-efd20ac6a31b.png)
![Screenshot (255)]

[2021-07-02 10:49] #298 closed

[2021-07-02 10:51] SuryanshNaugraiya commented on #297
@prathimacode-hub i have already implemented all the above mentioned tasks and created an end to end project in which i have compared different ML algorithms and implemented the best algorithm. please assign the task to me. I want to contribute to this
![Screenshot (254)](https://user-images.githubusercontent.com/53707393/124263627-2389cf00-db51-11eb-862f-66ba6c74b80d.png)
![Screenshot (255)](http

[2021-07-02 10:55] prathimacode-hub commented on #36
Wow, that's amazing. One of the participant had taken up an issue of IPL Winner Prediction, but you had done both the things. So lets plan this way, the participant who had taken 'IPL Winner Prediction' will be doing model creation. You can do full end to end for 'IPL Score Prediction' for now. And after the participant submits up his PR, you can enhance that project more briefer with Front End an

[2021-07-02 10:57] prathimacode-hub commented on #255
Let me know of your approach? The task you would take up and how would you proceed. @23-24

[2021-07-02 11:08] SuryanshNaugraiya commented on #36
no problem, so now it means that i have to upload my complete project 2 times , 1st time here and 2nd time at different issue, right?

[2021-07-02 11:28] 23-24 commented on #255
I would use data analysis to gives an idea on the rate of terrorist attacks in each year, check the regions that are under attack, which country is mostly effected, kind of weapons used, trend of attacks.

[2021-07-02 11:29] prathimacode-hub commented on #36
Yes, right. Even the PR you submit for this issue should be according to requirements this issue suffices. This would be complete project. Later other PR, would be an enhancement to project submitted by other participant obviously through different issue.

[2021-07-02 11:32] prathimacode-hub commented on #255
This is not just a data analysis project, it involves both data analysis and model creation.  @23-24

[2021-07-02 11:35] 23-24 commented on #255
ok maam,I will also use regression modals for prediction

[2021-07-02 11:36] 23-24 commented on #255
using decision tree

[2021-07-02 11:49] prathimacode-hub commented on #255
Ok, issue assigned. @23-24

[2021-07-02 11:51] 23-24 commented on #255
Thankyou

[2021-07-02 12:12] SuryanshNaugraiya commented on #36
hey @prathimacode-hub i have created a pull request #300 please check it and merge it

[2021-07-02 12:35] Isha307 opened #301 "Students Final Grade Prediction"
Title:  Students Final Grade Prediction
About:  The data is about students of math and portuguese language who are in secondary school. It contains a lot of interesting social, gender and study information about students.
that characterize each student.
Name:  Isha Shaw
Label:  Feature Request
Assignee:  'Isha307'

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contrib

[2021-07-02 13:56] prathimacode-hub commented on #301
I guess it's similar to test score prediction. @Isha307

[2021-07-03 04:24] akash435 opened #304 "Amazon Data Analysis"
Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this will create a model which predicts the score of the particular customer.
And for this will use csv dataset which will have details about customer like his/her profile name, profile id, what's the review, and what was the summary of the product by customer

Using this data will predict the score or upvo

[2021-07-03 04:25] akash435 commented on #304
@prathimacode-hub , if this can be added then please assign this to me under LGM SOC

[2021-07-03 05:33] prathimacode-hub commented on #304
Yeah, but you need to consider multiple algorithms to get good analysis out of it. @akash435

[2021-07-03 05:39] akash435 commented on #304
yes mam, will try to use multiple nlp and ml model

[2021-07-03 06:23] NEERAJAP2001 opened #305 "Gender Classification Project Using Conv2D"
Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

This is a DL Project for predicting if the given image is Boy/Girl ( Image Recognition )
Find the Data Set  [Here](https://www.kaggle.com/ashishjangra27/gender-recognition-200k-images-celeba).
I will go full-stack from making model to creating front-end for web-app
Idea: I'm planning on using convolutional neu

[2021-07-03 06:31] prathimacode-hub commented on #305
That's great. All the best. @NEERAJAP2001

[2021-07-03 07:02] Isha307 commented on #301
okay, I am closing this issue.

[2021-07-03 07:11] prathimacode-hub commented on #301
You shouldn't close issues or PR from your end. @Isha307

[2021-07-03 07:23] Isha307 opened #306 "Captcha Recognition"
Title: **Captcha Recognition**
About:  **Recognize the captcha letters.**
Name: Isha Shaw
Label: Feature Request
Assignee: 'Isha307'

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

The aim of project is to Recognize the captcha letters.

[Dataset](https://www.kaggle.com/fournierp/captcha-version-2-images) contains CAPTCHA images. The images are 5 letter wo

[2021-07-03 07:32] prathimacode-hub commented on #306
This project is similar to #150. Correct me if i am wrong. @Isha307

[2021-07-03 07:33] Isha307 commented on #301
I don't know this, Sorry.

[2021-07-03 07:33] prathimacode-hub commented on #183
No update from you since past 9 days @coding-geek21

[2021-07-03 07:34] prathimacode-hub commented on #150
It's been 11 days, no update from you yet. @abhishek2chikun

[2021-07-03 07:35] Isha307 commented on #306
Yeah, It is same.

[2021-07-03 07:35] prathimacode-hub commented on #41
It's been 18 days, since issue was assigned to you. No update from you yet. So unfortunately, I have to unassign you. You can take up new issues in future, if you could give your time. @Nihir2904

[2021-07-03 07:36] coding-geek21 commented on #183
Sorry I have sem exams till July 9th, I will make PR after it ends

[2021-07-03 07:38] prathimacode-hub commented on #10
I had closed this issue. Your time is up.

[2021-07-03 07:38] #10 closed

[2021-07-03 07:39] #301 closed

[2021-07-03 07:40] prathimacode-hub commented on #306
I am sorry to say, but u have to come up with new issue. Else wait for 20mins, I shall bring up some new issues to work on. @Isha307

[2021-07-03 07:40] #306 closed

[2021-07-03 07:41] prathimacode-hub commented on #19
It's been 10days again. @Raghavi20

[2021-07-03 07:41] prathimacode-hub commented on #26
Kindly correct the changes requested. @sonaliBedade

[2021-07-03 08:03] shivani6320 commented on #41
I would like to work on model creation part. Please assign me this issue.

[2021-07-03 08:04] prathimacode-hub commented on #41
Let me know of your approach to move forward? @shivani6320

[2021-07-03 08:18] #245 closed

[2021-07-03 09:06] shivani6320 commented on #41
i would create a CNN model to recognize the handwritten image and classify it to actual number

[2021-07-03 09:57] SuryanshNaugraiya opened #307 "COVID-19 ANALYSIS USING ML"
Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**
No, I have an amazing idea of the project **COVID-19 ANALYSIS USING ML**, it would be an end to end project

It would have 3 features:
1. **GLOBAL** this describes the destruction it has caused in any country.
2. **SYMPTOMS** this describes the

[2021-07-03 10:10] prathimacode-hub commented on #41
Ok, issue assigned. @shivani6320

[2021-07-03 10:39] #297 closed

[2021-07-03 15:52] Raghavi20 commented on #19
Sorry for the delay,i have completed the project but I got few errors in the backend deployment part (flask).I am trying to solve it .I will submit it by tomorrow.

[2021-07-03 17:00] Akash20x opened #310 "Parkinson's Disease Prediction"
Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**

I want to make a model for Parkinson's Disease Prediction which can predict if a patient is healthy or have a parkinson disease by analysing the biomedical voice measurements given in the dataset. I will use Parkinson’s Disease Data Set from k

[2021-07-03 17:02] Akash20x commented on #310
@prathimacode-hub Please assign me this issue

[2021-07-03 17:46] drashtipatel2503 opened #311 "Amazon Mobile Phones Reviews Analysis"
Define You:

- [✓ ] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

I will create a sentiment analyser model which will be train on around 3L dayta points, will output whether a customer is satisfied or not.

Will use flask for deployment n html,css for frontend.

[2021-07-03 17:52] sonaliBedade commented on #26
Yes I am getting an error while applying Naive Bayes that I am unable to understand and would need some help

[2021-07-04 04:56] prathimacode-hub commented on #26
What's the error you're getting. Send me a screenshot? @sonaliBedade

[2021-07-04 05:03] #280 closed

[2021-07-04 05:05] prathimacode-hub commented on #310
This is already done. You can come up with an another issue. @Akash20x

[2021-07-04 05:11] prathimacode-hub commented on #95
This issue is again open for contributions. These are the datasets to follow. You can choose either of one and provide your analysis.

Dataset 1 : https://www.kaggle.com/allen-institute-for-ai/CORD-19-research-challenge (or)

Dataset 2 : https://www.kaggle.com/imdevskp/corona-virus-report (or)

Dataset 3 : https://www.kaggle.com/sudalairajkumar/novel-corona-virus-2019-dataset

By the way, I had cr

[2021-07-04 05:13] prathimacode-hub commented on #307
That's great initiative taken up from you. You can follow up for the issue here. #95 and get it assigned. But before that do the changes for your earlier PR. @SuryanshNaugraiya

[2021-07-04 05:14] prathimacode-hub commented on #311
What's the product you're reviewing @drashtipatel2503

[2021-07-04 05:16] prathimacode-hub commented on #19
Ok, no worries as long as you update me your progress timely. @Raghavi20

[2021-07-04 05:45] Akash20x commented on #310
Oh I forget to check that it is already present in repo. OK I will choose another issue

[2021-07-04 05:45] #310 closed

[2021-07-04 06:15] prathimacode-hub commented on #310
No worries, but never close issue or PR from your end. Not all will take it positive, just letting you know. @Akash20x

[2021-07-04 06:34] Akash20x commented on #310
OK i will take care of this from next time.
Thanks for informing!

[2021-07-04 06:37] drashtipatel2503 commented on #311
Food items and electronic gadgets

[2021-07-04 06:53] SuryanshNaugraiya commented on #95
@prathimacode-hub please assign this issue #307  to me. I want to contribute in this.

[2021-07-04 09:51] prathimacode-hub commented on #311
If you're ok with electronic gadgets, you can let me know and also you'll reviewing from which website? @drashtipatel2503

[2021-07-04 13:28] sonaliBedade commented on #26
![image](https://user-images.githubusercontent.com/71630760/124386805-bf563f00-dcf9-11eb-8eff-18829f7954f3.png)

[2021-07-04 14:17] abhisheks008 commented on #129
@prathimacode-hub It's being 8 days since @harshita9621 has updated. Can I work in this issue with your permission @prathimacode-hub ?

Approach : I'll be using the Convolution Neural Network to classify the birds from the dataset. To be precise I'll be using the ResNet101 architecture for this classification algorithm.
Task Taken : Classification  Model Creation

- [x] LGMSOC Participant

[2021-07-04 14:19] harshita9621 commented on #129
@abhisheks008 I am working on this issue.

[2021-07-04 14:23] abhisheks008 commented on #129
Yeah I know but this issue is assigned to you 14 days back and still you haven't progressed. Also the time provided for each issue is 7 days, that's why I have approached @prathimacode-hub. Hope you'll understand!

[2021-07-04 14:26] Manasi2001 opened #312 "Advertisement Click Prediction"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/jahnveenarang/cvdcvd-vd) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happy coding :)

[2021-07-04 14:32] Manasi2001 opened #313 "Paris Housing Classification"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/mssmartypants/paris-housing-classification) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happy coding :)

[2021-07-04 14:36] Manasi2001 opened #314 "Brain Weight Prediction"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/anubhabswain/brain-weight-in-humans) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happy coding :)

[2021-07-04 14:39] Manasi2001 opened #315 "Scores Prediction"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/saurabh778/student-score-prediction-using-linear-regression) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README

[2021-07-04 14:42] Manasi2001 opened #316 "Body Fat Prediction"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/fedesoriano/body-fat-prediction-dataset) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happy coding :)

[2021-07-04 14:44] Manasi2001 opened #317 "GOT Episodes Imdb Rating Prediction"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/bakar31/game-of-thronesgot) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happy coding :)

[2021-07-04 14:46] Manasi2001 opened #318 "Appliances Energy Prediction"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/sohommajumder21/appliances-energy-prediction-data-set) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happ

[2021-07-04 14:54] Manasi2001 opened #319 "Football Teams Rating"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/varpit94/football-teams-rankings-stats) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happy coding :)

[2021-07-04 15:03] Manasi2001 opened #320 "Stack Overflow Questions Quality Rating Prediction"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/imoore/60k-stack-overflow-questions-with-quality-rate) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happ

[2021-07-04 15:09] Manasi2001 opened #321 "Amazon Products Reviews Classification"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/kritanjalijain/amazon-reviews?select=train.csv) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happy codin

[2021-07-04 15:11] Manasi2001 opened #322 "Emotion Classification"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/anjaneyatripathi/emotion-classification-nlp?select=emotion-labels-train.csv) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well a

[2021-07-04 15:16] prathimacode-hub commented on #129
@abhisheks008, The point you said is right, but @harshita9621 atleast replied to my message earlier. If she doesn't even consider to reply, I could have taken you in. Can't be harsh, if you have noticed I had unassigned 3 people from the tasks as they didn't update for 20long days. That's ok, lets give her time up to 4 days. I'm adding up new issues now for you.

@harshita9621, kindly respond time

[2021-07-04 15:19] abhisheks008 commented on #129
It's ok ma'am. No issues.

[2021-07-04 15:22] prathimacode-hub opened #323 "Forest Fire Prediction"
Hey LGM-SoC participants, good to see you.

This project will help us in predicting the forest fire using the reported forest fires from brazil dataset

Dataset : https://www.kaggle.com/gustavomodelli/forest-fires-in-brazil

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

Enjoy your open sourc

[2021-07-04 15:24] abhisheks008 commented on #312
@prathimacode-hub and @Manasi2001 I am up for this issue.
Approach : I will be using different types of classification algorithms to deploy the models and then will be checking the accuracy using the accuracy scores.
Task Taken : Model Creation
Issue #312

Please assign me this issue.

[2021-07-04 15:24] prathimacode-hub opened #324 "Solar Radiation Prediction"
Hey LGM-SoC participants, good to see you.

This project will help us in predicting the solar radiation using the given dataset provided.

Dataset : https://www.kaggle.com/dronio/SolarEnergy

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

[2021-07-04 15:28] prathimacode-hub opened #325 "Soil Moisture Prediction"
Hey LGM-SoC participants, good to see you.

This project will help us in predicting the soil moisture data using dataset provided.

Dataset : https://www.kaggle.com/amirmohammdjalili/soil-moisture-dataset

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

[2021-07-04 15:29] Jagannath8 commented on #316
I will create models use Regression algorithms to predict the body fat of humans.

[2021-07-04 15:29] prathimacode-hub opened #326 "Cervical Cancer Risk Prediction"
Hey LGM-SoC participants, good to see you.

This project will help us in predicting the risk of cervical cancer using the provided dataset

Dataset : https://www.kaggle.com/loveall/cervical-cancer-risk-classification

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

[2021-07-04 15:31] Jagannath8 commented on #315
I will create models use Regression algorithms to predict the scores.
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-07-04 15:31] Jagannath8 commented on #316
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-07-04 15:33] prathimacode-hub opened #327 "Airbus Ship Detection"
Hey LGM-SoC / DCP participants, good to see you.

This project will help us in detecting the airbus ship using the dataset given

Dataset : https://www.kaggle.com/c/airbus-ship-detection/data

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

[2021-07-04 15:36] prathimacode-hub commented on #315
Can you take up an another issue to work on. This issue is already done. Sorry for the inconvenience. @Jagannath8

[2021-07-04 15:36] #315 closed

[2021-07-04 15:42] prathimacode-hub opened #328 "Gun Detection using Yolo"
Hey LGM-SoC participants, good to see you.

This project will help us in detecting the gun using YOLO.

Dataset : https://www.kaggle.com/atulyakumar98/gundetection

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-07-04 15:43] prathimacode-hub commented on #312
Issue assigned, you can start working. @abhisheks008

[2021-07-04 15:43] prathimacode-hub commented on #316
Yes, you can proceed. Good choice of the project. @Jagannath8

[2021-07-04 15:48] prathimacode-hub opened #329 "Black Friday Sales - Analysis and Prediction"
Hey LGM-SoC participants, good to see you.

This project will help us in analyzing and predicting the black friday sales using the provided dataset

Dataset : https://www.kaggle.com/sdolezel/black-friday

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

[2021-07-04 15:52] prathimacode-hub opened #330 "Plant Disease Prediction"
Hey LGM-SoC participants, good to see you.

This project will help us in predicting the plant diseases using the given dataset

Dataset : https://www.kaggle.com/vipoooool/new-plant-diseases-dataset

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

[2021-07-04 15:57] Jagannath8 commented on #329
I will create models use Regression algorithms to predict Black Friday Sales.
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-07-04 15:58] prathimacode-hub commented on #26
You can use try and except method, use print statement and check where it's going wrong. As it says, it's not able to convert string to float. It means from the starting point of the program all the syntaxes given, few or all are not in float. That's the reason it isn't able to fit. You know right, you can bring 2 parameters together onyl when they are of same data type. @sonaliBedade

[2021-07-04 16:10] Soumayan-pal01 commented on #325
Hey @prathimacode-hub Please assign me this issue if possible. Will be using the comparative analysis of multiple classifiers.

[2021-07-04 16:18] abhisheks008 commented on #314
@prathimacode-hub and @Manasi2001 I am up for this issue.
Approach : I will be using different types of regression algorithms to deploy the models and then will be checking the accuracy using the accuracy scores.
Task Taken : Model Creation
Issue #314

Please assign me this issue.

[2021-07-04 16:21] Jagannath8 commented on #319
I will create models use Regression algorithms to predict Football Teams Rating.
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-07-04 16:24] anishamurmu13 commented on #313
I will create models using different ML algorithms and compare their accuracy.
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-07-04 16:26] prathimacode-hub commented on #313
Yes, you can proceed. @anishamurmu13

[2021-07-04 16:26] prathimacode-hub commented on #325
Definitely, issue assigned. @Soumayan-pal01

[2021-07-04 16:27] prathimacode-hub commented on #319
Already an issue is assigned to you. You can work on this, after you create your earlier PR. @Jagannath8

[2021-07-04 16:29] prathimacode-hub commented on #314
Have you finished off the earlier issue. @abhisheks008

[2021-07-04 16:31] prathimacode-hub commented on #329
I guess already an issue is assigned to you. @Jagannath8

[2021-07-04 16:31] abhisheks008 commented on #314
Yes I have.

[2021-07-04 16:33] prathimacode-hub commented on #314
Cool, you're super fast. Yup, issue assigned. @abhisheks008

[2021-07-04 16:34] Jagannath8 commented on #329
yes @prathimacode-hub mam

[2021-07-04 16:36] Jagannath8 commented on #319
okay @prathimacode-hub mam, after making that PR I'll work on this issue.

[2021-07-04 16:38] Isha307 commented on #323
@prathimacode-hub I would like to work on this issue. I will work on model creation.

Can I work on this issue?

[2021-07-04 16:38] #312 closed

[2021-07-04 16:39] prathimacode-hub commented on #323
Yes, sure. Issue assigned. @Isha307

[2021-07-04 17:08] drashtipatel2503 commented on #311
I can use miTv reveiws from flipkart available on kaggle,
Headphones and smartphone reviews from amazon available on kaggle.

[2021-07-04 17:17] prathimacode-hub commented on #311
That's cool. Change the issue title to proper project name. Then I can assign the issue accordingly. @drashtipatel2503

[2021-07-04 17:24] abhisheks008 commented on #317
@prathimacode-hub and @Manasi2001 I am up for this issue.
Approach : I will be using different types of regression algorithms to deploy the models and then will be checking the accuracy using the accuracy scores.
Task Taken : Model Creation
Issue #317

Please assign me this issue.

[2021-07-04 17:29] prathimacode-hub commented on #317
Issue alloted. @abhisheks008

[2021-07-04 17:48] drashtipatel2503 commented on #311
Done

[2021-07-04 17:51] prathimacode-hub commented on #311
Your issue title isn't changed yet. @drashtipatel2503

[2021-07-05 04:59] Anshal55 commented on #330
Hey @prathimacode-hub  Please assign me this issue . I'd like to build an efficient cnn model to classify these images and deploy it with flask.

[2021-07-05 05:01] prathimacode-hub commented on #330
Sure, issue assigned. @Anshal55

[2021-07-05 05:14] abhisheks008 commented on #318
@prathimacode-hub and @Manasi2001 I am up for this issue.
Approach : I will be using different types of classification algorithms to deploy the models and then will be checking the accuracy using the accuracy scores.
Task Taken : Model Creation
Issue #318

Please assign me this issue.

[2021-07-05 05:40] prathimacode-hub commented on #318
Issue assigned. @abhisheks008

[2021-07-05 05:44] #317 closed

[2021-07-05 05:45] #314 closed

[2021-07-05 05:48] #316 closed

[2021-07-05 05:48] prathimacode-hub commented on #319
Are u interested to work on this issue as said earlier? @Jagannath8

[2021-07-05 05:49] Jagannath8 commented on #319
yes mam

[2021-07-05 06:29] prathimacode-hub commented on #319
Assigned. @Jagannath8

[2021-07-05 08:12] abhisheks008 commented on #320
@prathimacode-hub and @Manasi2001 I am up for this issue.
Approach : I will be using different types of classification algorithms to deploy the models and then will be checking the accuracy using the accuracy scores.
Task Taken : Model Creation
Issue #320

Please assign me this issue.

[2021-07-05 08:17] prathimacode-hub commented on #320
Issue assigned. @abhisheks008

[2021-07-05 09:38] abhisheks008 commented on #322
@prathimacode-hub and @Manasi2001 I am up for this issue.
Approach : I will be using different types of classification algorithms to deploy the models and then will be checking the accuracy using the accuracy scores.  Basically this whole project is based on NLP (Natural Language Processing).
Task Taken : Model Creation
Issue #322

Please assign me this issue.

[2021-07-05 09:49] prathimacode-hub commented on #322
Awesome, issue assigned. @abhisheks008

[2021-07-05 10:03] sonaliBedade commented on #26
Yes I'll try doing that

[2021-07-05 10:29] drashtipatel2503 commented on #311
I have changed now!

[2021-07-05 10:32] ayushi424 commented on #329
Hey @prathimacode-hub,
I'd like to work on this issue, mainly on model creation part.
I'll proceed by data exploration, data cleaning(if required), data visualization to draw insights of the given data, model creation using different prediction algorithms and lastly perform accuracy check to find which algorithm works best.
Please assign.

[2021-07-05 10:40] prathimacode-hub commented on #329
Yes, this issue is assigned to you. @ayushi424

[2021-07-05 10:44] #318 closed

[2021-07-05 10:45] #320 closed

[2021-07-05 10:51] prathimacode-hub commented on #311
Change the title to "Amazon Mobile Phones Review Analysis"

[2021-07-05 12:47] #325 closed

[2021-07-05 12:52] #313 closed

[2021-07-05 12:57] #129 closed

[2021-07-05 13:18] anishamurmu13 commented on #324
I will work on model creation and backend using regression algorithms.
Can I work on this issue?
I'm a participant of LGM-SOC21

[2021-07-05 14:30] abhisheks008 commented on #326
@prathimacode-hub and @Manasi2001 I am up for this issue.
Approach : I will be using different types of classification algorithms to deploy the models and then will be checking the accuracy using the accuracy scores.
Task Taken : Model Creation
Issue #326

Please assign me this issue.

[2021-07-05 14:52] Soumayan-pal01 commented on #324
Hey @prathimacode-hub .Assign me this issue if possible for model creation.

[2021-07-05 14:56] prathimacode-hub commented on #324
Since, it's on FCFS basis, issue is assigned to @anishamurmu13

Sorry, you can take up an another issue to work on. @Soumayan-pal01

[2021-07-05 14:59] #322 closed

[2021-07-05 14:59] prathimacode-hub commented on #326
Yes, issue assigned. @abhisheks008

[2021-07-05 15:01] Soumayan-pal01 commented on #324
Actually @anishamurmu13 requested to work on 2 issues at the same time, this and #313 and she was assigned #313 as its showing. So I though this request of her would be counted void. Therefore, I posted my comment @prathimacode-hub .

[2021-07-05 15:04] Soumayan-pal01 commented on #324
Yeah sure @prathimacode-hub , my bad.

[2021-07-05 15:05] Soumayan-pal01 commented on #327
Assign me this issue for model creation if possible @prathimacode-hub .

[2021-07-05 15:21] abhisheks008 commented on #321
@prathimacode-hub and @Manasi2001 I am up for this issue.
Approach : I will be using different types of deep learning methods to deploy the models and then will be checking the accuracy using the accuracy scores.
Task Taken : Model Creation
Issue #321

Please assign me this issue.

[2021-07-05 15:22] abhisheks008 commented on #321
After #326 I will work on this issue

[2021-07-05 15:26] prathimacode-hub commented on #327
Sure, issue assigned. @Soumayan-pal01

[2021-07-05 15:27] prathimacode-hub commented on #321
Sure, I know you can catch this up with your speed. @abhisheks008

[2021-07-05 15:37] prathimacode-hub commented on #324
I understand, but she has completed her earlier issue taken up, so I did assign this issue after checking for the same. I assure you, that I'll be fair whoever it is. So don't feel bad about it. I shall sum up more issues to work on. @Soumayan-pal01

[2021-07-05 16:38] abhisheks008 commented on #321
@prathimacode-hub Please assign me this issue

[2021-07-05 16:40] prathimacode-hub commented on #321
Yes, issue assigned. @abhisheks008

[2021-07-05 16:50] #326 closed

[2021-07-05 17:30] Soumayan-pal01 commented on #324
No its Okay...Actually it was a misinterpretation on my side, as I considered the pull request timing.

[2021-07-06 07:12] #321 closed

[2021-07-06 07:15] #319 closed

[2021-07-06 08:06] #304 closed

[2021-07-06 08:16] #323 closed

[2021-07-06 08:22] Manasi2001 commented on #20
Updates @ainy-123? We haven't heard from you in 11 days.

[2021-07-06 08:22] prathimacode-hub opened #347 "Kidney Stone Prediction"
Hey LGM-SoC participants, good to see you.

This project will help us in predicting the kidney stones using the given dataset

Dataset : https://www.kaggle.com/utkarshxy/kidney-stone-data

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

[2021-07-06 08:25] prathimacode-hub opened #348 "Laptop Prices Prediction"
Hey LGM-SoC participants, good to see you.

This project will help us in predicting the laptop prices from wide range of models using the given dataset

Dataset : https://www.kaggle.com/ionaskel/laptop-prices

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

[2021-07-06 08:29] prathimacode-hub opened #349 "Mall Customer Segmentation"
Hey LGM-SoC participants, good to see you.

This project should help us in segmenting the customers taking the parameters into consideration

Dataset : You can take up a public dataset

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using good visualizations and classifying efficiently.

[2021-07-06 08:33] prathimacode-hub opened #350 "Netflix EDA and Genre Prediction"
Hey LGM-SoC participants, good to see you.

This project will help us in exploring the data analysis and predicting the genres of the netflix shows using the given dataset.

Dataset : https://www.kaggle.com/yogithasatyasri/netflix-shows-exploratory-analysis

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different

[2021-07-06 08:35] abhisheks008 commented on #347
@prathimacode-hub and @Manasi2001 I am up for this issue.
Approach : I will be using different types of classification algorithms to deploy the models and then will be checking the accuracy using the accuracy scores.
Task Taken : Model Creation
Issue #347

Please assign me this issue.

[2021-07-06 08:35] prathimacode-hub opened #351 "Text Summarization"
Hey LGM-SoC participants, good to see you.

This project will help us in summarizing the text into concise manner using the BBC Dataset.

Dataset : https://www.kaggle.com/pariza/bbc-news-summary

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-07-06 08:37] abhisheks008 commented on #348
@prathimacode-hub and @Manasi2001 I am up for this issue.
Approach : I will be using different types of regression algorithms to deploy the models and then will be checking the accuracy using the accuracy scores.
Task Taken : Model Creation
Issue #348

Please assign me this issue.

I'll work on this issue after #347

[2021-07-06 08:37] Manasi2001 commented on #347
Go ahead @abhisheks008.

[2021-07-06 08:38] prathimacode-hub opened #352 "Book Recommendation Systems"
Hey LGM-SoC participants, good to see you.

This project will help us in recommending and suggesting the good books based on dataset provided.

Dataset : https://www.kaggle.com/jealousleopard/goodreadsbooks

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-07-06 08:40] Manasi2001 opened #353 "Dry Beans Classification"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/josegarban/beans-classification) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happy coding :)

[2021-07-06 08:41] prathimacode-hub opened #354 "Airbnb Price Prediction"
Hey LGM-SoC participants, good to see you.

This project will help us in predicting the airbnb prices using the provided dataset

Dataset : https://www.kaggle.com/stevezhenghp/airbnb-price-prediction

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

[2021-07-06 08:43] Manasi2001 opened #355 "Balls Image Classification"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/gpiosenka/balls-image-classification) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happy coding :)

[2021-07-06 08:45] prathimacode-hub opened #356 "Spotify Music Recommender"
Hey LGM-SoC participants, good to see you.

This project will help us in providing a good recommendation from spotify playlist.

Dataset : https://www.kaggle.com/asifsadmine/spotify-playlists-dataset

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-07-06 08:45] Manasi2001 opened #357 "Creepy Crawlies Identification"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/mathewribeiro/spiderscorpioncochroach) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happy coding :)

[2021-07-06 08:47] Manasi2001 opened #358 "Male & Female Eyes Classification"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/pavelbiz/eyes-rtte) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happy coding :)

[2021-07-06 08:48] prathimacode-hub opened #359 "Twitch Streamer Analysis"
Hey LGM-SoC participants, good to see you.

This project will help us in analyzing the twitch streamers using the dataset given.

Dataset : https://www.kaggle.com/aayushmishra1512/twitchdata

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-07-06 08:50] Manasi2001 opened #360 "English Alphabet Classification"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/nachiketkanore/english-alphabets-computerized) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happy coding

[2021-07-06 08:51] prathimacode-hub opened #361 "Password Strength Classifier"
Hey LGM-SoC participants, good to see you.

This project will help us in classying the password strength from the given dataset

Dataset : https://www.kaggle.com/bhavikbb/password-strength-classifier-dataset

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-07-06 08:51] Manasi2001 opened #362 "Marble Surface Anomaly Detection"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/wardaddy24/marble-surface-anomaly-detection-2) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happy coding

[2021-07-06 08:54] Manasi2001 opened #363 "Persian License Plate Characters Identification"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/amirebrahimi66/large-dataset-of-persian-license-plate-characters) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the R

[2021-07-06 08:56] prathimacode-hub opened #364 "Automated Essay Grading"
Hey LGM-SoC participants, good to see you.

This project will help us in grading the essay automatically using machine learning

Dataset : https://www.kaggle.com/c/asap-aes/data

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-07-06 08:57] Manasi2001 opened #365 "Vehicle Image Classification"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/lyensoetanto/vehicle-images-dataset) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happy coding :)

[2021-07-06 08:58] Manasi2001 opened #366 "Alpaca Identification"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/sid4sal/alpaca-dataset-small) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happy coding :)

[2021-07-06 08:59] prathimacode-hub opened #367 "Endangered Right Whales Classification"
Hey LGM-SoC participants, good to see you.

This project will help us in recognizing and classifying the endangered right whales from the dataset provided.

Dataset : https://www.kaggle.com/c/noaa-right-whale-recognition/data

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-07-06 09:00] akash435 commented on #361
@prathimacode-hub can i work on this issue?

[2021-07-06 09:00] Manasi2001 opened #368 "Shoulder X-ray Classification"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/dryari5/shoulder-xray-classification) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happy coding :)

[2021-07-06 09:02] Manasi2001 opened #369 "Gender Recognition"
Hey LGM-SOC participant, great to have you here! 😀
If you feel like working on this issue, you may refer to this [dataset](https://www.kaggle.com/rashikrahmanpritom/gender-recognition-dataset) or any other dataset of your choice. Try to use at least 3-4 algorithms and draw comparisons between them all. Don't forget to follow proper project structure for code as well as for the README.
Happy coding

[2021-07-06 09:04] prathimacode-hub commented on #369
@Manasi2001, this is already done.

[2021-07-06 09:04] Manasi2001 commented on #361
Go ahead @akash435.

[2021-07-06 09:04] prathimacode-hub opened #370 "Xbox Game Prediction"
Hey LGM-SoC participants, good to see you.

This project will help us in predicting which Xbox game a visitor will be most interested in based on their search query using the dataset given

Dataset : https://www.kaggle.com/c/acm-sf-chapter-hackathon-small/data

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using differe

[2021-07-06 09:05] akash435 commented on #361
yes mam

[2021-07-06 09:07] #369 closed

[2021-07-06 09:09] prathimacode-hub opened #371 "Social Network Influencers Prediction"
Hey LGM-SoC participants, good to see you.

This project will help us in predicting the influential people in social networks

Dataset : https://www.kaggle.com/c/predict-who-is-more-influential-in-a-social-network/data

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

[2021-07-06 09:11] prathimacode-hub opened #372 "Electricity Consumption Forecasting"
Hey LGM-SoC participants, good to see you.

This project will help us in forecasting the electricity consumption from the provided dataset.

Dataset : https://archive.ics.uci.edu/ml/datasets/individual+household+electric+power+consumption

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-07-06 10:02] abhisheks008 commented on #348
Ma'am Please assign me this issue!

[2021-07-06 10:05] prathimacode-hub commented on #348
Issue assigned. @abhisheks008

[2021-07-06 10:47] abhisheks008 commented on #351
@prathimacode-hub and @Manasi2001 I am up for this issue.
Approach : I will be using  **Sequence to Sequence Model** [Seq2Seq] for creating the Text Summarization project.
Task Taken : Model Creation
Issue #351

Please assign me this issue.

[2021-07-06 10:47] abhisheks008 commented on #351
I'll work on it after #348

[2021-07-06 10:49] prathimacode-hub commented on #351
Sure. @abhisheks008

[2021-07-06 11:16] ainy-123 commented on #20
Sorry ,I got stuck in some urgent work. I will try to raise the PR by tomorrow. If, I fail to do so by tomorrow, You can unassign me ,anyone else can work on this.

[2021-07-06 11:39] Jagannath8 commented on #353
I'll use different ML algorithms to classify dry beans and compare their accuracy.
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-07-06 11:49] Jagannath8 commented on #359
I'll use different Regression algorithms to predict how many followers gained by stream.
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-07-06 11:54] prathimacode-hub commented on #359
Ok, sure also do the overall analysis of the twitch streams. Issue is assigned. @Jagannath8

[2021-07-06 11:55] prathimacode-hub commented on #353
Already an issue is assigned to you. You can work on this, once you finish that if issue is open by then. @Jagannath8

[2021-07-06 12:13] Jagannath8 commented on #353
okay @prathimacode-hub mam, after making that PR I'll work on this issue.

[2021-07-06 12:15] Jagannath8 commented on #359
okay mam

[2021-07-06 12:19] abhisheks008 commented on #351
Please assign me this issue!

[2021-07-06 12:20] abhisheks008 commented on #352
@prathimacode-hub and @Manasi2001 I am up for this issue.
Approach : I will be using different types of classification algorithms to deploy the model and then will be checking the accuracy using the accuracy scores.
Algorithms :
1. KNN
2. t-SNE
3. DBSCAN

Task Taken : Model Creation
Issue #352

Please assign me this issue.

I'll work on this issue after #351

[2021-07-06 12:27] prathimacode-hub commented on #351
Issue assigned. @abhisheks008

[2021-07-06 15:37] abhisheks008 commented on #352
Please assign me this issue!

[2021-07-06 15:38] prathimacode-hub commented on #352
Issue assigned. @abhisheks008

[2021-07-06 15:41] abhisheks008 commented on #354
@prathimacode-hub and @Manasi2001 I am up for this issue.
Approach : I will be using different types of regression and neural network algorithms to deploy the model and then will be checking the accuracy using the accuracy scores.
Algorithms :
1. Linear Regression
2. Random Forest
3. Gradient Boosting
4. Support Vector Regressor
5. Dense Neural Network

Task Taken : Model Creation
Issue #354

Plea

[2021-07-06 15:56] #351 closed

[2021-07-06 15:57] #348 closed

[2021-07-06 15:57] #347 closed

[2021-07-06 15:57] #305 closed

[2021-07-06 17:01] prathimacode-hub commented on #354
Ok, sure. @abhisheks008

[2021-07-06 20:20] shivani6320 commented on #350
I would like to contribute on this issue. I will perform a detailed EDA with visualizations and compare various models for prediction.
Please assign me this issue.

[2021-07-07 05:19] abhisheks008 commented on #354
PLEASE assign me this issue

[2021-07-07 05:33] prathimacode-hub commented on #354
Issue assigned. @abhisheks008

[2021-07-07 06:20] Isha307 commented on #371
Can I work on this issue @prathimacode-hub ?

I would like to work on model creation.

[2021-07-07 07:17] abhisheks008 commented on #355
@prathimacode-hub and @Manasi2001 I am up for this issue.
Approach : I will be using dense neural network algorithm [MobileNetV2] along with OpenCV to deploy the model and then will be checking the accuracy using the accuracy scores.

Task Taken : Model Creation
Issue #355

Please assign me this issue.

[2021-07-07 07:21] abhisheks008 commented on #358
@prathimacode-hub and @Manasi2001 I am up for this issue.
Approach : I will be using different types neural network algorithms to deploy the model and then will be checking the accuracy using the accuracy scores.
Architectures :
1. ConvNet
2. Inception
3. MobileNet
4. Xception

Task Taken : Model Creation
Issue #358

Please assign me this issue.

[2021-07-07 07:22] abhisheks008 commented on #358
I'll work on this issue after #355

[2021-07-07 07:30] prathimacode-hub commented on #371
Yes, sure issue assigned. @Isha307

[2021-07-07 07:30] prathimacode-hub commented on #358
Ok, sure. @abhisheks008

[2021-07-07 07:31] prathimacode-hub commented on #355
Issue assigned. @abhisheks008

[2021-07-07 07:31] prathimacode-hub commented on #350
Sure, issue assigned. @shivani6320

[2021-07-07 07:33] prathimacode-hub commented on #353
Do you want to work on this issue now? @Jagannath8

[2021-07-07 07:35] #359 closed

[2021-07-07 07:38] #354 closed

[2021-07-07 07:41] Jagannath8 commented on #353
Yes mam

[2021-07-07 07:46] #361 closed

[2021-07-07 07:57] akash435 opened #381 "Employee Attrition Predictor"
Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this will create a model which will predict whether the employee is going to leave the company or not.

Will use the dataset from here https://www.kaggle.com/pranavsai98/predicting-employee-status

will use data of employee like 'status' –
status (Employed / Left)
which department
salary
tenure
satisfaction

[2021-07-07 08:01] akash435 commented on #381
@prathimacode-hub , sorry this was already done

[2021-07-07 08:06] #352 closed

[2021-07-07 08:09] #36 closed

[2021-07-07 08:11] prathimacode-hub commented on #381
Yes, its already done [here](https://github.com/prathimacode-hub/ML-ProjectKart/tree/main/Employee%20Retention%20Project)

[2021-07-07 08:11] #381 closed

[2021-07-07 08:15] prathimacode-hub commented on #307
Sure, this issue is assigned. You can put up your project [here](https://github.com/prathimacode-hub/ML-ProjectKart/tree/main/Covid-19%20Data%20Analysis). Give the project folder title as "Your Full Name". Kindly follow the project structure like you did for early PR. @SuryanshNaugraiya

[2021-07-07 08:16] prathimacode-hub commented on #353
Issue assigned. @Jagannath8

[2021-07-07 08:19] prathimacode-hub commented on #307
This issue is again open for contributions. These are the datasets to follow. You can choose either of one and provide your analysis.

Dataset 1 : https://www.kaggle.com/allen-institute-for-ai/CORD-19-research-challenge (or)

Dataset 2 : https://www.kaggle.com/imdevskp/corona-virus-report (or)

Dataset 3 : https://www.kaggle.com/sudalairajkumar/novel-corona-virus-2019-dataset

By the way, I had cr

[2021-07-07 08:24] Rutikab12 commented on #349
Hey, @prathimacode-hub I want to work on this issue.

[2021-07-07 08:27] prathimacode-hub commented on #349
Sure, issue assigned. @Rutikab12

[2021-07-07 10:06] #41 closed

[2021-07-07 10:15] abhisheks008 commented on #358
please assign me this issue

[2021-07-07 10:16] prathimacode-hub commented on #358
Issue assigned. @abhisheks008

[2021-07-07 10:21] abhisheks008 commented on #362
@prathimacode-hub and @Manasi2001 I am up for this issue.
Approach : I will be using neural network algorithms to deploy the model and then will be checking the accuracy using the accuracy scores.
Architectures : EfficientNet

Task Taken : Model Creation
Issue #362

Please assign me this issue.

I will work on this issue after #358

[2021-07-07 11:15] aryantiwari10 opened #383 "Tweets Sentiment Analysis Prediction"
Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like...**

**Describe alternatives you've considered?**

**Approach to be followed (optional):**

**Additional context**

[2021-07-07 11:36] prathimacode-hub commented on #362
Definitely. @abhisheks008

[2021-07-07 11:37] prathimacode-hub commented on #383
This project is done long back. You can choose up from any of the issues up for grabs, else come up with a new issue. But make sure, it's not available in the repo. @aryantiwari10

[2021-07-07 11:41] #329 closed

[2021-07-07 11:46] #355 closed

[2021-07-07 11:47] #383 closed

[2021-07-07 11:50] Akash20x commented on #364
@prathimacode-hub  Please assign me this issue as a part of LGM-SOC'21

I want to build a model to predict score for the essay. I will use models like SVR, LSTM, word2vec, XGBClassifier and RNN and compare them in terms of their accuracy and their cohen kappa score.

[2021-07-07 12:06] prathimacode-hub commented on #364
Issue assigned. You can proceed. @Akash20x

[2021-07-07 12:10] prathimacode-hub commented on #254
It's been 5 days, no updat from you yet? @suy1968

[2021-07-07 12:10] prathimacode-hub commented on #255
It's been 5 days, no update from you yet? @23-24

[2021-07-07 12:12] 23-24 commented on #255
working on it maam will upload  it soon

[2021-07-07 12:13] prathimacode-hub commented on #255
You should update your progress once in 2 days, else how would I know if you are working or not. @23-24

[2021-07-07 12:22] 23-24 commented on #255
srry maam ,will complete it by today itself

[2021-07-07 13:06] prathimacode-hub commented on #255
Take your time, you can even create your PR by tomorrow. But info is needed. No need to be sorry. @23-24

[2021-07-07 13:07] Soumayan-pal01 commented on #327
Hey @prathimacode-hub the dataset is very large 28 GB and my system is lagging a lot after loading the images in local/online platforms in spite of having a high configuration. Have tried several times but same issue every time. Would like to drop this issue and take up a new one.

[2021-07-07 13:08] prathimacode-hub commented on #327
Ok, that's upto you. No worries. You can take up a new issue. @Soumayan-pal01

[2021-07-07 13:12] abhisheks008 commented on #362
Please assign me this issue

[2021-07-07 13:13] prathimacode-hub commented on #362
Issue assigned. @abhisheks008

[2021-07-07 13:21] #358 closed

[2021-07-07 13:21] Soumayan-pal01 commented on #365
I would like to work on 'Model Creation' for this issue. Assign me this issue if possible @prathimacode-hub

[2021-07-07 13:23] prathimacode-hub commented on #365
Issue assigned. @Soumayan-pal01

[2021-07-07 13:43] akash435 opened #387 "Fake JobPosting Prediction"
Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this will create a model for predicting real or fake job posting.

will user this dataset https://www.kaggle.com/shivamb/real-or-fake-fake-jobposting-prediction

And will use algorithm like logistic regression , Decision tree, random forest,.

[2021-07-07 13:45] akash435 commented on #387
@prathimacode-hub @Manasi2001 can i work on this issue for model creation.

[2021-07-07 13:46] prathimacode-hub commented on #387
Yes, you can proceed. Interesting issue. @akash435

[2021-07-07 13:55] NEERAJAP2001 opened #388 "Add Face Emotion Detection without a neural Network"
Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

Problem Statement :
Given a data set consisting of facial images and their sketches, retrieve all images (real and /or sketch) which are similar to the given test image, along with attributes of the image such as expression.

Non-neural network approach:
* K Nearest Neighbours (with k = 5, minkowski distance w

[2021-07-07 14:43] prathimacode-hub commented on #388
Sure, you can proceed. @NEERAJAP2001

[2021-07-07 14:49] dilroseR opened #389 "Driver's Drowsiness Detection system"
Define You:

I'm a  DevIncept Participant

I will create this model using the Transfer Learning technique with the help of MobileNet model

My model will alert the user whenever he/she drowses away with an alarm sound and hence decreasing the road-related accidents

Assign it to me, please.

[2021-07-07 14:50] abhisheks008 commented on #363
@prathimacode-hub and @Manasi2001 I am up for this issue.
Approach : I will be using neural network algorithms to deploy the model and then will be checking the accuracy using the accuracy scores.
Architectures : EfficientNet B1

Task Taken : Model Creation
Issue #363

Please assign me this issue.

I will work on this issue after #362

[2021-07-07 14:55] prathimacode-hub commented on #363
Sure. @abhisheks008

[2021-07-07 15:09] #371 closed

[2021-07-07 15:16] #330 closed

[2021-07-07 15:47] prathimacode-hub commented on #389
Contribution to DevIncept program would count from 10th of July, 2021. And this issue is already taken up by LGMSOC participant. If at all, PR doesn't turn up from the participant by 10th of July, I shall assign this to you. But assigning would take place only after the stipulated data according to the norms of DevIncept Program and is purely on First Come First Serve basis. All the best for your

[2021-07-07 15:47] abhisheks008 commented on #363
Please assign me this issue

[2021-07-07 15:48] prathimacode-hub commented on #363
Issue assigned. @abhisheks008

[2021-07-07 17:19] aryantiwari10 opened #392 "Hotel Booking Prediction"
Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

**Describe the Bug**

**Steps to Reproduce**

Steps to reproduce the behavior:

1.
2.
3.
4.

**Expected Behavior**

**Actual Behavior**

**Screenshots**

**Additional Details**

[2021-07-07 17:23] ainy-123 commented on #20
hey @Manasi2001 ,I am having few errors in my code,  not getting the expected result.can I take 1 more day to debug and successfully raise PR?

[2021-07-07 17:36] prathimacode-hub commented on #20
Ok, no worries. As long as you intimate timely, it's fine for us. @ainy-123

[2021-07-07 18:05] aryantiwari10 commented on #383
Hello I want to work on the hotel booking prediction
Can I do that please tell??

On Wed, 7 Jul 2021, 17:17 Prathima Kadari, ***@***.***> wrote:

[2021-07-07 18:18] Shivani-Khare opened #394 "Exploratory Data Analysis on Titanic survival"
@prathimacode-hub Please assign me this issue. I am a part of LGM-SoC'21. I really wish to work on this issue.

[2021-07-07 18:25] prathimacode-hub commented on #383
Yes, you can. But be clear with project title, create an issue using template and get it assigned. @aryantiwari10

[2021-07-07 18:26] prathimacode-hub commented on #392
This an empty and wrong template you had choosen. Kindly correct it and describe about your project, your approach, algos you would work on and issue you are taking up. @aryantiwari10

[2021-07-07 18:28] prathimacode-hub commented on #394
This is done long back. You can take up an another issue to work or choose from existing up for grabs issues. Also while raising an issue, follow the template provided in README file with detailed description of what your project is. Do make sure project isn't in the repo, before creating an issue. @Shivani-Khare

[2021-07-07 18:49] aryantiwari10 opened #395 "Hotel Booking Prediction"
Define You: My name is Aryan Tiwari . I am a data science and machine learning enthusiast and currently pursuing B.Tech from Srm University , I am in 3rd year and my branch is computer science.

- [x] LGM-SOC'21 Participant : YES
- [ ] DevIncept Participant
- [ ] Contributor

Plz assign this project to me I want to contribute it
PROJECT TITLE : Hotel Booking Prediction

GOAL : To predict the possi

[2021-07-07 18:50] aryantiwari10 commented on #392
Now I have updated please have a look at it

On Wed, 7 Jul 2021 at 23:57, Prathima Kadari ***@***.***>
wrote:

[2021-07-07 19:08] Shivani-Khare opened #396 "Analysis of Temperature rise in Permanent Magnet Synchronous Motor"
Define You: Greetings, I am Shivani Jitendra Khare, currently pursuing Electrical Engineering and having immense interest in Machine Learning. I am new to open source contributions but really would like to work for it.

- [ ] LGM-SOC'21 Participant  - Yes.
- [ ] DevIncept Participant
- [ ] Contributor

**Describe the Bug**

 Permanent Magnet Synchronous Motors (PMSM) are widely used for applicatio

[2021-07-07 19:15] prathimacode-hub commented on #396
Can you say me the proper project title. I couldn't understand it clearly of what the project is about. I guess it's somehting about Electric Vehicles. Cna you provide the "dataset" you are willing to work on. And don't worry about being new to open source, I shall guide you with the process. I can assign this issue, once I gain some clarity on the project. @Shivani-Khare

[2021-07-07 19:16] prathimacode-hub commented on #395
Sure, issue is assigned to you. @aryantiwari10

[2021-07-07 19:16] #392 closed

[2021-07-07 19:18] prathimacode-hub commented on #396
I believe it's "Electric Vehicle Analysis". Correct me if i am wrong. And also provide the dataset you're going to use in your project, your approach you would follow and what's the task you're up to? @Shivani-Khare

[2021-07-07 19:19] aryantiwari10 commented on #395
Mam now what I have to do next can I upload the ipynb directly which I have
made?

On Thu, 8 Jul 2021, 00:46 Prathima Kadari, ***@***.***> wrote:

[2021-07-07 19:21] Shivani-Khare commented on #396
Dataset: https://www.kaggle.com/wkirgsn/electric-motor-temperature

Detailed idea:
There is a motor called PMSM motor used in Electric Vehicle to drive the vehicle. Hence, it is important that the motor should be efficient. The major factor affecting the efficiency of these motors is the temperature rise in the parts which leads to losses. Hence, it is important to analyse which parameters of moto

[2021-07-07 19:25] Shivani-Khare commented on #396
I aim at performing an EDA that would conclude the parameters that lead to temperature rise in PMSM (Permanent magnet Synchronous motors).

[2021-07-07 19:29] #394 closed

[2021-07-07 19:52] Soumayan-pal01 opened #398 "Airline Passenger Satisfaction"
---
Title: Airline Passenger Satisfaction
About: The aim of this project is to predict whether a passenger is satisfied or not with the specific Airlines company
Name: Soumayan Pal
Label: Feature Request
Assignee: 'Soumayan-pal01'

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

**The aim of this project is to predict whether the customer is satisfied with the airlines services o

[2021-07-07 19:54] Soumayan-pal01 commented on #398
Will be working on 'Model Creation' for this issue @prathimacode-hub .

[2021-07-08 05:34] prathimacode-hub commented on #395
Now, you can create a PR if your project is ready. Follow the project structure given in README file of this repo.

[2021-07-08 05:35] prathimacode-hub commented on #398
Yup, issue assigned. @Soumayan-pal01

[2021-07-08 05:35] Isha307 opened #399 "Amazon Books Analysis"
Title: Amazon Top 50 Bestselling Books Analysis
About: Prediction on book to be fiction and non-fiction using Goodreads
Name: Isha Shaw
Label: Feature Request
Assignee: 'Isha307

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

The aim of project is to build machine learning algorithms to predict whether the book is fiction or non- fiction.

[Dataset ](https

[2021-07-08 05:38] prathimacode-hub commented on #396
What's the project title and what's the task you are taking up. Also change the issue title according to the project title. You would know these things to answer only when you go through the README file and CONTRIBUTING GUIDELINES of this repo. @Shivani-Khare

[2021-07-08 05:39] prathimacode-hub commented on #399
Change the issue title to project name. that is "Amazon Books Analysis". @Isha307

[2021-07-08 05:40] prathimacode-hub commented on #394
You should never close an issue or PR from your end. That's against the norm. Not all would take this positive. @Shivani-Khare

[2021-07-08 06:06] #362 closed

[2021-07-08 06:08] Isha307 commented on #399
Sorry.
It was by mistake.

[2021-07-08 06:26] prathimacode-hub commented on #399
No worries, issue assigned. @Isha307

[2021-07-08 06:27] Shivani-Khare commented on #394
Alright. Wasn't aware. Apologies. @prathimacode-hub

[2021-07-08 06:34] prathimacode-hub commented on #394
No worries, I just wanted to let you know. Apologises aren't needed. That's how you learn right. @Shivani-Khare

[2021-07-08 06:35] #365 closed

[2021-07-08 06:40] prathimacode-hub commented on #396
And also the template used about for your issue is not right. The issue template to create should be [this](https://github.com/prathimacode-hub/ML-ProjectKart/blob/main/.github/ISSUE_TEMPLATE/feature_request.md).

[2021-07-08 06:57] Shivani-Khare commented on #396
Hey,

I tried keeping the title as particular as possible.
The dataset set doesn't have anything that relates to Electric vehicles. Being from an Electrical Engineering background, I know that these motors are used for EV purposes and so I have described the entire thing with EV perspective.

However, I will change the title to - "PMSM Temperature analysis". Will that do?

[2021-07-08 07:01] Shivani-Khare commented on #396
Oh okay.

The one that I used, I found it when I clicked the new issue tab.

[2021-07-08 07:03] Shivani-Khare commented on #394
Yep, Thankyou. @prathimacode-hub

[2021-07-08 07:07] 23-24 commented on #255
Maam I am not able to upload the dataset given since it is too large

[2021-07-08 07:40] dilroseR commented on #389
Alright, @prathimacode-hub !
please don't forget to msg if the PR doesn't turn up
Thankyou.

[2021-07-08 07:44] abhisheks008 commented on #368
@prathimacode-hub and @Manasi2001 I am up for this issue.
Approach : I will be using neural network algorithms to deploy the model and then will be checking the accuracy using the accuracy scores.
Architectures : EfficientNet B1

Task Taken : Model Creation
Issue #368

Please assign me this issue.

[2021-07-08 08:06] #363 closed

[2021-07-08 08:10] prathimacode-hub commented on #396
There are two options to be choosen when creating an issue, i gues you chose the other one. And about project title, I understood what you are trying to say. You can keep your project title as "Electric Motor Temperature Analysis". Issue is assigned to you. You can proceed working. @Shivani-Khare

[2021-07-08 08:12] prathimacode-hub commented on #389
Yeah, sure. I would let you know. Meanwhile you can taken up an another issue to work on or else you can choose it from issues which are up for grabs. @dilroseR

[2021-07-08 08:16] abhisheks008 commented on #150
Hey @prathimacode-hub and @Manasi2001 I am up for this issue.
Approach : I will be using Convolution Neural Network for detecting the CAPTCHA letters, and the model will be evaluated according to the accuracy score.
Task taken : Model Creation
Issue #150

Please assign me this issue!

[2021-07-08 09:09] prathimacode-hub commented on #150
Yes, issue assigned. @abhisheks008

[2021-07-08 09:10] prathimacode-hub commented on #368
Already Captcha Decoding is assigned, you can work on this once you complete that issue. @abhisheks008

[2021-07-08 11:22] prathimacode-hub opened #402 "Update the "Look Through the Kart of Amazing Projects" in README"
Hey, LGMSOC participants. Good to see you here.

Help needed. There are in total '107' projects listed out in the section of "Look Through the Kart of Amazing Projects" in README.md.

Currently, the repo exists with 150+ projects. If anyone is interested to take up this good first issue can forward and express your interest. And, this PR needs to be completed by 9th July, 2021.

All the best for y

[2021-07-08 11:54] abhisheks008 commented on #368
Please assign me this issue.

[2021-07-08 12:42] khushi-purwar commented on #402
Can you please assign me this task @prathimacode-hub

Can you please assign me this issue @prathimacode-hub

[2021-07-08 13:08] #395 closed

[2021-07-08 13:14] prathimacode-hub commented on #368
Issue assigned. @abhisheks008

[2021-07-08 13:20] #150 closed

[2021-07-08 13:34] prathimacode-hub commented on #402
That's great to know. Are you an LGMSOC participant? @khushi-purwar

[2021-07-08 13:51] khushi-purwar commented on #402
yes @prathimacode-hub , I am a LGMSOC participant

[2021-07-08 13:53] prathimacode-hub commented on #402
Sure,this issue is assigned to you. Follow the template as it is and add on the projects but in alphabetical order. All the best. @khushi-purwar

[2021-07-08 13:56] khushi-purwar commented on #402
Ok. I will do it accordingly. Thank You

[2021-07-08 14:01] Best-forever-003 opened #405 "German Traffic Sign System"
Define You:

NAME: -AAMIR P
USERNAME: Best-forever-003
PROJECT: Heart Disease Prediction
LinkedIn: [](https://www.linkedin.com/in/aamir-p/)

- [x] - [ ]DevIncept Participant
- [ ]
- [x] - [ ] Contributor
- [ ]

**Can you, please assign me this project Madam?**

This project will focus on predicting heart disease using neural networks. Based on attributes such as blood pressure, cholesterol levels,

[2021-07-08 14:03] Best-forever-003 commented on #405
@prathimacode-hub Madam

[2021-07-08 14:09] #405 closed

[2021-07-08 14:16] prathimacode-hub commented on #405
Why had you closed the issue? You should never close issues or PR from your end. And what are you willing to work on? By the way the contribution period for DevIncept would start from 10th of July, 2021. Also make sure, the issues you raise are not in the repo. You can take up an issues available for grabs or come up with your own issues. Issues are assigned on FCFS basis. @Best-forever-003

[2021-07-08 14:18] Best-forever-003 commented on #405
Yes @prathimacode-hub Madam, that's why I closed it. Sorry Madam

[2021-07-08 14:21] prathimacode-hub commented on #405
You shouldn't close it, it's against the norm. Any queries, don't hesitate to ask. @Best-forever-003

[2021-07-08 15:08] Best-forever-003 commented on #405
@prathimacode-hub can you please connect me on LinkedIn
https://www.linkedin.com/in/aamir-p/

Thanks for being a team player Madam

[2021-07-08 15:34] prathimacode-hub commented on #405
Most welcome for your humble words. Yes, sent you connection request. Kindly check it.

[2021-07-08 15:38] Best-forever-003 commented on #405
@prathimacode-hub I didn't receive Madam

[2021-07-08 15:41] #353 closed

[2021-07-08 15:54] prathimacode-hub commented on #405
I sent you. Refresh it and check on if that was ur linkedin id, you would have got.. @Best-forever-003

[2021-07-08 15:59] Best-forever-003 opened #408 "German Traffic Sign Classification"
Define You:

NAME: -AAMIR P
USERNAME: Best-forever-003
PROJECT: German Traffic Sign Classification

- [x] DevIncept Participant
- [x] Contributor

Can you, please assign me this project Madam? @prathimacode-hub

**Is your feature request related to a problem? Please describe.**
Yeah related to a traffic system

**Describe the solution you'd like...**

Python and TensorFlow to classify traffic sign

[2021-07-08 16:29] #368 closed

[2021-07-08 16:30] prathimacode-hub commented on #408
Can you provide me with the dataset you'll be working here? I shall assign this issue on 10th of July, 2021. @Best-forever-003

[2021-07-08 16:33] Best-forever-003 commented on #408
https://www.kaggle.com/meowmeowmeowmeowmeow/gtsrb-german-traffic-sign @prathimacode-hub

[2021-07-08 16:35] prathimacode-hub commented on #408
Good choice of the project. All the best. Make sure you get it assigned then and stay alerted on the concerned day as it's on FCFS basis. @Best-forever-003

[2021-07-08 16:36] Best-forever-003 commented on #408
Thank you so much Madam @prathimacode-hub

[2021-07-08 16:38] prathimacode-hub commented on #408
Welcome, I had already assigned DevIncept label, so other program participants doesn't take up this issue. @Best-forever-003

[2021-07-08 16:54] #387 closed

[2021-07-08 17:23] aryantiwari10 opened #412 "Diabetes Prediction"
Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [x] Contributor

PROJECT TITLE : Diabetes Prediction
plz assign this project to me .

GOAL : To predict the possibility that a person is suffering from diabetes or not.

DATASET : https://www.kaggle.com/uciml/pima-indians-diabetes-database

WHAT I HAD DONE : In this project first I performed a exploratory data analysis on the

[2021-07-08 17:29] prathimacode-hub commented on #412
This is done already. Here it [is](https://github.com/prathimacode-hub/ML-ProjectKart/tree/main/Diabetes%20Prediction). Before raising an issue, check if it's done in this repo so that your efforts don't go wasted. @aryantiwari10

[2021-07-08 17:37] aryantiwari10 opened #413 "NBA EDA AND PREDICTION"
Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [x] Contributor

PROJECT TITLE : NBA EDA AND PREDICTION
plz assign this project to me .

GOAL : To predict number of points that were scored in the season 2013-2014 by the NBA players.

DATASET : https://www.kaggle.com/razamh/unsupervised-ml

WHAT I HAD DONE : In this project first I performed a exploratory data analysis on th

[2021-07-08 17:45] prathimacode-hub commented on #413
Awesome. Issue assigned. @aryantiwari10

[2021-07-08 18:04] #402 closed

[2021-07-08 18:23] shivani6320 commented on #350
Hey @prathimacode-hub . I am done with the EDA part, but for genre prediction- its difficult to build better performance for predicting genre from the given data, because genre is least related to the other columns into dataset. I already tried different scaling methods with almost all classification models but couldn't reach accuracy higher than 45%.  It just shows that movie's genre can't be pre

[2021-07-08 19:05] prathimacode-hub commented on #350
Yup, Got your point. You can proceed. Change the issue title accordingly and also you're free to choose your own dataset, if this dataset doesn't work for you. Sure. @shivani6320

[2021-07-08 20:07] akash435 opened #416 "Marathon Time Prediction"
Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this will create a model for predicting the expected Marathon time

will use this dataset https://www.kaggle.com/girardi69/marathon-time-predictions

And will use different regression algorithms like
linear regression
decision tree regression
polynomial regression

and will compare the the accuracy among th

[2021-07-08 20:07] akash435 commented on #416
@prathimacode-hub , please assign this to me under LGM SOC.

[2021-07-09 04:16] prathimacode-hub commented on #416
Issue assigned. @akash435

[2021-07-09 04:19] #350 closed

[2021-07-09 04:32] #398 closed

[2021-07-09 05:36] abhisheks008 commented on #366
@prathimacode-hub and @Manasi2001 I am up for this issue.
Approach : I will be using neural network algorithms to deploy the model and then will be checking the accuracy using the accuracy scores.
Architectures : EfficientNet B3

Task Taken : Model Creation
Issue #366

Please assign me this issue.

[2021-07-09 05:40] #413 closed

[2021-07-09 05:42] prathimacode-hub commented on #366
Issue assigned. @abhisheks008

[2021-07-09 05:54] Soumayan-pal01 opened #418 "Honey Bee Pollen Detection"
---
Title: Honey Bee Pollen Detection
About: This project is all about detecting whether the honey bee is bearing pollen or not.
Name: Soumayan Pal
Label: Feature Request
Assignee: 'Soumayan-pal01'

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] Contributor

**The aim of this project is to detect whether the honey bee is bearing pollen or not**

**The dataset contains images of both pollen b

[2021-07-09 05:56] Soumayan-pal01 commented on #418
Will be working on 'model creation' for this issue @prathimacode-hub

[2021-07-09 07:02] aryantiwari10 opened #419 "Bank Customers Prediction"
Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [x] Contributor

PROJECT TITLE : Bank Customers Prediction
plz assign this project to me.

GOAL : To predict the customers who are withdrawing their account from the bank due to some loss and other issues.

DATASET : https://www.kaggle.com/santoshd3/bank-customers

WHAT I HAD DONE : In this project first I performed a explorat

[2021-07-09 07:24] #349 closed

[2021-07-09 07:30] Manasi2001 commented on #418
Sounds good @Soumayan-pal01. Go ahead. 👍🏻

[2021-07-09 07:33] Manasi2001 commented on #412
Hey @aryantiwari10, you may take up a new, never included before issue. Closing this duplicate one...

[2021-07-09 07:33] #412 closed

[2021-07-09 07:35] prathimacode-hub commented on #419
Issue assigned. @aryantiwari10

[2021-07-09 07:46] Soumayan-pal01 commented on #418
Thank you for assigning  @Manasi2001

[2021-07-09 08:23] #366 closed

[2021-07-09 08:30] #419 closed

[2021-07-09 14:57] kadatatlukishore commented on #372
Hello @prathimacode-hub , I would like to work on this. Please assign to me. Thanks !

[2021-07-09 15:04] prathimacode-hub commented on #372
Are you an LGMSOC participant? @kadatatlukishore

[2021-07-09 15:05] kadatatlukishore commented on #372
No Ma'am, I am not.

[2021-07-09 15:07] prathimacode-hub commented on #372
Are you a random contributor? @kadatatlukishore

[2021-07-09 15:07] kadatatlukishore commented on #372
Yes @prathimacode-hub , I am a newbie to contribution.

[2021-07-09 15:13] prathimacode-hub commented on #372
Great, you can come up with new issue, this issue if for LGMSOC participants. Also before raising issue kindly check if it's available in repo. Can't wait to see the project coming up from you. Don't worry about being new to contribution, I shall guide you. @kadatatlukishore

[2021-07-09 15:14] kadatatlukishore commented on #372
Good to hear that, thanks @prathimacode-hub !

[2021-07-09 19:20] khushi-purwar opened #424 "Text Classification Using Naive Bayes Classifier"
Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [x] Contributor

Problem is :  We have to classify a sentence whether it is a question or a statement.

**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like...**

**Describe alternatives you've considered?**

**Approach to be followed (optional):**

**Additional context**

[2021-07-09 19:28] khushi-purwar commented on #424
@prathimacode-hub  can I work on this issue under LGMSOC21 ?

[2021-07-09 19:47] Soumayan-pal01 commented on #360
Would like on 'Model creation' for this issue @Manasi2001 . Will be using MLP and CNN models to make the classification and then compare their results. Assign me this issue if possible. Thank you.

[2021-07-10 06:03] prathimacode-hub commented on #424
Yes, you can work on this issue. But use atleast 3-4 algorithms to gain the efficiency. Tell me your approach you will be using, task you are taking up and algorithms you would be working on. I can assign the issue then. Let me know of the details. @khushi-purwar

[2021-07-10 06:04] prathimacode-hub commented on #408
If you're interested to work on this issue, kindly let us know. @Best-forever-003

[2021-07-10 07:39] prathimacode-hub commented on #360
Sure, issue assigned. @Soumayan-pal01

[2021-07-10 07:43] harshita9621 commented on #424
@prathimacode-hub can I work on this issue under DevIncept ?

[2021-07-10 07:44] harshita9621 commented on #408
@prathimacode-hub Can I work on this issue under DevIncept?

[2021-07-10 07:46] harshita9621 commented on #307
@prathimacode-hub Can I work on this issue under DevIncept21

[2021-07-10 07:48] swetha28 commented on #356
Hi. I would like to work on this issue. Can you please assign it to me?

[2021-07-10 07:59] prathimacode-hub commented on #408
Decide of the project you want to work on, this interest is first raised by other person. If he doesn't show up by tomorrow, you can acquire this. There are many other issues up for grabs. About Covid Analysis you had already worked on it once, lets give chance to others. Else, you can come up a new issue. @harshita9621

[2021-07-10 08:06] harshita9621 commented on #408
@prathimacode-hub Okay

[2021-07-10 08:14] palak740 commented on #356
Hi, @prathimacode-hub , I am interested in taking this project for contributing. Kindly assign it to me under DevIncept21 30-day contributing program.

[2021-07-10 08:18] khushi-purwar commented on #424
Ok.   I will  use Naive Bayes , Support Vector Machine, K-Nearest Neighbors and Logistic Regression.
And the approach is first I will do the data preprocessing , then i will use different algorithms to build model

[2021-07-10 08:39] Best-forever-003 commented on #408
Yes Madam, I shall complete this by tomorrow morning @prathimacode-hub

[2021-07-10 08:40] sujay2306 opened #426 "Student Grade Prediction"
Define You:

- [ ] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like...**

**Describe alternatives you've considered?**

**Approach to be followed (optional):**

**Additional context**

[2021-07-10 08:42] prathimacode-hub commented on #426
Can you elaborate your project more? You issue template lack details. Tell me of your approach, how would you proceed, algorithms you would follow and task you are going to take. @sujay2306

[2021-07-10 08:43] Best-forever-003 commented on #408
I'm interested in working on this issue @prathimacode-hub Madam

[2021-07-10 08:44] sujay2306 commented on #426
I will use linear regression for this project

[2021-07-10 08:46] prathimacode-hub commented on #426
You should use multiple algorithms and compare the accuracies. Your issue template lacks details about the project. What's the task you are taking up? 'Model Creation', 'Front End' or 'Back End'. How would you proceed? @sujay2306

[2021-07-10 08:48] prathimacode-hub commented on #424
Great, this issue is assigned to you. You can proceed. Make sure you follow the project structure given. @khushi-purwar

You can take up a new issue to work on, as it's on FCFS basis. @harshita9621

[2021-07-10 08:50] prathimacode-hub commented on #408
Sure, issue is assigned. Take your time. Max time for any issue to complete is 5days. Also intimate your progress once in 2days. @Best-forever-003

[2021-07-10 09:10] shivani6320 commented on #328
Hey @prathimacode-hub . I would like to contribute to this project as DevIncept Participant. Kindly assign me this issue.

[2021-07-10 09:11] prathimacode-hub commented on #328
Sure, issue assigned. Hope it's model creation? @shivani6320

[2021-07-10 09:12] shivani6320 commented on #328
yes. I will do Model creation

[2021-07-10 09:18] khushi-purwar commented on #424
Ok, I will do it accordingly. Thanks for assigning me this issue.

[2021-07-10 09:52] prathimacode-hub commented on #356
Are you interesting to work on this issue. Kindly elaborate your approach on how would you proceed with this issue and also the task you're taking up? Model Creation, Front End or Back End. @swetha28

[2021-07-10 10:45] #418 closed

[2021-07-10 10:45] #416 closed

[2021-07-10 11:09] swetha28 commented on #356
I will do the model creation part. First, I will analyze the dataset using python and build an appropriate ML algorithm.

[2021-07-10 12:27] prathimacode-hub commented on #356
You have to use multiple algorithms and compare the accuracy. It will improve efficiency. It should be brief enough. If you're ok with it. I shall assign the issue. @swetha28

[2021-07-10 12:31] swetha28 commented on #356
@prathimacode-hub Yeah. I will develop multiple algorithms and then compare the accuracy.

[2021-07-10 12:32] prathimacode-hub commented on #356
Issue assigned. @swetha28

[2021-07-10 13:32] sujay2306 commented on #426
Model creation

[2021-07-10 13:59] prathimacode-hub commented on #426
Kindly provide the dataset you will be working on, so that issue can be assigned. @sujay2306

[2021-07-10 14:23] dilroseR commented on #389
Can i work on this.. as I can see a label called Up for grab?

[2021-07-10 14:28] prathimacode-hub commented on #389
Yes, you can work on this. but need some changes form you. Add the issue template and do the changes according to the project above. Then provide with the dataset you'll be using. Let me know of the approach you would follow, task you would be taking up. Once you add up these details, I shall assign this issue to you. @dilroseR

[2021-07-10 14:40] dilroseR commented on #389
Can you elaborate on add the issue template..? I didn't get that

[2021-07-10 14:48] prathimacode-hub commented on #389
There is an issue template provided in README file of the project else you can check up with the assigned issues on how template looks like. There are template to follow for issues, PR and README @dilroseR

[2021-07-10 15:11] dilroseR commented on #389
**TITLE:** Driver's Drowsiness Detection system

**GOAL:** I aim to build a system which would alert the user whenever the driver falls asleep and hence decreasing thr road related accidents which is mainly caused due to drowsiness.

**DATASET:** http://mrl.cs.vsb.cz/eyedataset

**WHAT WILL I DO:**
1.) Firstly, I will clean the data so that it can be loaded into the model.
2.) I will be using Mobi

[2021-07-10 15:36] prathimacode-hub commented on #389
Great, issue assigned. You can add multiple models and compare the efficiency. @dilroseR

[2021-07-10 15:44] dilroseR commented on #389
Thankyou

[2021-07-10 15:52] #155 closed

[2021-07-10 16:58] #408 closed

[2021-07-10 17:00] kadatatlukishore opened #428 "Web Page Phishing Detection"
@prathimacode-hub , I would to like to contribute this project to the repo

Dataset: https://www.kaggle.com/manishkc06/web-page-phishing-detection

Define You:

- [ ] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**
Yes, It's about web page phishing detection. Many people get scammed by this techniques. Detecti

[2021-07-10 17:01] kadatatlukishore commented on #428
Can I start working on this @prathimacode-hub ?

[2021-07-10 17:02] prathimacode-hub commented on #428
Interesting, but needs issue template to get it assigned with the project details. The task you are taking up, approach you would follow, algos you would use. @kadatatlukishore

[2021-07-10 17:14] kadatatlukishore commented on #428
Thanks for guidance @prathimacode-hub . Updated the template !

[2021-07-10 17:15] prathimacode-hub commented on #428
Most welcome, so you are not any of the participants but a contibutor right? @kadatatlukishore

[2021-07-10 17:16] kadatatlukishore commented on #428
Yes @prathimacode-hub. Thanks !

[2021-07-10 17:20] prathimacode-hub commented on #428
Issue assigned, @kadatatlukishore

[2021-07-10 18:06] harshita9621 commented on #426
Can I work on this issue?

[2021-07-10 18:07] harshita9621 commented on #372
Can I work on this issue

[2021-07-10 18:12] prathimacode-hub commented on #372
Issue assigned. @harshita9621

[2021-07-10 18:14] prathimacode-hub commented on #426
Electricity consumption is assigned to you. @harshita9621

[2021-07-10 18:48] prathimacode-hub commented on #426
Are you willing to work on this, if so provide the dataset you will be using. @sujay2306

[2021-07-10 18:53] akash435 opened #429 "Organ Donors Prediction"
Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this will create a model for predicting the Donors using the information in the dataset.

will use this https://www.kaggle.com/momohmustapha/donorsprediction

And will use different algorithms like
linear regression
logistic regression
decision tree regression
Random Forest classifier
K Neighbor Classifier

[2021-07-10 18:54] akash435 commented on #429
@prathimacode-hub  please assign this issue to me under LGM SOC.

[2021-07-10 18:54] prathimacode-hub commented on #429
Is this for blood donors or organ donors? @akash435

[2021-07-10 19:07] akash435 commented on #429
Mam i think its an organ donor, by looking into the dataset

[2021-07-11 04:06] #324 closed

[2021-07-11 05:45] palak740 opened #431 "World Population by year analysis"
Define You:
- [ ] LGM-SOC'21 Participant
- [x] DevIncept Participant
- [x] Contributor

In this project, I will do data analysis and visualise the world population change in past 70 years.
Based on the data, I can further work on making a model to predict future world population.

I will use the following dataset:
https://www.kaggle.com/sansuthi/world-population-by-year

[2021-07-11 05:54] prathimacode-hub commented on #431
Issue assigned. @palak740

[2021-07-11 06:42] devkumar24 commented on #426
can I work on this issue, I can do this task using ensemble learning, we will use different models like linear regression, random forest, xgboast and svm for better prediction on the dataset.

[2021-07-11 08:29] Akash20x opened #432 "Coffee Production Prediction"
Define You:

- [ ] LGM-SOC'21 Participant
- [x] DevIncept Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**

I want to add model of Coffee Production Prediction to predict average coffee production from 1990-2018. I will use different models like linear regression, Decision Tree, Random forest, Support Vector Classifier and more and compare their acc

[2021-07-11 08:47] arihantrode89 opened #433 "Diabetes Prediction"
Define You:

- [ ] LGM-SOC'21 Participant
- [x] DevIncept Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**
->Yes it is related to problem. I just found some issue. The issue is that some of features values are 0 such as BloodPressure, Skinthickness , BMI in some rows are 0 and if we use such kind of values to predict whether a person has diabetes or

[2021-07-11 13:38] Jagannath8 opened #435 "Campus Placement Prediction"
Define You:

- [x] LGM-SOC'21 Participant
- [x] Contributor

Dataset: https://www.kaggle.com/benroshan/factors-affecting-campus-placement

The aim is to predict if a student is placed or not according to his/her percentage and other factors.
I'll use different ML algorithms to predict if a student is placed or not and compare accuracy between them.

[2021-07-11 13:38] Jagannath8 commented on #435
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-07-11 14:12] prathimacode-hub commented on #433
This is an enhancement project. So yeah, you can proceed. Don't do any changes to the existing one.
Only project file would undergo changes. And for all the things you had done create a "README_enhanced.md" @arihantrode89

[2021-07-11 14:13] prathimacode-hub commented on #435
Yes, you can. @Jagannath8

[2021-07-11 14:14] prathimacode-hub commented on #432
Issue assigned. @Akash20x

[2021-07-11 14:15] arihantrode89 commented on #433
Sure.

[2021-07-11 14:16] prathimacode-hub commented on #426
This is already raised by someone else. If you want to work on this. raise a new issue with this project title. @devkumar24

[2021-07-11 14:19] arihantrode89 commented on #433
Sure.Thank you for asssigning this issue.

[2021-07-11 14:31] jeffryjames opened #436 "Market Basket Analysis"
Define You:

- [ ] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

**Describe the Bug**
Market Basket Analysis to predict similar items sold in a Store using association rule mining

**Expected Behavior**
Find out Similar Item set in the data and Recommend items based on previous history

[2021-07-11 14:50] prathimacode-hub commented on #436
Are you an devincept or lgmsoc participant or contributor? Elaborate your issue brief, taks you are taking up, algos you would use, approach you would follow and the dataset you would use. @jeffryjames

[2021-07-11 14:58] jeffryjames commented on #436
Define You:

- [ ] Contributor

**Describe the Bug**
**Market basket analysis** is a data mining technique used by retailers to increase sales by better understanding customer purchasing patterns. It involves analysing large data sets, such as purchase history, to reveal product groupings, as well as products that are likely to be purchased together.

These relationships are then used to build pro

[2021-07-11 15:40] PrashantVIT1 opened #437 "Cat and Dog classifier"
I want to improve the cat and dog classifier by creating a model that has an accuracy of 92% or above by using a data set having 4,000 cats and 4,000 images of dogs for training and 1,000/1,000 images for testing by using CNN with the help of python.

[2021-07-11 15:50] prathimacode-hub commented on #437
It's done long back. Before raising kindly check if project is available. Also follow the issue template to get it assigned. Come up with a new issue. @PrashantVIT1

[2021-07-11 16:06] PrashantVIT1 opened #438 "Prediction of loan defaulter"
In this, I will be using python and a design tree model to predict the person could be a defaulter or not

[2021-07-11 16:10] prathimacode-hub commented on #438
Follow the issue template given. Elaborate your project. Look up with assigned issues on how template looks like. I could understand your project title. @PrashantVIT1

[2021-07-11 16:12] prathimacode-hub commented on #436
What's the task you are taking up. provide the dataset you would be working on. Also use multiple algorithms to compare and provide good efficiency. @jeffryjames

[2021-07-11 16:14] PrashantVIT1 commented on #437
Yes, I agree that it was done before I have seen that part but the accuracy was around 89% and I am promising 92% or above. So I didn't change the title and also I have mention that I want to do some improvements. So please kindly look into this and guide me in this.

[2021-07-11 16:22] prathimacode-hub commented on #437
Ok, got it. So this would be an enhancement project then. Sure, don't do chnages to the existing project. Only thing that changes is improving the project file. Rest shoudl be as it is, if there is anything to add up, you can to existing files. But point to note, you should add up a README_enhanced.md file which shows all the changes and description of the project you had done. The template for RE

[2021-07-11 16:23] prathimacode-hub commented on #437
But let me know if you are participant of LGMSOC or DevIncept. Also follow the issue template above using edit option and add the changes according to your project. @PrashantVIT1

[2021-07-11 16:24] prathimacode-hub commented on #438
You cna work on only 1 issue at a time. @PrashantVIT1

[2021-07-11 16:25] PrashantVIT1 commented on #438
ok I was not aware of that

[2021-07-11 16:29] PrashantVIT1 commented on #437
Define You:

- [ ] DevIncept Participant
- [ ] Contributor
I want to improve the cat and dog classifier by creating a model that has an accuracy of 92% or above by using a data set having 4,000 cats and 4,000 images of dogs for training and 1,000/1,000 images for testing by using CNN with the help of python.

**Is your feature request related to a problem? Please describe.**

**Describe the soluti

[2021-07-11 16:37] PrashantVIT1 commented on #437
Define You:

 DevIncept Participant
 Contributor

I want to improve the cat and dog classifier by creating a model that has an accuracy of 92% or above by using a data set having 4,000 cats and 4,000 images of dogs for training and 1,000/1,000 images for testing by using CNN with the help of python.
Is your feature request related to a problem? Please describe.

Describe the solution you'd like...

[2021-07-12 03:25] suy1968 commented on #254
Maam, I will send PR today itself because last days my exam was held.

[2021-07-12 03:36] jeffryjames commented on #436
**Task** : To find out Relation between the items by finding its Support and Confidence levels between them.
**Algorithm** : Apriori Algorithm
**Dataset Source** : https://www.kaggle.com/devchauhan1/market-basket-optimisationcsv
**Description** : We have a dataset of a mall with 7500 transactions of different customers buying different items from the store. We have to find correlations between the

[2021-07-12 03:49] jeffryjames commented on #431
Hey! I would like to work on this issue. I will use Random Forest, KMeans and Regression Algorithms to come out with better accuracy. Please assign me this issue as DevIncept Participant. @prathimacode-hub

[2021-07-12 05:55] prathimacode-hub commented on #254
Ok, sure. @suy1968

[2021-07-12 06:02] #364 closed

[2021-07-12 06:04] #428 closed

[2021-07-12 06:06] prathimacode-hub commented on #438
That's Ok. I am just letting you know. @PrashantVIT1

[2021-07-12 06:07] prathimacode-hub commented on #437
Great, issue assigned. @PrashantVIT1

[2021-07-12 07:02] harshita9621 commented on #357
@Manasi2001 Can I work on this issue

[2021-07-12 07:13] harshita9621 opened #441 "Heart Attack Analysis"
Define You:

- [ ] LGM-SOC'21 Participant
- [x] DevIncept Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

 - I want to  performed in-depth Exploratory Data Analysis and 5-6 Algoritrhm.
 - Dataset:  [https://www.kaggle.com/rashikrahmanpritom/heart-attack-analysis-prediction-dataset](url)

**Describe the solution you'd like...**

**Describe alternat

[2021-07-12 07:15] harshita9621 commented on #441
@prathimacode-hub  Can I work on this issue?

[2021-07-12 08:10] #19 closed

[2021-07-12 08:13] prathimacode-hub commented on #441
You can take up an issue as LGMSOC or Devincept. Choose one. @harshita9621

[2021-07-12 08:17] prathimacode-hub commented on #436
First thing i guess you haven't gone through the README file, that's why you couldn't answer what i asked. That's Ok. Task means "Front End", "Back End" or "Model Creation". Just using single algorithm doesn't suffice. You have to use multiple algorithms, compare the accuracy and provide good efficiency. Issue assigned. All the best. @jeffryjames

[2021-07-12 08:17] harshita9621 commented on #441
@prathimacode-hub In DevIncept.

[2021-07-12 08:18] prathimacode-hub commented on #441
Ok, provide some details about project in the issue template. Its empty. Add your approach and also let me know the task you are taking up. So I can label accordingly. @harshita9621

[2021-07-12 09:07] prathimacode-hub commented on #357
I could see you assigned to heart attack prediction. You cna work on this after you finish off earlier issue if this is still up for grabs. @harshita9621

[2021-07-12 09:29] prathimacode-hub commented on #431
This issue is already assigned. You can come up with a new issue. @jeffryjames

[2021-07-12 10:02] #360 closed

[2021-07-12 11:33] aryantiwari10 opened #444 "Fragnance Price Prediction"
Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [x] Contributor

PROJECT TITLE : Fragnance Price Prediction

GOAL : To predict the price of the fragnances .

DATASET : https://www.kaggle.com/aryantiwari123/pricelistcsv

WHAT I HAD DONE : In this project first I performed a exploratory data analysis on the Pricelist dataset which includes of data cleaning , data manipulation

[2021-07-12 11:35] prathimacode-hub commented on #444
Amazing, issue assigned. Follow the project structure and complete the PR. @aryantiwari10

[2021-07-12 14:07] PrashantVIT1 commented on #437
So can you tell me should I fork the complete repo or only that particular repo- cat vs dog classification

[2021-07-12 14:10] prathimacode-hub commented on #437
You cannot fork just the project fork. To work on any project or create PR, complete repo should be forked. @PrashantVIT1

[2021-07-12 15:37] PrashantVIT1 commented on #437
I am unable to upload files how do I upload my that is in cat_vs_dog_classifier_enhanced.ipynb file

[2021-07-12 15:58] jeffryjames commented on #436
I'm New to this contribution program so couldn't get with the procedures you said about. Sure I'll go through the readme file once again and start to contribute with multiple algorithms. May I know What's the next procedure to be done . Thank you.

[2021-07-12 16:33] prathimacode-hub commented on #436
Ok. Next procedure is start working on it, once issue is assigned. Ping me when you finish the work. I shal guide you on next procedure. No worries, you wil get used to it b each passing PR. That's ok, I'm here to help. @jeffryjames

[2021-07-12 17:13] PrashantVIT1 commented on #437
can I make a folder name it as enhanced and save all the related FILES and DOC related to my part in that Folder. So it would not get messed up. As I have used 4 independent models for prediction with different accuracy that is 4 different .h5 files. Also, I have to upload a different dataset. It looks a little messed up and I think it will look good if it is allowed to create a file naming ENHANC

[2021-07-12 17:21] prathimacode-hub commented on #437
Ok, you can proceed. @PrashantVIT1

[2021-07-12 20:33] harshita9621 commented on #441
### Problem Description

A heart attack is a medical emergency that occurs when blood supply to part of the heart is suddenly cut off.A heart attack is a medical emergency that occurs when blood supply to part of the heart is suddenly cut off.

The heart muscles are supplied by the coronary arteries, which branch off from a major artery called the aorta. Heart attack occurs when one or more of the

[2021-07-13 05:17] #444 closed

[2021-07-13 10:56] #435 closed

[2021-07-13 12:57] Jagannath8 opened #449 "Employee Retention Prediction"
Define You:

- [x] LGM-SOC'21 Participant
- [x] Contributor

Dataset: https://www.kaggle.com/giripujar/hr-analytics

The aim is to predict retention of an employee within an organization such that whether the employee will leave the company or continue with it.
I'll use different ML algorithms to predict retention of an employee and compare accuracy between them.

[2021-07-13 12:58] Jagannath8 commented on #449
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-07-13 14:04] #433 closed

[2021-07-13 14:06] prathimacode-hub commented on #449
It's already done. @Jagannath8

[2021-07-13 17:59] #449 closed

[2021-07-13 18:15] #399 closed

[2021-07-13 18:27] prathimacode-hub commented on #437
Are you a devincept participant?
 @PrashantVIT1

[2021-07-14 07:33] Akash20x commented on #432
@prathimacode-hub Please check my pull request

[2021-07-14 08:14] #432 closed

[2021-07-14 09:04] prathimacode-hub commented on #441
I asked to add in template not separately. Anyways leave it. @harshita9621

[2021-07-14 09:12] Best-forever-003 opened #452 "Railway Track Fault Detection"
Define You:

NAME: -AAMIR P
USERNAME: Best-forever-003
PROJECT: Railway Track Fault Detection

- [x] DevIncept Participant
- [x] Contributor

**Describe the Bug**

Images to Classify Defective and Non-Defective Railway Track

**Steps to Reproduce**

I'm planning to train the model based on CNN. So, that training accuracy will reach 80%

**Expected Behavior**

If the railway tracks are at fault, ou

[2021-07-14 09:18] prathimacode-hub commented on #452
Wow, it's an innovative project. @Best-forever-003

[2021-07-14 09:18] Best-forever-003 commented on #452
Thanks Madam @prathimacode-hub

[2021-07-14 11:16] Isha307 opened #453 "Shape Analysis"
Title: Shape Analysis
About: Prediction of Shape.
Name: Isha Shaw
Label: Feature Request
Assignee: 'Isha307

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

The aim of project is  to be able to differentiate between shapes.

[Dataset ](https://www.kaggle.com/cactus3/basicshapes) contain  different types of shapes.

[2021-07-14 11:25] prathimacode-hub commented on #453
Can you elaborate more, provide good elaboration in the template about the project. @Isha307

[2021-07-14 12:12] Isha307 commented on #453
@prathimacode-hub I hope it is clear now.

[2021-07-14 16:46] Priyanka333 opened #455 "Experimenting using SVM for Student performance prediction"
Hello

Greetings of the day. :)
My name is  Priyanka Shahane.
I'm DevIncept contributor.

I would like to contribute to your 'Student performance prediction' project by implementing the same concept using SVM algorithm.

[2021-07-14 16:54] prathimacode-hub commented on #455
This is already done, first check if the project is in the repo. Also follow the template given to raise an issue. Come up with a new issue that's not available in this project. @Priyanka333

[2021-07-14 16:54] #455 closed

[2021-07-14 16:55] prathimacode-hub commented on #453
Elaborate the project please.@Isha307

[2021-07-14 17:11] Priyanka333 opened #456 "Using different algorithm for implementation of 'Student Performance Prediction' project"
Hello

This is Priyanka.

- [ ] LGM-SOC'21 Participant
- [ ] DevIncept Participant 8
- [x] Contributor

I just checked the github repository & found that the 'Student Performance Prediction' project is implemented using Decision Tree Regressor, Linear Regression, Lasso Regression and Random Forest Regressor **but not the SVM** so I would like to implement the same using SVM.

[2021-07-14 17:17] prathimacode-hub commented on #456
This can't be worked on. Are you a lgmsoc or devincept participant? @Priyanka333

[2021-07-14 17:38] drashtipatel2503 opened #457 "Employee Attrition Prediction"
title: Employee Attrition Prediction
about:  to predict chances of an employee to leave or retire.
name: Patel Drashti
label: Feature Request
Assignee: ''

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

Basically there are many factors on which attrition of an individual is depended like job satisfaction, salary, age, years in same company, years at same p

[2021-07-14 17:51] prathimacode-hub commented on #457
This is already done. @drashtipatel2503

[2021-07-14 17:55] ainy-123 commented on #20
Sorry, I won't be able to complete this, stuck with some urgent stuffs, unassigning myself.

[2021-07-14 18:01] prathimacode-hub commented on #20
You can't unassign yourself. @ainy-123

[2021-07-15 07:18] prathimacode-hub commented on #455
I shall create new issues to work upon. So you would get enough projects to choose from grabs. @Priyanka333

[2021-07-15 07:18] prathimacode-hub commented on #457
I shal add up more issues up for grabs soon. @drashtipatel2503

[2021-07-15 08:06] #255 closed

[2021-07-15 08:07] prathimacode-hub commented on #254
No update from you yet @suy1968

[2021-07-15 08:09] #456 closed

[2021-07-15 08:10] #457 closed

[2021-07-15 11:30] Akash20x opened #459 "Olympic Medal Prediction"
Define You:

- [ ] LGM-SOC'21 Participant
- [x] DevIncept Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**

I want to add model of Olympic Medal Prediction to predict whether a given athlete will win a medal or not at the Olympics based on their characteristics. I will different classification machine learning algorithms and compare their accuracy.

[2021-07-15 11:34] prathimacode-hub commented on #459
Issue assigned. @Akash20x

[2021-07-15 13:39] #452 closed

[2021-07-15 15:59] rammya29 commented on #367
Please assign this task to me. I would like to work under this project as LGM-SoC . I would like to solve this as a creating a model first by extracting features and doing multiclass classification.

[2021-07-15 16:00] prathimacode-hub commented on #367
Issue assigned. @rammya29

[2021-07-15 17:08] aryantiwari10 opened #460 "Predict Future Sales"
Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [x] Contributor

PROJECT TITLE : Predict Future Sales
please assign this project to me.

GOAL : To predict the future sales.

DATASET : https://www.kaggle.com/c/competitive-data-science-predict-future-sales

WHAT I HAD DONE : In this project first I performed a exploratory data analysis on the Future Sales dataset which includ

[2021-07-15 18:26] prathimacode-hub commented on #460
Issue assigned. @aryantiwari10

[2021-07-15 18:38] #26 closed

[2021-07-16 08:56] #388 closed

[2021-07-16 09:18] #429 closed

[2021-07-16 09:20] #460 closed

[2021-07-16 09:21] shivani6320 commented on #328
I would like to unassign from this issue, because when I try to custom train yolo model with 3000 images, it is giving me CUDA error, in which case my pc's gpu is not compatible with CUDA version, I even tried using google colab but still its giving me errors even after trying to solve for an excessive amount of time now. I hope you understand.
As of now I will learn more about this issue & relate

[2021-07-16 10:33] prathimacode-hub commented on #328
That's great to see your honesty. Sure, issue is unassigned. You can come up with a new issue or choose up from the grabs. 👍@shivani6320

[2021-07-16 10:35] #431 closed

[2021-07-16 10:53] shivani6320 commented on #328
@prathimacode-hub Thank you for understanding. I'll keep contributing to other issues.

[2021-07-16 10:54] prathimacode-hub commented on #328
Sure, sky is the limit. @shivani6320

[2021-07-16 21:31] soma2000-lang commented on #438
@prathimacode-hub

Please assign this task to me. I would like to work under this project  . I would like to solve this as a creating a model first by extracting features and apply Random Forest Classification techniques

[2021-07-17 04:20] PrashantVIT1 commented on #437
yes maam

[2021-07-17 05:22] prathimacode-hub commented on #438
This issue is already worked on. @soma2000-lang

[2021-07-17 05:22] #438 closed

[2021-07-17 06:23] Manasi2001 commented on #453
Go ahead @Isha307.

[2021-07-17 06:25] soma2000-lang opened #463 "Car insurance prediction"
Define You:

- [x] LGM-SOC'21 Participant

**Is your feature request related to a problem? Please describe.**

 @prathimacode-hub ,I want to add a model on the prediction of car insurance prediction.

**Describe the solution you'd like...**

I would do some data analysis by extracting the features and then would implement some Random forest regressor techniques in it

**Describe alternatives you'v

[2021-07-17 06:28] soma2000-lang commented on #463
@prathimacode-hub
Please assign me this

[2021-07-17 06:29] soma2000-lang commented on #438
ok mam,I have opened another  new issue ,kindly check that

On Sat, 17 Jul 2021 at 10:52, Prathima Kadari ***@***.***>
wrote:

[2021-07-17 07:42] prathimacode-hub commented on #463
Are you a participant of LGMSOC or Devincept? @soma2000-lang

[2021-07-17 07:47] soma2000-lang commented on #463
@prathimacode-hub  mam I am a particiapnt of LGMSOC-21

[2021-07-17 07:58] RC2208 opened #464 "Classification of Images using mnist and cifar10 dataset"
Define You:

- [ ] LGM-SOC'21 Participant
- [x] DevIncept Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

Predict what image it is. with good accuracy.

**Describe the solution you'd like...**

Train two models to predict what the image actually is (label). mnist has grey images of digits 0-9 and cifar10 has coloured images of different objects.

[2021-07-17 09:35] prathimacode-hub commented on #463
Issue assigned. @soma2000-lang

[2021-07-17 10:08] shivani6320 opened #466 "IMDB Sentiment Analysis"
Define You:

- [ ] LGM-SOC'21 Participant
- [x] DevIncept Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**
I would Perform Sentiment analysis on IMDB Dataset of 50K Movie Reviews. I'll  do a thorough Exploratory Data Analysis of the dataset and report the final performance metrics.

Dataset : http://ai.stanford.edu/~amaas/data/sentiment/

@prathimac

[2021-07-17 13:55] akash435 opened #467 "Disease Symptom Prediction"
Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

In this will create a model for predicting the symptom of various disease using the information in the dataset.

will use this [here](https://www.kaggle.com/itachi9604/disease-symptom-description-dataset)

And will use different algorithms like
linear regression
logistic regression
decision tree regression
Ran

[2021-07-17 13:55] akash435 commented on #467
@prathimacode-hub please assign this to me under LGM SOC.

[2021-07-17 16:23] prathimacode-hub commented on #467
Assigned. @akash435

[2021-07-17 16:23] prathimacode-hub commented on #466
I guess it's over, can you check it once? @shivani6320

[2021-07-17 16:24] prathimacode-hub commented on #464
Issue not yet assigned, and you had submitted PR? @RC2208

[2021-07-17 16:27] shivani6320 commented on #466
I  checked, There is no project with sentiment analysis on IMDB dataset.

[2021-07-17 16:32] RC2208 commented on #464
Oh sorry I didn't realize it's not assigned yet. I thought I got a notif but i guess it was a different issue. Then what should i do? Close the PR?

[2021-07-17 17:42] Soumayan-pal01 opened #469 "Glass Classification"
---
Title: Glass Classification
About: To classify the type nad purpose of glass
Name: Soumayan Pal
Label: Feature Request
Assignee: 'Soumayan-pal01'

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DCP'21 Participant
- [ ] Contributor

**To classify different types of glass and thier purposes based on the percentage of different minerals present**

**Will be performing EDA and using differen

[2021-07-17 17:43] Soumayan-pal01 commented on #469
I would like to work on 'Model Creation' for this issue @prathimacode-hub .Please assign me if possible.

[2021-07-17 17:53] prathimacode-hub commented on #469
Issue assigned. @Soumayan-pal01

[2021-07-17 18:23] aryantiwari10 opened #470 "Private Companies Prediction"
Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [x] Contributor

PROJECT TITLE : Private Companies Prediction

GOAL : To predict the number of the private limited companies.

DATASET : https://www.kaggle.com/aryantiwari123/privated-limited-companiescsv

WHAT I HAD DONE : In this project first I performed a exploratory data analysis on the Private Companies dataset which inc

[2021-07-17 18:26] prathimacode-hub commented on #470
Issue assigned. @aryantiwari10

[2021-07-18 06:36] pranjall29 opened #472 "Colour Detection"
Define You:

- I am an LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [ ] Contributor

This Project is used to detect various colours that are present in a picture. The image path can be given as an argument using argparse or can be defined in the code itself. Using the colors.csv dataset, we can feed the open cv model with the information regarding colours. This dataset has over 900 colours

[2021-07-18 08:50] Priyanka333 opened #473 "Generating graphs for comparing Kappa Score of different algorithms."
Good afternoon

This is Priyanka Shahane.
I'm DevIncept Participant.

**Describe the Bug**

I would like to contribute to the 'Automated Essay Grading ' project by generating graphs for comparing Kappa Score of different algorithms.

**Steps to Reproduce**

Steps to reproduce the behavior:

1. Import matplotlib library
2. Generating graphs

[2021-07-18 10:18] Priyanka333 commented on #455
Thanks

[2021-07-18 13:49] pranjall29 commented on #472
I would like to work on this project please assign it to me

[2021-07-18 14:24] prathimacode-hub commented on #472
Use multiple algorithms. Issue assigned. @pranjall29

[2021-07-18 14:25] prathimacode-hub commented on #473
So, is this an enhancement to existing project. @Priyanka333

[2021-07-18 14:25] #470 closed

[2021-07-18 14:25] prathimacode-hub commented on #466
Ok, then issue assigned. @shivani6320

[2021-07-18 14:26] prathimacode-hub commented on #464
Yes, I am closing your PR. I am assinged this issue now. Create your PR once again. @RC2208

[2021-07-18 14:34] Priyanka333 commented on #473
Yes...I have added graphs module to compare the accuracy of different algorithms which was not there in the existing project.

[2021-07-18 14:46] prathimacode-hub commented on #473
Ok, great. Issue assigned. @Priyanka333

[2021-07-18 17:38] palak740 opened #475 "Avito Product Analysis and Price Prediction"
Define You:

- [ ] LGM-SOC'21 Participant
- [x] DevIncept Participant
- [x] Contributor

This project is related to product data analysis, the dataset contains various information about different products and its location and shop, based on these factors price of product can be predicted after training regression models on the dataset. The dataset needs a lot of cleanup, through this dataset, I wa

[2021-07-18 18:05] prathimacode-hub commented on #475
Ok, what's the project title? Which product analysis is it? Which product price prediction is it? Which website products you are considering? @palak740

[2021-07-18 18:14] palak740 commented on #475
The dataset contains various products and their ids, based on the input product name and ids, and based on other factors  prices can be predicted. According to kaggle website, these products are from Avito advertisment website.

[2021-07-18 18:20] prathimacode-hub commented on #475
Ok then change the issue title to "Avita Product Analysis and Price Prediction". I am assigning this issue to you. @palak740

[2021-07-18 18:31] palak740 commented on #475
Changed the title, thankyou mam :)

[2021-07-19 03:09] mv1249 opened #476 "Automate Stocks and Crypto Research"
Good Morning,

I am Meet Vaddoriya,a DevIncept Participant

#### I would like to contribute my work on WebScraping and Sentiment Analysis,here is the overview of the project

![overview](https://user-images.githubusercontent.com/64339539/126096750-308e5b7b-7030-46ce-9217-5c86218e5eb9.PNG)

#### Here is the overview of how the deep learning model functions internally

![ModelOverview](https://user-

[2021-07-19 06:01] prathimacode-hub commented on #476
Can you elaborate your issue more in words? And follow the issue template given to know you as devincept participant and add the details according to your project.
@mv1249

[2021-07-19 07:03] mv1249 commented on #476
Define You:

- [ ] LGM-SOC'21 Participant
- [✔] DevIncept Participant
- [ ] Contributor

I am Meet Vaddoriya

I'm a DevIncept Participant

 I would like to contribute my work on WebScraping and Sentiment Analysis,here is the overview of the project

### Project Outcome

Goal is to perform sentiment analysis on the latest stock market news.

### Steps Undertaken to Achieve the Goal

→Scraping data

[2021-07-20 06:34] aryantiwari10 opened #479 "Brazil Fires Prediction"
Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [x] Contributor

PROJECT TITLE : Brazil Fires Prediction
plz assign this project to me.

GOAL : To predict the number of the fires taken place statewise in brazil.

DATASET : https://www.kaggle.com/gustavomodelli/forest-fires-in-brazil

WHAT I HAD DONE : In this project first I performed a exploratory data analysis on the Braz

[2021-07-20 07:27] prathimacode-hub commented on #479
Issue assigned. @aryantiwari10

[2021-07-20 07:28] prathimacode-hub commented on #476
You can keep your project title as "Crypto Research and Stocks Automation Analysis". Issue assigned. @mv1249

[2021-07-20 08:59] #469 closed

[2021-07-20 09:01] #464 closed

[2021-07-20 09:52] #389 closed

[2021-07-20 11:34] #479 closed

[2021-07-21 08:26] vaishnavipatil4848 opened #484 "Object Detection Using OpenCV"
Define You:

 - [ ] LGM-SOC'21 Participant
 - [x] DevIncept Participant
 - [ ] Contributor

Is your feature request related to a problem? Please describe.

I want to perform live object detection using OpenCV. This would in return create Detection model for detecting objects provided in the classic COCO  dataset.

Describe the solution you'd like...
The solution consists of detecting objects live

[2021-07-21 10:38] vaibhavgupta2499 commented on #152
Can you assign me this issue as LGMSOC21 participant ?

[2021-07-21 10:38] prathimacode-hub commented on #484
Issue assigned. @vaishnavipatil4848

[2021-07-21 10:48] prathimacode-hub commented on #152
Yes, let me know of your approach you would follow, algos you would go with and task you are choosing up. So that I could assign it accordingly. @vaibhavgupta2499

[2021-07-21 11:08] vaibhavgupta2499 commented on #152
I am aiming to use multiple category classification. Will that suffice ? Also there are multiple datasets, so should I work on all of them ? My approach will be to first make each character (name) as a separate column, then input True/ False if that particular entry belongs to that character or not.

[2021-07-21 13:41] prathimacode-hub commented on #152
It's upto your choice to choose single or mutiple dataset, yeah multiple category classification would be better as we can see the efficiency and compare the models. That's great. You can proceed. Issue assigned. @vaibhavgupta2499

[2021-07-21 18:24] Umesh-01 opened #485 "Snapchat Filters"
Title: I want to add a project for snapchat filters using Python
Name: Umesh Singh
Label: Feature Request

Define You-
- [x] LGM-SOC'21 Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**
I want to make a project for snapchat filters using python with the help of opencv, numpy, etc.

[2021-07-21 18:34] Umesh-01 commented on #485
@prathimacode-hub mam should I work on this project??

[2021-07-21 18:40] prathimacode-hub commented on #485
Yes, you can proceed. @Umesh-01

[2021-07-23 04:39] aryantiwari10 opened #488 "Supermarket Sales Prediction"
Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [x] Contributor

PROJECT TITLE : Supermarket Sales Prediction
plz assign this project to me.

GOAL : To predict about the supermarket sales .

DATASET : https://www.kaggle.com/aungpyaeap/supermarket-sales

WHAT I HAD DONE : In this project first I performed a exploratory data analysis on the Super market dataset which includes

[2021-07-23 07:40] prathimacode-hub commented on #488
Issue assigned. @prathimacode-hub

[2021-07-25 08:10] #488 closed

[2021-07-25 13:03] Soumayan-pal01 opened #492 "Waste Classification"
---
Title: Waste Classification
About: To classify the type of waste
Name: Soumayan Pal
Label: Feature Request
Assignee: 'Soumayan-pal01'

---

Define You:

- [x] LGM-SOC'21 Participant
- [ ] DCP'21 Participant
- [ ] Contributor

**A Waste management system that classifies different category of waste**

**Will be using CNN and VGG16 model for classification.**

[2021-07-25 13:04] Soumayan-pal01 commented on #492
Hey @prathimacode-hub I would like to work on 'Model Creation' for this issue.

[2021-07-25 13:59] prathimacode-hub commented on #492
Issue assigned. @Soumayan-pal01

[2021-07-26 04:55] vijay3150 opened #493 "Car Prices Prediction"
Define You:

- [ ] LGM-SOC'21 Participant
- [/ ] DevIncept Participant
- [/ ] Contributor

Tiltle : used car prediction .
aim : to predict the price of various used car
dataset : https://www.kaggle.com/avikasliwal/used-cars-price-prediction

assign me to do the project.

[2021-07-26 11:56] #459 closed

[2021-07-26 13:28] aryantiwari10 opened #494 "Graduate Admission Prediction"
Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [x] Contributor

PROJECT TITLE : Graduate Admission Prediction

GOAL : To predict about the Graduate Admissions from an Indian perspective.

DATASET : https://www.kaggle.com/mohansacharya/graduate-admissions

WHAT I HAD DONE : In this project first I performed a exploratory data analysis on the Graduate Admission dataset which

[2021-07-26 14:21] prathimacode-hub commented on #494
Issue assigned. @aryantiwari10

[2021-07-26 14:23] prathimacode-hub commented on #493
Are you a participant of LGMSOC or Devincept? @vijay3150

[2021-07-26 14:30] vijay3150 commented on #493
Devincept mam

[2021-07-27 03:00] #494 closed

[2021-07-27 08:04] prathimacode-hub commented on #493
Ok issue assigned. @vijay3150

[2021-07-27 08:11] #484 closed

[2021-07-28 17:35] #475 closed

[2021-07-29 11:37] Akash20x opened #500 "Book Genre Prediction"
Define You:

- [ ] LGM-SOC'21 Participant
- [x] DevIncept Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**

I want to add model of Book Genre Prediction to predict the genre of the book based on book title and summary. The model will predict among these 6 genres (Fiction", "Fanstasy", "Historical novel", "Horror", "Science Fiction", "Thriller").

I

[2021-07-29 11:43] prathimacode-hub commented on #500
Issue assigned. @Akash20x

[2021-07-29 11:49] drishtibaranwal opened #501 "News Articles Classification"
Define You:

- [√] HacktoberFest Participant
- [ ] Contributor

This model will classify any text into different groups of news like politics, religion, sports, space etc.

[2021-07-29 11:49] drishtibaranwal commented on #501
I want to work on this issue. Please assign me this issue

[2021-07-29 12:05] prathimacode-hub commented on #501
Issue assigned. @drishtibaranwal

[2021-07-29 17:13] aryantiwari10 opened #503 "Memepool Prediction"
Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [x] Contributor

PROJECT TITLE : Memepool Prediction

GOAL : To predict about the memepool in detail.

DATASET : https://www.kaggle.com/aryantiwari123/memepool

WHAT I HAD DONE : In this project first I performed a exploratory data analysis on the Memepool dataset which includes of data cleaning , data manipulation, data prepr

[2021-07-30 12:15] anubhav201241 opened #504 "Face Eye Detection"
Define You:

- [x] LGM-SOC'21 Participant
- [x] DevIncept Participant
- [ ] Contributor

I want to Contribute to your Project Face Eye Detection which can detect the eye and the face with the use of Open cv and Python

@prathimacode-hub Kindly assign this issue to me :)

[2021-07-30 16:58] prathimacode-hub commented on #504
This is already done. Kindly come up with another issue to work on. Make sure the project isn't in the repo. @anubhav201241

[2021-07-30 16:59] prathimacode-hub commented on #503
Issue assigned. @aryantiwari10

[2021-07-30 18:41] anubhav201241 commented on #504
@prathimacode-hub can I contribute Social Distance Detection code?

[2021-07-31 09:41] prathimacode-hub commented on #504
Yes, but first create an issue using template given and get it assigned before you start working. @anubhav201241

[2021-07-31 11:38] seanbenhur commented on #328
Hi, @prathimacode-hub I would like to work on this issue!, and should the submission format only follow a single  jupyter notebook/python file!?

[2021-07-31 11:57] prathimacode-hub commented on #328
Glad to know. I had provided the project structure in README where it would fetch you an idea of all the files needed for a full end project. If any queries, feel free to ask and project file should be in .ipynb format @seanbenhur

[2021-08-01 09:23] dilroseR opened #505 "Customer Income Segmentation Analysis"
Define You:

- [x] DevIncept Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**
Goal: To group customers into 5 categories:
- low income low spending
- low income high spending
- medium income medium spending
- high income low spending
- high income high spending

**Describe the solution you'd like...**
I would like to group them using KMeans Algorith

[2021-08-02 11:48] #441 closed

[2021-08-02 11:54] #466 closed

[2021-08-02 12:11] #492 closed

[2021-08-02 12:14] prathimacode-hub commented on #505
First thing, change the issue title as "Customer Income Segmentation Analysis". Then only one algorithm doesn't suffice. You need to work with atleast 3 algorithms and compare the efficiency across. If that's ok, I shall assign it to you. @dilroseR

[2021-08-02 12:14] #504 closed

[2021-08-02 12:27] dilroseR commented on #505
ok with it

[2021-08-02 12:42] prathimacode-hub commented on #505
Issue assigned. @dilroseR

[2021-08-02 12:45] prathimacode-hub commented on #152
No update from you yet, It's been 12days since issue is assigned. @vaibhavgupta2499

[2021-08-02 12:46] prathimacode-hub commented on #183
No update from you with PR yet. @coding-geek21

[2021-08-02 12:47] prathimacode-hub commented on #367
Its been 18days since issue is assigned. @rammya29

[2021-08-02 12:48] #311 closed

[2021-08-02 12:49] prathimacode-hub commented on #356
Its been 23days and no update from you yet neither PR turned up. @swetha28

[2021-08-02 12:50] prathimacode-hub commented on #372
Its been 23days since assigned and no PR yet. Kindly work on it. @harshita9621

[2021-08-02 12:51] prathimacode-hub commented on #396
Its been 25days and no PR from you yet. @Shivani-Khare

[2021-08-02 12:51] prathimacode-hub commented on #424
Its been 23 days and no PR form you yet. @khushi-purwar

[2021-08-02 12:52] vaibhavgupta2499 commented on #152
@prathimacode-hub Mam, Please just give me one more day, I will surely complete the project by tomorrow.

[2021-08-02 12:52] prathimacode-hub commented on #426
@sujay2306 are you willing to work on this issue or not

[2021-08-02 12:55] prathimacode-hub commented on #453
Is this issue done by you or still pending? @Isha307

[2021-08-02 12:55] prathimacode-hub commented on #467
Its been 16days issue assigned, no PR yet. @akash435

[2021-08-02 12:56] prathimacode-hub commented on #472
Its been 15days since issue was assigned and no PR yet. @pranjall29

[2021-08-02 12:56] prathimacode-hub commented on #493
Its been 6 days and no update from you yet. @vijay3150

[2021-08-02 12:57] prathimacode-hub commented on #500
Its been 4 days and no update yet

[2021-08-02 12:57] akash435 commented on #467
yes mam i tried to do it, but getting error in implementing more models

[2021-08-02 12:58] Akash20x commented on #500
@prathimacode-hub I will complete it till tommorow and send the pull request

[2021-08-02 13:03] pranjall29 commented on #472
will be making a PR request till today night. sorry for the delay.

[2021-08-02 13:20] coding-geek21 commented on #183
Sorry I won't be able to complete this issue. I will unassign myself

[2021-08-02 13:45] prathimacode-hub commented on #152
Ok. @vaibhavgupta2499

[2021-08-02 13:46] swetha28 commented on #356
As I mentioned in the channel, this dataset is very huge. Shall I take any other Spotify dataset from Kaggle?

[2021-08-02 13:50] prathimacode-hub commented on #356
Yes, you can take up another dataset to work on from kaggle. @swetha28

[2021-08-02 13:50] prathimacode-hub commented on #467
Ok, sure. @akash435

[2021-08-02 13:51] prathimacode-hub commented on #500
Ok. @Akash20x

[2021-08-02 13:52] prathimacode-hub commented on #472
Ok, no issue as long as you inform. @pranjall29

[2021-08-02 13:53] prathimacode-hub commented on #183
Ok, fine. That's upto you. I will unassign. @coding-geek21

[2021-08-02 16:49] pranjall29 commented on #472
I am having difficulty pushing the code to my forked repository. Do I push it to the main branch or create a feature branch?

[2021-08-02 18:11] vaibhavgupta2499 commented on #152
Mam, I have been able to make models for prediction, but the results are not so good. I have user two models, one is Decision Tree, and other is Logistic Regression. As there is only one instance of each class. Please see this file - https://github.com/vaibhavgupta2499/ColabWorks/blob/main/marvel_char.ipynb

[2021-08-03 03:11] vijay3150 commented on #493
Done its ready to complete, sure i submit today mam.

[2021-08-03 12:37] prathimacode-hub commented on #472
Push it to main branch, if you have any queries or need help don't hesitate to ask. @pranjall29

[2021-08-04 03:21] vijay3150 commented on #493
mam, my laptop has some issue and the data were removed and I think I am unable to contribute towards the project so un assign me from this project mam

[2021-08-04 05:29] #503 closed

[2021-08-04 05:36] #20 closed

[2021-08-04 05:38] #61 closed

[2021-08-04 05:39] prathimacode-hub commented on #152
Is everything going fne? @vaibhavgupta2499

[2021-08-04 05:41] vaibhavgupta2499 commented on #152
Yes Mam, working on the problems. Will update you with the details in a day or two. Thank you mam.

[2021-08-04 05:41] prathimacode-hub commented on #367
Update please? @rammya29

[2021-08-04 05:41] prathimacode-hub commented on #372
Update please. @harshita9621

[2021-08-04 05:41] prathimacode-hub commented on #396
Update please. @Shivani-Khare

[2021-08-04 05:41] prathimacode-hub commented on #424
Update please. @khushi-purwar

[2021-08-04 05:42] prathimacode-hub commented on #426
no update. @sujay2306

[2021-08-04 05:43] prathimacode-hub commented on #436
No update on your PR yet. @jeffryjames

[2021-08-04 05:44] prathimacode-hub commented on #453
no update. @Isha307

[2021-08-04 06:26] Shivani-Khare commented on #396
Yes Yes, will be done today.
Apologies for the delay.

[2021-08-04 06:29] rammya29 commented on #367
Sorry mam, busy with exams. Assign to someone else mam. Sorry for inconvenience

[2021-08-04 09:07] prathimacode-hub opened #511 "Update the "Look Through the Kart of Amazing Projects" in README - Part 2"
Hey, LGMSOC participants. Good to see you here.

Good first issue up for grabs. There are in total '157' projects listed out in the section of "Look Through the Kart of Amazing Projects" in README.md.

Currently, the repo exists with 198 projects. If anyone is interested to take up this good first issue can come forward and express your interest.

Point to Note : The projects should be added in al

[2021-08-04 09:33] prathimacode-hub opened #512 "Quora Insincere Questions Classification Analysis & Prediction"
Hey LGM-SoC / DCP participants, good to see you.

This project will help us in classifying and detecting the toxic comments in quora.

Dataset : https://www.kaggle.com/c/quora-insincere-questions-classification

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

[2021-08-04 09:37] prathimacode-hub opened #513 "Mortality Rate Analysis & Prediction"
Hey LGM-SoC / DCP participants, good to see you.

This project will help us in analyzing and predicting the mortality rate using the provided dataset.

Dataset : https://www.kaggle.com/navinmundhra/world-mortality

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

[2021-08-04 09:41] prathimacode-hub opened #514 "Pnuemonia Disease Prediction"
Hey LGM-SoC / DCP participants, good to see you.

This project will help us in predicting the pneumonia disease using the dataset given

Dataset : https://www.kaggle.com/broach/weekly-cdc-pneumonia-cases

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

[2021-08-04 09:43] prathimacode-hub opened #515 "Body Posture Correction using OpenCV"
Hey LGM-SoC / DCP participants, good to see you.

This project will help us in correcting your body posture using OpenCV

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

[2021-08-04 09:49] prathimacode-hub opened #516 "Butterfly Classification Analysis"
Hey LGM-SoC / DCP participants, good to see you.

This project will help us in analyzing and classifying the various species of butterflies using dataset given

Dataset : https://www.kaggle.com/bertcarremans/butterfly-images

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

[2021-08-04 09:56] prathimacode-hub opened #517 "Clothing Hole Detection using OpenCV"
Hey LGM-SoC / DCP participants, good to see you.

This project will help us in detecting the holes in the clothings when an image is inputted

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

[2021-08-04 10:00] prathimacode-hub opened #518 "Ramen Noodles Ratings Aanlysis"
Hey LGM-SoC / DCP participants, good to see you.

This project will help us in analyzing and visualizing the ratings of Ramen Noodles company country wise based on popularity, top brands and top ten ratings.

Dataset : https://www.kaggle.com/residentmario/ramen-ratings?select=ramen-ratings.csv

If you like to work on this issue, follow the given guidelines for code as well as for the README. You c

[2021-08-04 10:08] prathimacode-hub opened #519 "Vehicles and Pedestrian Tracking using OpenCV"
Hey LGM-SoC / DCP participants, good to see you.

This project will help us in tracking vehicles and pedestrians crossing across the signals.

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

[2021-08-04 10:15] prathimacode-hub opened #520 "Voice Gender Identification"
Hey LGM-SoC / DCP participants, good to see you.

This project will help us in identifying the gender of the voice

Dataset : https://www.kaggle.com/primaryobjects/voicegender

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

[2021-08-04 10:20] prathimacode-hub opened #521 "Soil Moisture Prediction"
Hey LGM-SoC / DCP participants, good to see you.

This project will help us in predicting the moisture of the soil to check if it's wet or dry

Dataset : https://www.kaggle.com/amirmohammdjalili/soil-moisture-dataset

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

[2021-08-04 10:24] prathimacode-hub opened #522 "Crop Fertilizers Analysis and Prediction"
Hey LGM-SoC / DCP participants, good to see you.

This project will help us in analyzing and predicting the fertilizers needed for the specific crops

Dataset : https://www.kaggle.com/gdabhishek/fertilizer-prediction

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

[2021-08-04 10:31] prathimacode-hub opened #523 "Salt Deposits Identification & Prediction"
Hey LGM-SoC / DCP participants, good to see you.

This project will help us in identifying and predicting the salt deposits beneath the earth's surface.

Dataset : https://www.kaggle.com/c/tgs-salt-identification-challenge

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

[2021-08-04 10:46] prathimacode-hub opened #524 "Hairstyles Classification"
Hey LGM-SoC / DCP participants, good to see you.

This project will help us in classifying various hairstyles using the given dataset

Dataset : https://www.kaggle.com/charaiveti/women-hairstyles

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

[2021-08-04 11:06] prathimacode-hub opened #525 "Electricity Outage Prediction"
Hey LGM-SoC / DCP participants, good to see you.

This project will help us in predicting the outage of electricity using the dataset provided

Dataset : https://www.kaggle.com/autunno/15-years-of-power-outages

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

[2021-08-04 11:34] prathimacode-hub opened #526 "Tokyo Olympics Visualization Data Analysis"
Hey LGM-SoC / DCP participants, good to see you.

This project will help us in analyzing and visualizing the data of Tokya Olympics using the dataset provded.

Dataset : https://www.kaggle.com/arjunprasadsarkhel/2021-olympics-in-tokyo

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-08-04 11:36] vaibhavgupta2499 opened #527 "Next Word Prediction"
Hey LGM-SoC / DCP participants, good to see you.

This project will help us in predicting the Next Word in a Sentence, based on the present sequence of words in the sentence.

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try the problem by using publicly available datasets, and comparing the results for different algorithms.

[2021-08-04 11:39] vaibhavgupta2499 opened #528 "Barcode and QR code Recognition"
Hey LGM-SoC / DCP participants, good to see you.

This project will help us in Recognition of Information stored through Barcode and QR Code, with the help of Python.

Barcode Dataset : https://www.kaggle.com/whoosis/barcode-detection-annotated-dataset
QRcode Dataset : https://www.kaggle.com/coledie/qr-codes

If you like to work on this issue, follow the given guidelines for code as well as for th

[2021-08-04 11:42] vaibhavgupta2499 opened #529 "Contact Tracing with Machine Learning"
Hey LGM-SoC / DCP participants, good to see you.

This project will help us in estimating the number of people getting physically contacted by another person (might be infected) to detect infection spread.

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try using GPS coordinates based dataset, and using different algorithms, like clusteri

[2021-08-04 11:45] vaibhavgupta2499 opened #530 "Lung Segmentation using Computer Vision"
Hey LGM-SoC / DCP participants, good to see you.

This project will help us in prediction of Lung Cancer, based on segmentation of images, using Computer Vision.

Dataset : https://wiki.cancerimagingarchive.net/display/Public/Lung+CT+Segmentation+Challenge+2017

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using differ

[2021-08-04 11:47] vaibhavgupta2499 opened #531 "Image Caption Generator"
Hey LGM-SoC / DCP participants, good to see you.

This project will help us in formation for caption of images.

Dataset : https://www.kaggle.com/hsankesara/flickr-image-dataset

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

[2021-08-04 11:48] vaibhavgupta2499 opened #532 "Sound Detection"
Hey LGM-SoC / DCP participants, good to see you.

This project will help us in prediction of different sounds.

Dataset : https://urbansounddataset.weebly.com/urbansound8k.html

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

[2021-08-04 11:59] Isha307 commented on #453
@prathimacode-hub I am sorry. I was little busy, I need two more days then I will create the PR.

[2021-08-04 12:08] prathimacode-hub commented on #307
HYou had already worked on this earlier I guess. @harshita9621

[2021-08-04 12:17] prathimacode-hub commented on #453
Sure go ahead. @Isha307

[2021-08-04 12:26] #485 closed

[2021-08-04 12:37] prathimacode-hub opened #533 "Covid-19 Data Analysis"
Hey peeps! This project being a very popular choice is opened again for your contributions. But you can only do the analysis that has not been done before. So, if you feel like you can bring something new to the table then show your interest and get this issue assigned to you.

This issue is again open for contributions. Here are the datasets to follow. You can choose any one of the datasets to pe

[2021-08-04 12:38] #95 closed

[2021-08-04 12:38] #307 closed

[2021-08-04 12:38] DayneMoonsamy commented on #511
Hello

I'm new to Open source contributions. Could I take care of this problem for my first contribution.

[2021-08-04 12:43] prathimacode-hub commented on #511
Yes you can. By the way are you a contributor or DCP/LGMSOC participant? @DayneMoonsamy

[2021-08-04 12:51] DayneMoonsamy commented on #511
Not sure what those are.

Could you tell me what they are or I could find out myself.

[2021-08-04 12:52] DayneMoonsamy commented on #511
Just to be clear my task is to go through every missing project and get a basic description so I can add the name and description to the base ReadMe.

[2021-08-04 13:40] #500 closed

[2021-08-04 13:43] prathimacode-hub commented on #511
Yes exactly in alphabetical order. You can provide a description based on the project done. @DayneMoonsamy

[2021-08-04 18:04] vaibhavgupta2499 opened #535 "Named Entity Recognition"
Hey LGM-SoC / DCP participants, good to see you.

This project will help us in prediction of the type of Entity a particular word represent, like Noun, Verb, et cetera.

Dataset : https://www.kaggle.com/abhinavwalia95/entity-annotated-corpus

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms.

[2021-08-04 18:20] vaibhavgupta2499 opened #536 "NYPD Shooting Data Analysis"
Hey LGM-SoC / DCP participants, good to see you.

This project will help us in performing Analysis and Detection of potential threat locations, and estimation of number of casualties.

Dataset : https://www.kaggle.com/saurabhshahane/nypd-shooting-data-historic

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using differe

[2021-08-04 18:29] vaibhavgupta2499 opened #537 "Estimating Entrepreneurial Capacity in Student"
Hey LGM-SoC / DCP participants, good to see you.

This project will help us in Estimating Entrepreneurial Capacity among University students.

Dataset : https://www.kaggle.com/namanmanchanda/entrepreneurial-competency-in-university-students

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms, like

[2021-08-04 18:37] vaibhavgupta2499 opened #538 "Prediction of Subject based on Question (NLP)"
Hey LGM-SoC / DCP participants, good to see you.

This project will help us in Prediction of Subject based on Question, for exams of IITJEE, NEET, AIIMS.

Dataset : https://www.kaggle.com/mrutyunjaybiswal/iitjee-neet-aims-students-questions-data

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different NLP algorith

[2021-08-04 19:33] aryantiwari10 opened #539 "Reddit Tweets Prediction"
Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [x] Contributor

In this project first I first performed a exploratory data analysis on the given dataset which includes of data cleaning , data manipulation, data preprocessing , data visualization and after that we used NLP for the stopwords removal and cleaning, after using NLP we did the model building using different mach

[2021-08-05 05:28] prathimacode-hub commented on #539
Issue assigned. @aryantiwari10

[2021-08-05 09:44] Soumayan-pal01 commented on #538
Hey @prathimacode-hub I would like to work on 'Model Creation' this issue. Please assign me if possible.

[2021-08-05 10:50] prathimacode-hub commented on #538
Issue assigned. @Soumayan-pal01

[2021-08-05 11:03] #539 closed

[2021-08-05 11:11] #467 closed

[2021-08-05 11:33] DayneMoonsamy commented on #511
Hey Prathima. Last question. The alphabetical order in the ReadMe is not going to match the folder order for different projects since Github orders the folders like COVID19 before Campus Placement because of the caps. That's fine right?

[2021-08-05 11:54] prathimacode-hub commented on #511
Yes, it's ok. That's an odd one out I knew about it. @DayneMoonsamy

[2021-08-05 14:14] khushi-purwar commented on #424
I am getting errors in SVM , Logistic regression algorithm, Only Naive byes is working fine. That's why I am not able to complete this issue.

[2021-08-05 14:26] akash435 commented on #527
@prathimacode-hub can i work on this issue under LGM SOC

will use [this](https://www.kaggle.com/gdabhishek/fertilizer-prediction) dataset

Will be working on model creation

will use different visualization graph and

use different algorithms like
linear regression
logistic regression
decision tree regression
Random Forest classifier
K Neighbor Classifier
XG boost classifier

and compare the the

[2021-08-05 14:58] #511 closed

[2021-08-05 15:02] prathimacode-hub commented on #527
Yes, sure. Issue assigned. @akash435

[2021-08-05 15:12] akash435 commented on #527
@prathimacode-hub I made a very silly mistake, like I was supposed to work on #522, I included the dataset of that issue here and wrote every thing in this issue got assigned.
So can you please unassign me from this and assign me issue #522.

[2021-08-05 15:13] akash435 commented on #522
@prathimacode-hub can i work on this issue under LGM SOC

Will be working on model creation

will use different visualization graph and

use different algorithms like
linear regression
logistic regression
decision tree regression
Random Forest classifier
K Neighbor Classifier
XG boost classifier

and compare the the accuracy among them

[2021-08-05 15:23] prathimacode-hub commented on #527
Ok I will. No worries. @akash435

[2021-08-05 15:24] prathimacode-hub commented on #522
Issue assigned. @akash435

[2021-08-05 18:08] Umesh-01 opened #546 "Face Detection and Blurring"
Title: A project for Face Detection and Blurring
**Name: Umesh Singh**
Label: Feature Request

Define You-
- [x] LGM-SOC'21 Participant
- [x] Contributor

### Solution For Issue:
I want to make a project for detection of face from any image and also we can apply the blurring effect on them like we see in images and videos that some part of image is blurred, but we will be using python for this pro

[2021-08-06 09:25] #538 closed

[2021-08-06 09:31] #463 closed

[2021-08-06 09:38] prathimacode-hub commented on #546
Hmm, script is good and unique but are you using ML in this? @Umesh-01

[2021-08-06 09:42] prathimacode-hub commented on #424
Ok, what's the error you are getting. Else you can try it up with other algos available. @khushi-purwar

[2021-08-06 09:42] prathimacode-hub commented on #372
@harshita9621 Kindly provide updates. @harshita9621

[2021-08-06 09:43] prathimacode-hub commented on #356
Update please. @swetha28

[2021-08-06 09:43] prathimacode-hub commented on #254
Are you working on this issue or not? @suy1968

[2021-08-06 10:23] suy1968 commented on #254
Maam please assign other because in this time my interview held @prathimacode-hub

[2021-08-06 10:36] seanbenhur commented on #328
Hi, @prathimacode-hub , sorry due to GPU issue, I was not able to complete this project, can you please unassign me from this issue!?, It would help me to contribute in other projects

Thanks,
Sean

[2021-08-06 10:38] prathimacode-hub commented on #254
Ok sure. @suy1968

[2021-08-06 10:38] seanbenhur commented on #535
Hi @vaibhavgupta2499 , I would like to work on this!

[2021-08-06 10:39] prathimacode-hub commented on #328
Ok, sure. Issue unassigned. @seanbenhur

[2021-08-06 10:41] prathimacode-hub commented on #535
You are a participant of? @seanbenhur

[2021-08-06 10:42] seanbenhur commented on #535
I am LGMSOC21 participant

[2021-08-06 10:42] prathimacode-hub commented on #535
Ok, issue assigned. @seanbenhur

[2021-08-06 10:44] #522 closed

[2021-08-06 11:30] aryantiwari10 opened #549 "Flood Prediction"
Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [x] Contributor

PROJECT TITLE : Flood Prediction

GOAL : To predict the about the floods in detail.

WHAT I HAD DONE : In this project first I performed a exploratory data analysis on the Flood dataset which includes of data cleaning , data manipulation, data preprocessing , data visualization and after that I did the model b

[2021-08-06 11:51] prathimacode-hub commented on #549
Issue assigned. @aryantiwari10

[2021-08-06 12:02] Soumayan-pal01 commented on #524
I would like on 'Model Creation' for this issue. Please assign me if possible. Thank you @prathimacode-hub

[2021-08-06 13:10] abhisheks008 commented on #518
@prathimacode-hub I am up for this issue.

- [x] DCP Participant

Approach : I will do these following processes with this dataset.
1. Understanding the data
2. Cleaning the data
3. Visualizing the data
4. Analyze the data

Task Taken : Model Creation
Issue #518

Please assign me this issue.

[2021-08-06 13:15] abhisheks008 commented on #520
@prathimacode-hub I am up for this issue.
Approach : I will be using the following steps for creating the model.
1. EDA
2. Data Cleaning
3. Data Processing
4. Model Creation [LR, KNN, Decision Tree, Random Forest, Gradient Boosting, SVM]
5. Hyper Parameter Tuning
6. Accuracy Checking

- [x] DCP Participant

Task Taken : Model Creation
Issue #520

Please assign me this issue.

[2021-08-06 13:16] abhisheks008 commented on #520
I will work on this issue after #518

[2021-08-06 13:33] prathimacode-hub commented on #524
Issue assigned. @Soumayan-pal01

[2021-08-06 13:34] prathimacode-hub commented on #518
Issue assigned. @abhisheks008

[2021-08-06 15:10] abhisheks008 commented on #520
@prathimacode-hub Please assign me this issue!

[2021-08-06 15:39] #549 closed

[2021-08-06 15:42] #518 closed

[2021-08-06 15:43] prathimacode-hub commented on #520
Issue assigned. @abhisheks008

[2021-08-06 15:59] akash435 commented on #493
@prathimacode-hub Can I work on this issue?

I will use different visualization graph and

will use different algorithms like
decision tree regression
Random Forest classifier
K Neighbor Classifier
XG boost classifier

and compare the the accuracy among them

[2021-08-06 16:02] prathimacode-hub commented on #493
Yes, you can. Issue assigned.

[2021-08-06 17:03] abhisheks008 commented on #523
@prathimacode-hub I am up for this issue.

Approach : I will be using Convolution Neural Network architectures for creating the model and the accuracy will be judged based on the accuracy scores.

Architecture : U-net with ResNet

Issue #523
Topic : model creation

[2021-08-06 17:04] #520 closed

[2021-08-06 17:11] #505 closed

[2021-08-06 17:15] prathimacode-hub commented on #523
Issue assigned. @abhisheks008

[2021-08-06 17:16] prathimacode-hub commented on #523
As DCP participant right? @abhisheks008

[2021-08-07 05:29] abhisheks008 commented on #523
Yup! DCP Participant. Sorry ma'am my bad!

[2021-08-07 08:00] aryantiwari10 opened #555 "Discussion Forum Prediction"
Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [x] Contributor

Project Title : Discussion Forum Prediction

Task : To predict about the discussion forums in detail.

In this project first we first performed a exploratory data analysis on the given dataset which includes of data cleaning , data manipulation, data preprocessing , data visualization and after that we used NL

[2021-08-07 08:04] #535 closed

[2021-08-07 08:10] prathimacode-hub commented on #555
Issue assigned. @aryantiwari10

[2021-08-07 09:25] prathimacode-hub commented on #356
9th is the last date to accept PR's. If you wouldn't do it by then, obviously you can submit later but points won't be counted towards DCP program. @swetha28

[2021-08-07 10:54] #523 closed

[2021-08-07 17:40] Umesh-01 commented on #546
yes @prathimacode-hub mam

[2021-08-07 18:03] prathimacode-hub commented on #546
What are the libraries that would be used? @Umesh-01

[2021-08-07 18:33] Umesh-01 commented on #546
@prathimacode-hub mam it will use libraries like-
- opencv
- numpy
- matplotlib
- mtcnn
- tensorflow

[2021-08-08 05:06] #555 closed

[2021-08-08 05:08] prathimacode-hub commented on #546
Ok i shall assign this issue as you are using tensor flow. @Umesh-01

[2021-08-08 07:17] vaibhavgupta2499 commented on #152
Mam, I have been working on the project, implemented different models, but the accuracy is Zero. Can you please help. The code is here - https://github.com/vaibhavgupta2499/ColabWorks/blob/main/marvel_char.ipynb

[2021-08-08 10:59] prathimacode-hub commented on #152
It's because classes are not defined properly. Seems to be change in type of classes. @vaibhavgupta2499

[2021-08-08 18:33] Umesh-01 opened #558 "Detecting Motion and Moving Objects in a Video"
Define You-

- [x] LGM-SOC'21 Participant
- [x] Contributor

Title:
A project for detecting motion in moving objects in a video
**Name: Umesh Singh**
Label: Feature Request

### Solution For Issue:
I want to make a project that can help us to detect the motion of objects in videos using some libraries in python. I will be adding working instructions for the project in the readme file with some scr

[2021-08-08 18:37] Umesh-01 commented on #558
@prathimacode-hub mam should I start working on this project??

[2021-08-09 07:04] #546 closed

[2021-08-09 07:05] prathimacode-hub commented on #558
Can you elaborate it more? @Umesh-01

[2021-08-09 07:24] aryantiwari10 opened #559 "Customer Modeling Analysis"
Define You:

- [x] LGM-SOC'21 Participant
- [ ] DevIncept Participant
- [x] Contributor

PROJECT TITLE : Customer Modeling Analysis

GOAL : To predict about the customers modeling using ANN .

WHAT I HAD DONE : In this project first I performed a exploratory data analysis on the Customer Modeling dataset which includes of data cleaning , data manipulation, data preprocessing , data visualization a

[2021-08-09 08:20] prathimacode-hub commented on #559
Issue assigned. @aryantiwari10

[2021-08-09 08:24] prathimacode-hub commented on #493
Ooops, I am sorry to say but this issue is already done. Since issue is already assigned Its not right to get you back off. So let's do one thing. In "Car Prices Prediction" folder, add up your full name as your project folder and in that particular repo do add all your files in right project structure as you had done earlier. @akash435

[2021-08-09 08:25] prathimacode-hub commented on #453
Any update? @Isha307

[2021-08-09 08:26] prathimacode-hub commented on #396
No update still. @Shivani-Khare

[2021-08-09 08:57] #473 closed

[2021-08-09 16:14] #559 closed

[2021-08-09 16:57] prathimacode-hub commented on #493
Kindly do it by tomorrow. As last date to merge PR is tomorrow. @akash435

[2021-08-09 16:59] prathimacode-hub commented on #453
Are you willing to do it or not? As last date to merge PR's is tomorrow. If not done by tomorrow, I would have to remove the label. Its been 23days since issue is assigned. @Isha307

[2021-08-09 17:00] akash435 commented on #493
yes mam, tomorrow I will.

[2021-08-09 17:00] prathimacode-hub commented on #424
Are you able to do it or not? Atleast reply to msgs. As last date to merge PR's is tomorrow. If not done by tomorrow, I would have to remove the label. Its been near a month since issue is assigned. @khushi-purwar

[2021-08-09 17:02] prathimacode-hub commented on #396
Are you willing to do it or not? As last date to merge PR's is tomorrow. If not done by tomorrow, I would have to remove the label. Its been more than a month since issue is assigned. @Shivani-Khare

[2021-08-09 17:03] prathimacode-hub commented on #372
Are you willing to do it or not? As last date to merge PR's is tomorrow. If not done by tomorrow, I would have to remove the label. Its been more than a month since issue is assigned. @harshita9621

[2021-08-09 17:04] prathimacode-hub commented on #152
Are you able to do it or not? As last date to merge PR's is tomorrow. If not done by tomorrow, I would have to remove the label. @vaibhavgupta2499

[2021-08-09 17:07] vaibhavgupta2499 commented on #152
Please give me time till tomorrow. I will try my best to complete it by then.

[2021-08-09 17:13] prathimacode-hub commented on #152
Ok, but I need to submit the report by evening. Make sure you do it before 4pm. @vaibhavgupta2499

[2021-08-09 17:16] Umesh-01 commented on #558
@prathimacode-hub mam I will take a video of some moving objects and then based on the position of those objects, will identify whether the object is in motion or not...

[2021-08-09 17:24] vaibhavgupta2499 commented on #152
Please un-assign me this. Can I take up some other issue ?

[2021-08-09 17:26] prathimacode-hub commented on #558
Ok, but can you assure you can finish it off by tomorrow? @Umesh-01

[2021-08-09 18:09] Umesh-01 commented on #558
Yes mam, I will do..

[2021-08-10 07:20] khushi-purwar commented on #424
No, it is not completed. Sorry for the inconvenience.

[2021-08-10 07:34] #493 closed

[2021-08-10 07:38] #558 closed

[2021-08-10 07:41] prathimacode-hub commented on #524
Hey sorry to say, but time is up for LGMSOC. Team had winded up. Unfortunately I have to remove the label. But no worries you can continue working and submit up the project. @Soumayan-pal01

[2021-08-10 07:43] prathimacode-hub commented on #453
Sorry to say but time is up for the program. So I have to remove the label. But no worries, you can continue working and submit the project except the fact that it won't be counted under program. @Isha307

[2021-08-10 07:46] prathimacode-hub commented on #152
Sorry to say, But time is up now. Team has winded it up. They did say no more PR's with respect to the program. No worries,  I can assign you other issue but it won't be counted under LGMSOC program. If u r fine with it, I shall do. @vaibhavgupta2499

[2021-08-10 07:52] prathimacode-hub commented on #424
Ok, no issue. Hope you could complete it off in 2 days or so. But label has to been removed as per the instructions of the team. @khushi-purwar

[2021-08-10 07:54] prathimacode-hub commented on #396
Sorry, label has to removed now as pe their instructions. You can work on it if possible in 2 days or so ASAP. But it won't be counted under the program as time is up for it. @Shivani-Khare

[2021-08-10 07:54] prathimacode-hub commented on #372
Sorry, label has to removed now as pe their instructions. You can work on it if possible in 2 days or so ASAP. But it won't be counted under the program as time is up for it. @harshita9621

[2021-08-10 07:55] prathimacode-hub commented on #356
Sorry, label has to removed now as pe their instructions. You can work on it if possible in 2 days or so ASAP. But it won't be counted under the program as time is up for it. @swetha28

[2021-08-10 07:57] Soumayan-pal01 commented on #524
No its okay, actually got a bit busy with my internship works. Please unassign me as I think I won't be able to work on this issue anytime soon @prathimacode-hub . It was a great experience to contribute to your repo and thank you so much for all of your encouraging compliments.

[2021-08-10 08:16] vaibhavgupta2499 commented on #152
@prathimacode-hub No thank you. I will contribute to this repo, later, independently. It was nice working with you.

[2021-08-10 11:47] prathimacode-hub commented on #524
Most welcome. No worries, take your time. And come energetic. Glad to know you as contributor. Obviously a great experience. Loved to have you associate and grow in this repo. Your contributions are immense and valuable. Everything said by me is an appreciation and you deserve it. All the best for ur future endeavours and open source journey ahead. 🏆💰👏@Soumayan-pal01

[2021-08-11 16:28] Soumayan-pal01 commented on #524
Thank you @prathimacode-hub 😇

[2021-08-11 18:21] prathimacode-hub commented on #356
Any update? @swetha28

[2021-08-11 18:21] prathimacode-hub commented on #396
Any update? @Shivani-Khare

[2021-08-11 18:21] prathimacode-hub commented on #372
Any update? @harshita9621

[2021-08-11 18:23] prathimacode-hub commented on #453
Any update? @Isha307

[2021-08-13 06:41] dikshita-1905 commented on #526
Tokyo Olympics Visualization Data Analysis #526

Goal - To perform Exploratory Data Analysis using PYTHON to analyze and visualize past Olympics data.
By using data analysis and data visualization, we can extract meaningful information by plotting different charts and graphs.

DATASET
https://www.kaggle.com/arjunprasadsarkhel/2021-olympics-in-tokyo

DESCRIPTION
Tokyo Olympics was really an awaitin

[2021-08-13 06:48] abhisheks008 commented on #526
_Before going to create a prediction model for 2024, analyze the data briefly, as it is the main motto of this project!_

Issue assigned @dikshita-1905. All the best!

[2021-08-13 08:24] prathimacode-hub commented on #526
@dikshita-1905 Good choice of project and glad to see your interest. But only change it needs here is you had added a README here as comment. Instead add the issue template provided in README file of this project. To make it simple, you can find the issue template [here](https://github.com/prathimacode-hub/ML-ProjectKart/blob/main/.github/ISSUE_TEMPLATE/feature_request.md). Do the changes accordin

[2021-08-13 17:46] khushi-purwar commented on #424
Not able to complete.

[2021-08-14 08:42] abhisheks008 commented on #424
No worries @khushi-purwar. This issue is open, you can take up this issue later on if you wanna contribute in this. All the best for your future open source journey. Good luck! 👍

[2021-08-14 10:21] #437 closed

[2021-08-15 13:36] dikshita-1905 commented on #526
Yess Sir .Defintely I'll focus more on analyzing the data.

[2021-08-18 04:27] abhisheks008 commented on #526
Hey, @dikshita-1905 any update on your progress?

[2021-08-20 15:58] abhisheks008 commented on #526
It's been 5 days since you've taken the issue, at least try to put an update here so that we can track your work progress. Please update your progress regarding this issue @dikshita-1905

[2021-08-21 08:25] prathimacode-hub commented on #526
@dikshita-1905 Provide up with the update of the issue you are working on to @abhisheks008. Max time for any PR is 5 days with the timely update of your progress once in 3 days to the least. If any queries, don't hesitate to ask instead of being stuck so that project progresses in a better manner.

[2021-08-23 05:52] dikshita-1905 commented on #526
Yess  @abhisheks008 sir and @prathimacode-hub  I have completed with some of the visualisations. Trying to add some more visualizations in the project.

[2021-08-23 05:54] dikshita-1905 commented on #526
Sorry for the delay !  I was unaware that the PR has to be made with 5 days. I'll try to complete it as soon as possible.

[2021-08-23 06:58] prathimacode-hub commented on #526
No issue, but keep us updated. @dikshita-1905

[2021-08-23 17:51] dikshita-1905 commented on #526
@prathimacode-hub ma'am  and @abhisheks008 sir I have linked a pull request. Do check it out and pls let me know if any more changes are to be done to the project.

[2021-09-29 05:16] Harish-Soni1 commented on #530
hello I want to contribute in this repo regards this issue

[2021-09-29 05:23] abhisheks008 commented on #530
Tell us in detail what will be your approach, which dataset you wanna use, how will you implement this, then only we can assign you this issue. @Harish-Soni1

[2021-09-29 05:27] Harish-Soni1 commented on #530
At the very first step - the date-set is provided by the link you mention above

[2021-09-29 05:29] Harish-Soni1 commented on #530
At the very first step - the date-set is provided by the link you mention above and perform data augmentations if required ( if dataset has no variety )

second step - label and create annotations files for all images.

[2021-09-29 05:30] Harish-Soni1 commented on #530
At the very first step - the date-set is provided by the link you mention above and perform data augmentations if required ( if dataset has no variety )

second step - label and create annotations files for all images.

third step - train a model over dataset with annotations file.

[2021-09-29 05:56] Harish-Soni1 commented on #530
At the very first step - the date-set is provided by the link you mention above and perform data augmentations if required ( if dataset has no variety )

* if images in dataset are dicam images then I extract information and array of image and then convert array into image so taht I can easily do annotations .

second step - label and create annotations files for all images.

third step - train a

[2021-09-29 06:30] Harish-Soni1 commented on #530
hello sir

[2021-09-29 07:42] Harish-Soni1 commented on #529
hello sir, may you please elaborate more on issue

[2021-09-29 08:48] Harish-Soni1 commented on #530
@abhisheks008 sir, is this issue assigned to other ?

[2021-09-29 10:08] prathimacode-hub commented on #529
@Harish-Soni1, this issue is about predicting the estimation of number of people who can get contracted to disease by the spread.

[2021-09-29 10:41] Harish-Soni1 commented on #529
for this I have to collect data by myself right. If yes then please do let me know so that I work on my approach

[2021-09-30 02:14] Harish-Soni1 commented on #533
Hello @prathimacode-hub, how can I contribute in this

[2021-09-30 03:38] Harish-Soni1 commented on #529
can Is start work on it

[2021-09-30 03:53] Harish-Soni1 commented on #530
Sir may I work on it ?

[2021-09-30 10:59] Harish-Soni1 commented on #529
@prathimacode-hub mam ?

[2021-10-01 03:58] prathimacode-hub commented on #533
You want to contribute as part of any event or in general? @Harish-Soni1

[2021-10-01 04:12] prathimacode-hub commented on #530
I would like to know are you a participating as part of any open source program or it's a general contribution? @Harish-Soni1

[2021-10-01 04:19] Harish-Soni1 commented on #530
@prathimacode-hub this is for hacktoberfest but I will trying to contribute something valuable to your repository.

[2021-10-01 04:39] NEERAJAP2001 opened #564 "Add Face Clustering Project"
Define You:

- [x] Hacktoberfest2021 Participant
- [ ] Contributor

Face clustering we need to perform unsupervised learning — we have only the faces themselves with no names/labels. From there we need to identify and count the number of unique people in a dataset.

As a quick breakdown, here is everything you’ll need in your Python environment:
* OpenCV
* dlib
* imutils
* scikit-learn

@prathimac

[2021-10-01 05:18] ashish-reddy-20-08 commented on #533
@prathimacode-hub , Can i work on this issue mam.

[2021-10-01 05:20] prathimacode-hub commented on #533
Yes, you can proceed. Issue assigned to @ashish-reddy-20-08

[2021-10-01 05:25] prathimacode-hub commented on #529
Are you part of any open source program? @Harish-Soni1

[2021-10-01 05:25] deepthi1107 commented on #564
please do assign me

[2021-10-01 05:26] deepthi1107 commented on #514
please do assign me mam

[2021-10-01 05:26] deepthi1107 commented on #516
please do assign me

[2021-10-01 05:27] ashish-reddy-20-08 commented on #513
@prathimacode-hub , Can you please assign me this mam.

[2021-10-01 05:28] deepthi1107 commented on #254
please do assign me mam @prathimacode-hub

[2021-10-01 05:28] ashish-reddy-20-08 commented on #426
@prathimacode-hub , can i work on this mam.

[2021-10-01 05:28] ashish-reddy-20-08 commented on #183
@prathimacode-hub , Can i work on this mam

[2021-10-01 05:35] prathimacode-hub commented on #530
Ok cool. Issue assigned to @Harish-Soni1

[2021-10-01 05:39] ashish-reddy-20-08 commented on #521
@prathimacode-hub , can you please assign me this

[2021-10-01 05:40] ashish-reddy-20-08 commented on #525
@prathimacode-hub , can you please assign me this

[2021-10-01 05:41] prathimacode-hub commented on #564
Issue assigned to @NEERAJAP2001

[2021-10-01 06:00] NEERAJAP2001 opened #567 "Add Cartoonify Image using KMeans Algorithm"
Define You:

- [x] Hacktoberfest2021 Participant
- [ ] Contributor

This project would be one of such inspirations in which cartoon images and videos using only core OpenCV filters and functions. It also will be using a K-means clustering algorithm to compress the image. This clustering gives it the basic cartoonish tinge it requires.

Algorithm- K_Means Clustering
Filters-Bilateral Filter, Contou

[2021-10-01 06:41] prathimacode-hub commented on #567
Issue assigned to @NEERAJAP2001

[2021-10-01 06:43] prathimacode-hub commented on #514
Issue assigned to @deepthi1107

[2021-10-01 07:08] Harish-Soni1 commented on #530
thank you mam

[2021-10-01 08:08] vanshika230 opened #569 "CodePeak 2025 : Medical Insurance Cost Prediction"
Define You:

- [x] CodePeak 2025 Participant
- [ ] Contributor

## I'd like to make a Medical Insurance Cost Prediction Model using Linear Regression.

-  It  uses Age, Sex, bmi, children, smoker and region as Independent features
-  The dependent feature is the Medical Insurance charges

## Workflow :-

1️⃣  Data collection and analysis
2️⃣ Data Preprocessing
3️⃣  Train_test_spilt
4️⃣  Applying L

[2021-10-01 08:33] KhushiChaudhary744 commented on #501
Hey, I am a hacktoberfest participant and will love to contribute here!

[2021-10-01 14:47] #564 closed

[2021-10-01 14:48] #567 closed

[2021-10-01 15:50] ramya-neelakantan commented on #527
Hello @prathimacode-hub! I'd like to contribute to this project.
Please assign this to me.
I plan to use probabilities of letters in a dataset to predict the next **character** which should be written in the sentence.

[2021-10-01 15:55] ramya-neelakantan commented on #4
Hello @prathimacode-hub ! I've made a request to assign the 'next word prediction' project to me as a part of hacktoberfest 2021, but I also have some ideas for a movie recommendation system.

I plan to use KNN algorithm to make the predictions, which will be preceded by some data preprocessing.

If this idea gets approved by you, then I'll be more interested in pursuing this.

[2021-10-01 16:02] ramya-neelakantan opened #570 "Movie Recommendation System."
Define You:

- [x] Hacktoberfest2021 Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**
I'd like to work on a movie recommendation system that predicts movies based on certain predictions and reviews on similar movies.

To predict movies on the basis of ratings and other parameters for users. An advanced version of this is used in apps like Netflix, A

[2021-10-01 16:02] prathimacode-hub commented on #527
Issue assigned to @ramya-neelakantan

[2021-10-01 16:13] NEERAJAP2001 opened #571 "Add Face Verification using Deep Learning"
Define You:

- [x] Hacktoberfest2021 Participant
- [ ] Contributor

Face Verification: This is done using the Facet model. Used a trained facnet model to compare the captured image with images in the database to verify a person's face.
Reference:
Paper : [Here](https://arxiv.org/pdf/1503.03832.pdf)
MTCN Pretrained Model: [Here](https://github.com/ipazc/mtcnn)
FaceNet Pretrained Model: [Here](https

[2021-10-01 16:20] NEERAJAP2001 opened #572 "Face Emotion Detection without a neural Network"
Define You:

- [x] Hacktoberfest2021 Participant
- [ ] Contributor

Problem Statement :
Given a data set consisting of facial images and their sketches, retrieve all images (real and /or sketch) which are similar to the given test image, along with attributes of the image such as expression.

Non-neural network approach:
* K Nearest Neighbours (with k = 5, minkowski distance with p = 2)
* Support

[2021-10-01 16:46] prathimacode-hub commented on #572
Issue assigned to @NEERAJAP2001

[2021-10-02 03:18] iamarecklessdev commented on #4
@prathimacode-hub , I wish to contribute to this repository with my project as a part of Hacktoberfest 2021.

I wish to upload a Women Shopping Sentiment Analysis Project which uses Sequential CNN. Could you please create an issue for the same?

[2021-10-02 05:01] ramya-neelakantan commented on #527
@prathimacode-hub,
Do I have to make any changes to the pull request I have sent?

[2021-10-02 06:51] prathimacode-hub commented on #570
You can work on it once you finish off the earlier PR. @ramya-neelakantan

[2021-10-02 06:51] prathimacode-hub commented on #569
Yes, you can proceed but use multiple algorithms and provide proper comparison of accuracies at end with the conclusion. @vanshika230

[2021-10-02 06:52] prathimacode-hub commented on #571
Issue assigned to @NEERAJAP2001

[2021-10-02 08:51] harshita9621 commented on #426
@prathimacode-hub can you please assign me this mam. I am part of hacktoberfest2021.

[2021-10-02 15:11] tanvideshmukh29 commented on #533
@prathimacode-hub
I would love to contribute mam as a part of hacktoberfest2021.
Can  you assign this to me?

[2021-10-02 15:14] tanvideshmukh29 commented on #527
@prathimacode-hub
Can I work on this issue as a part of hacktoberfest 2021.
I like to do it using NLP.
Please assign this to me.

[2021-10-02 15:15] tanvideshmukh29 commented on #514
@prathimacode-hub
I would love to contribute mam as a part of hacktoberfest2021.
Can you assign this to me?

[2021-10-02 15:23] tanvideshmukh29 commented on #569
@prathimacode-hub
I would love to contribute mam as a part of hacktoberfest2021.
Can you assign this to me?

[2021-10-02 15:24] tanvideshmukh29 commented on #476
@prathimacode-hub
I would love to contribute mam as a part of hacktoberfest2021.
Can you assign this to me?

[2021-10-02 16:18] ramya-neelakantan commented on #570
Maam I have submitted a pull request on the earlier one (Next word prediction)... Please let me know if any changes are required

[2021-10-02 18:05] tanvideshmukh29 commented on #424
@prathimacode-hub
I would love to contribute as a participant of hacktoberfest2021.
Can you assign this to me?

[2021-10-02 18:07] tanvideshmukh29 commented on #501
@prathimacode-hub
I would love to contribute as a participant of hacktoberfest2021.
Can you plz assign it to me.

[2021-10-02 18:09] tanvideshmukh29 commented on #529
@prathimacode-hub
I would love to contribute as a participant of hacktoberfest2021.
I will make a project using sentiment Analysis.

[2021-10-03 06:02] prathimacode-hub commented on #570
Ok, issue assigned. @ramya-neelakantan

[2021-10-03 06:03] prathimacode-hub commented on #525
Yes, issue assigned to @ashish-reddy-20-08

[2021-10-03 06:03] prathimacode-hub commented on #521
Already an issue is assigned to you. @ashish-reddy-20-08

[2021-10-03 06:04] prathimacode-hub commented on #516
Issue assigned to @deepthi1107

[2021-10-03 06:05] prathimacode-hub commented on #513
Already an issue is assigned. @ashish-reddy-20-08

[2021-10-03 06:05] prathimacode-hub commented on #501
Issue assigned to @KhushiChaudhary744

[2021-10-03 06:06] prathimacode-hub commented on #476
Issue assigned to @tanvideshmukh29

[2021-10-03 06:08] prathimacode-hub commented on #436
Already an issue is assigned @deepthi1107

[2021-10-03 06:08] prathimacode-hub commented on #426
Issue assigned to @harshita9621

[2021-10-03 06:10] prathimacode-hub commented on #254
Already an issue is assigned. @deepthi1107

[2021-10-03 19:13] kavyasree-2020 opened #579 "Add Kyphosis Disease classification project"
Define You:

- [x] Hacktoberfest2021 Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

Kyphosis is a spinal disorder in which an excessive outward curve of the spine results in an abnormal rounding of the upper back.

**Describe the solution you'd like...**

This project allow us to predict the presence or absence of Kyphosis based on the Kyphosis d

[2021-10-04 07:13] KhushiChaudhary744 commented on #501
Thanks! I am on it!

[2021-10-04 13:23] NikitaEmberi commented on #424
@prathimacode-hub ma'am and @abhisheks008 sir, I would like to implement text classification using NLP where I will be fetching tweets from twitter live and classify them using TextBlob library. In addition to this, I would like to add another feature, wherein if the tweets are labelled as being negative, then I will be checking if the user has suicidal tendency using LinearSVC classifier. Please

[2021-10-05 07:36] prathimacode-hub commented on #579
Issue assigned to @kavyasree-2020

[2021-10-05 17:07] krishnova commented on #536
---

          Title: NYPD Shooting Data Analysis

Sneegdh Krishnna
---

- [✅] Hacktoberfest2021 Participant
- [✅ ] Contributor

**Description:**

I would try to analyze & understand the factors that led to the shootings, the rate of killings relative to race & ethnicity, and how it can be minimized.

@vaibhavgupta2499 @prathimacode-hub  I would like to work on this under the Hacktoberfest '21

[2021-10-05 18:42] Sidhved opened #586 "CartPole Balancing using DQN"
Define You:

- [X] Hacktoberfest2021 Participant
- [X] Contributor

**Is your feature request related to a problem? Please describe.**
CartPole problem is the problem of balancing the CartPole. CartPole is the structure where a pole is attached to the cart and the cart is free to slide across the frictionless surface. By sliding the cart left or right, the CartPole is balanced.

**Describe the sol

[2021-10-06 09:13] Sidhved commented on #586
@prathimacode-hub on some research, I have found that I can also add Mountain Climbing as a new feature in addition to the CartPole. Can you please assign me this issue under Hacktoberfest2021?

[2021-10-07 04:50] sy07 commented on #514
Hi mam, I would like to work on this issue as Hacktoberfest participant. Please assign me to this task if possible.

[2021-10-09 08:24] freny24 opened #589 "Social Distancing Detector"
Define You:

- [x] Hacktoberfest2021 Participant
- [x] Contributor

**Describe the solution you'd like...**
Build a model to detect Social distance among people in crowded. Define and elaborate the deep learning techniques and libraries required for the same.

**Approach to be followed (optional):**
1. README.md file -  give clear description of the project
2.  .ipynb or .py file
3. config file(if

[2021-10-09 08:25] freny24 commented on #589
@prathimacode-hub  I have created the issue and updated the issue no in PR. Kindly Review.

[2021-10-12 11:41] prathimacode-hub commented on #570
Update please? @ramya-neelakantan

[2021-10-12 11:42] prathimacode-hub commented on #531
Issue assigned to @KhushiChaudhary744

[2021-10-12 11:43] prathimacode-hub commented on #530
Update please? @Harish-Soni1

[2021-10-12 12:00] vanshika230 commented on #569
Ma'am I'll upload the work by tomorrow, I had exams till today so I couldn't do it. Apologies for the late work and failure to update🙏

[2021-10-16 18:55] murari-goswami commented on #532
Hello, Can you please assign this to me? I am working in an audiology-based hearing aid company. This is very well fir with my expertise and area of work, I will love to contribute. Thanks in advance.

[2021-10-30 05:31] prathimacode-hub opened #595 "Avacado Price Prediction"
Hey Hacktober participants, good to see you.

This project will help us in predicting the price of avacado using dataset provided.

Dataset : https://www.kaggle.com/neuromusic/avocado-prices

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to compare it using different algorithms (atleast 3).

[2021-10-30 05:33] photon149 commented on #595
/assign

[2021-10-30 05:34] prathimacode-hub opened #596 "Anime Recommendation Systems"
Hey Hacktober participants, good to see you.

This project will help us in provided appropriate recommendations using ratings provided on anime dataset.

Dataset : https://www.kaggle.com/CooperUnion/anime-recommendations-database

If you like to work on this issue, follow the given guidelines for code as well as for the README. You can try to provide overall analysis using visualizations and sugge

[2021-10-30 05:35] prathimacode-hub commented on #595
Sure, issue assigned. You can proceed. @photon149

[2021-10-30 05:36] photon149 commented on #596
I would like to work on the same , will provide a detailed EDA as well as apply a recommendation model to give the anime recommendations

[2021-10-30 05:38] prathimacode-hub commented on #596
Issue assigned. Get going. @photon149

[2021-10-30 05:46] prathimacode-hub commented on #514
By when are you expected to do? Fest is about to end? @sy07

[2021-10-30 05:50] #589 closed

[2021-10-30 05:51] prathimacode-hub commented on #530
By when are you expected to do? Fest is about to end? @Harish-Soni1

[2021-10-30 05:52] prathimacode-hub commented on #531
By when are you expected to do? Fest is about to end? @KhushiChaudhary744

[2021-10-30 05:52] prathimacode-hub commented on #569
By when are you expected to do? Fest is about to end? @vanshika230

[2021-10-30 05:52] prathimacode-hub commented on #536
By when are you expected to do? Fest is about to end? @krishnova

[2021-10-30 05:53] prathimacode-hub commented on #570
Oops, its already done then. I haven't noticed it. More a day is available, if you're interested you can chose another issue to work on. @ramya-neelakantan

[2021-10-30 05:54] prathimacode-hub commented on #572
By when are you expected to do? Fest is about to end? @NEERAJAP2001

[2021-10-30 05:55] prathimacode-hub commented on #586
I have reviewed and suggested the changes. By when are you expected to do? Fest is about to end? @Sidhved

[2021-10-30 05:55] prathimacode-hub commented on #501
By when are you expected to do? Fest is about to end? @KhushiChaudhary744

[2021-10-30 05:56] prathimacode-hub commented on #426
By when are you expected to do? Fest is about to end? @harshita9621

[2021-10-30 05:57] NEERAJAP2001 commented on #572
Thanks! But I'm still devoleping the project.
I'll come back once it's done.

[2021-10-30 05:57] #572 closed

[2021-10-30 07:29] prathimacode-hub commented on #572
Why have you closed it? @NEERAJAP2001

[2021-10-30 07:32] sy07 commented on #514
Please unassign me from this task because I won't be able to complete it.

[2021-10-30 07:40] KhushiChaudhary744 commented on #501
Hey, sorry for the delay. I got caught up in college activities. By tonight for sure.

[2021-10-30 07:41] KhushiChaudhary744 commented on #531
I don't think I will be able to complete this soon. But if possible I did like to work even after the fest is over.

[2021-10-30 07:55] prathimacode-hub commented on #514
Ok, sure

[2021-10-30 07:56] prathimacode-hub commented on #501
Glad to know. Go ahead. @KhushiChaudhary744

[2021-10-30 07:57] prathimacode-hub commented on #531
Sure, no worries. If you would like to work after fest is over. I'll keep the assignment intact. @KhushiChaudhary744

[2021-10-30 15:24] #595 closed

[2021-10-31 11:10] #596 closed

[2021-10-31 14:38] #501 closed

[2021-10-31 14:41] #586 closed

[2022-01-15 08:51] dikshita-1905 commented on #537
Hello, I am interested in this project. Can you please assign me this project?

[2022-01-15 09:51] prathimacode-hub commented on #537
Yes, you can proceed on work on it. @dikshita-1905

[2022-01-19 06:42] dikshita-1905 commented on #537
Yes, ma'am I am working on it.

[2022-10-02 12:04] navya-Singla-1-3-0-9 commented on #528
Hey, is this issue open for hacktoberfest 2022? If yes, can you please assign this issue to me?

[2022-10-03 04:40] NEERAJAP2001 opened #599 "New filter into the Snapchat filters Folder"
Define You:

- [x] Hacktoberfest2022 Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**

I'd like to add a new filter into the Snapchat filters folder:

Filter : ( I will be using cropped version )
![this](https://user-images.githubusercontent.com/65017645/193595737-a52ec900-7f20-411d-bb9c-f289d191b616.png)

We, Will, be using :

* Python
* The progra